<div class="vf-horizontal-steppers--container vf-js-horizontal-steppers">
  <div class="vf-horizontal-steppers--step">
    <div
      id="vf-horizontal-step-1"
      class="vf-horizontal-steppers--bullet-default"
    >
      <span class="vf-horizontal-steppers--icon"></span>
    </div>
    <label for="vf-horizontal-step-1">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step">
    <div
      id="vf-horizontal-step-2"
      class="vf-horizontal-steppers--bullet-default vf-horizontal-steppers--active-default"
    >
      <span class="vf-horizontal-steppers--icon"></span>
    </div>
    <label for="vf-horizontal-step-2">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step">
    <div
      id="vf-horizontal-step-3"
      class="vf-horizontal-steppers--bullet-default"
    >
      <span class="vf-horizontal-steppers--icon"></span>
    </div>
    <label for="vf-horizontal-step-3">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step">
    <div
      id="vf-horizontal-step-4"
      class="vf-horizontal-steppers--bullet-default"
    >
      <span class="vf-horizontal-steppers--icon"></span>
    </div>
    <label for="vf-horizontal-step-4">Lorem ipsum</label>
  </div>
</div>

<hr />

<div class="vf-horizontal-steppers--container">
  <div class="vf-horizontal-steppers--step-mobile">
    <div
      id="vf-horizontal-step-1"
      class="vf-horizontal-steppers--bullet-numbers-mobile"
    >
      <span class="vf-horizontal-steppers--numbers">1</span>
    </div>
    <label for="vf-horizontal-step-1">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step-mobile">
    <div
      id="vf-horizontal-step-2"
      class="vf-horizontal-steppers--bullet-numbers-mobile"
    >
      <span class="vf-horizontal-steppers--numbers">2</span>
    </div>
    <label for="vf-horizontal-step-2">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step-mobile">
    <div
      id="vf-horizontal-step-3"
      class="vf-horizontal-steppers--bullet-numbers-mobile vf-horizontal-steppers--active-numbers-mobile"
    >
      <span class="vf-horizontal-steppers--numbers">3</span>
    </div>
    <label for="vf-horizontal-step-3">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step-mobile">
    <div
      id="vf-horizontal-step-4"
      class="vf-horizontal-steppers--bullet-numbers-mobile"
    >
      <span class="vf-horizontal-steppers--numbers">4</span>
    </div>
    <label for="vf-horizontal-step-4">Lorem ipsum</label>
  </div>
</div>
