<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progress indicator</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../../../style/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/fonts.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/standard.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/component-css/icons.css"
    />
    <style>
      ul {
        list-style: inherit;
        margin-left: 21px;
        padding: 1rem 0;
      }

      .container {
        margin: 0 auto;
        width: 75%;
      }

      .vf-horizontal-steppers--container {
        margin: 2rem 0;
      }
    </style>
  </head>
  <body>
    <div class="container">{{content}}</div>
    <script src="index.js"></script>
    <script src="../../../components/indicators/progress-indicator.js"></script>
  </body>
</html>
