<h3 style="margin: 1rem 0">Text button</h3>
<div>
  <a href="#" class="vf-link-with-arrow">Text Button</a>
</div>

<hr />

<h3 style="margin: 1rem 0">Small text button</h3>
<div>
  <a href="#" class="vf-link-with-arrow vf-link-with-arrow--small"
    >Text Button</a
  >
</div>
