<h3 style="margin: 1rem 0">Large buttons</h3>
<div class="vf-button__container">
  <button type="button" class="vf-btn vf-btn--lg vf-btn__primary">
    Primary
  </button>
  <button type="button" class="vf-btn vf-btn--lg vf-btn__secondary">
    Secondary
  </button>
  <button type="button" class="vf-btn vf-btn--lg vf-btn__tertiary">
    Tertiary
  </button>
  <button type="button" disabled class="vf-btn vf-btn--lg vf-btn__tertiary">
    Disabled
  </button>
</div>

<h3 style="margin: 1rem 0">Medium buttons</h3>
<div class="vf-button__container vf-button__container--medium">
  <button type="button" class="vf-btn vf-btn__primary">Primary</button>
  <button type="button" class="vf-btn vf-btn__secondary">Secondary</button>
  <button type="button" class="vf-btn vf-btn__tertiary">Tertiary</button>
  <button type="button" disabled class="vf-btn vf-btn__tertiary">
    Disabled
  </button>
</div>

<h3 style="margin: 1rem 0">Pressed/active buttons</h3>
<div class="vf-button__container">
  <button
    type="button"
    class="vf-btn vf-btn--lg vf-btn__primary active"
    role="button"
    aria-pressed="true"
  >
    Primary
  </button>
  <button
    type="button"
    class="vf-btn vf-btn--lg vf-btn__secondary active"
    role="button"
    aria-pressed="true"
  >
    Secondary
  </button>
</div>

<h3 style="margin: 1rem 0">Full width buttons</h3>
<button type="button" class="vf-btn vf-btn--lg vf-btn__primary vf-btn--block">
  Primary
</button>
<button type="button" class="vf-btn vf-btn--lg vf-btn__secondary vf-btn--block">
  Secondary
</button>
