.vf-container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  clear: left;
}
@media (min-width: 375px) {
  .vf-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 576px) {
  .vf-container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .vf-container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .vf-container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-container {
    max-width: 1160px;
  }
}

@media screen and (min-width: 576px) {
  .vf-container--tight {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .vf-container--tight {
    max-width: 600px;
  }
}
@media screen and (min-width: 992px) {
  .vf-container--tight {
    max-width: 774px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-container--tight {
    max-width: 960px;
  }
}

.vf-container-bleed {
  margin-right: auto;
  margin-left: auto;
  max-width: 1680px;
}
@media screen and (max-width: 767.98px) {
  .vf-container-bleed {
    padding-left: 0;
    padding-right: 0;
  }
}

.vf-container-fluid {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 375px) {
  .vf-container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.vf-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.vf-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.vf-no-gutters > .vf-col,
.vf-no-gutters > [class*=vf-col-] {
  padding-right: 0;
  padding-left: 0;
}

.vf-col-xl,
.vf-col-xl-auto, .vf-col-xl-12, .vf-col-xl-11, .vf-col-xl-10, .vf-col-xl-9, .vf-col-xl-8, .vf-col-xl-7, .vf-col-xl-6, .vf-col-xl-5, .vf-col-xl-4, .vf-col-xl-3, .vf-col-xl-2, .vf-col-xl-1, .vf-col-lg,
.vf-col-lg-auto, .vf-col-lg-12, .vf-col-lg-11, .vf-col-lg-10, .vf-col-lg-9, .vf-col-lg-8, .vf-col-lg-7, .vf-col-lg-6, .vf-col-lg-5, .vf-col-lg-4, .vf-col-lg-3, .vf-col-lg-2, .vf-col-lg-1, .vf-col-md,
.vf-col-md-auto, .vf-col-md-12, .vf-col-md-11, .vf-col-md-10, .vf-col-md-9, .vf-col-md-8, .vf-col-md-7, .vf-col-md-6, .vf-col-md-5, .vf-col-md-4, .vf-col-md-3, .vf-col-md-2, .vf-col-md-1, .vf-col-sm,
.vf-col-sm-auto, .vf-col-sm-12, .vf-col-sm-11, .vf-col-sm-10, .vf-col-sm-9, .vf-col-sm-8, .vf-col-sm-7, .vf-col-sm-6, .vf-col-sm-5, .vf-col-sm-4, .vf-col-sm-3, .vf-col-sm-2, .vf-col-sm-1, .vf-col,
.vf-col-auto, .vf-col-12, .vf-col-11, .vf-col-10, .vf-col-9, .vf-col-8, .vf-col-7, .vf-col-6, .vf-col-5, .vf-col-4, .vf-col-3, .vf-col-2, .vf-col-1 {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.vf-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.vf-col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.vf-col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.vf-col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.vf-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.vf-col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.vf-col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.vf-col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.vf-col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.vf-col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.vf-col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.vf-col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.vf-col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.vf-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.vf-offset-1 {
  margin-left: 8.3333333333%;
}

.vf-offset-2 {
  margin-left: 16.6666666667%;
}

.vf-offset-3 {
  margin-left: 25%;
}

.vf-offset-4 {
  margin-left: 33.3333333333%;
}

.vf-offset-5 {
  margin-left: 41.6666666667%;
}

.vf-offset-6 {
  margin-left: 50%;
}

.vf-offset-7 {
  margin-left: 58.3333333333%;
}

.vf-offset-8 {
  margin-left: 66.6666666667%;
}

.vf-offset-9 {
  margin-left: 75%;
}

.vf-offset-10 {
  margin-left: 83.3333333333%;
}

.vf-offset-11 {
  margin-left: 91.6666666667%;
}

@media screen and (min-width: 576px) {
  .vf-col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .vf-col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .vf-col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .vf-col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .vf-col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .vf-col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .vf-col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .vf-col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .vf-col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .vf-col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .vf-col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .vf-col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .vf-col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .vf-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .vf-offset-sm-0 {
    margin-left: 0;
  }

  .vf-offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .vf-offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .vf-offset-sm-3 {
    margin-left: 25%;
  }

  .vf-offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .vf-offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .vf-offset-sm-6 {
    margin-left: 50%;
  }

  .vf-offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .vf-offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .vf-offset-sm-9 {
    margin-left: 75%;
  }

  .vf-offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .vf-offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .vf-col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .vf-col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .vf-col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .vf-col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .vf-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .vf-col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .vf-col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .vf-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .vf-col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .vf-col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .vf-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .vf-col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .vf-col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .vf-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .vf-offset-md-0 {
    margin-left: 0;
  }

  .vf-offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .vf-offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .vf-offset-md-3 {
    margin-left: 25%;
  }

  .vf-offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .vf-offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .vf-offset-md-6 {
    margin-left: 50%;
  }

  .vf-offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .vf-offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .vf-offset-md-9 {
    margin-left: 75%;
  }

  .vf-offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .vf-offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .vf-col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .vf-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .vf-col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .vf-col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .vf-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .vf-col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .vf-col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .vf-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .vf-col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .vf-col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .vf-col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .vf-col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .vf-col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .vf-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .vf-offset-lg-0 {
    margin-left: 0;
  }

  .vf-offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .vf-offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .vf-offset-lg-3 {
    margin-left: 25%;
  }

  .vf-offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .vf-offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .vf-offset-lg-6 {
    margin-left: 50%;
  }

  .vf-offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .vf-offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .vf-offset-lg-9 {
    margin-left: 75%;
  }

  .vf-offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .vf-offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .vf-col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .vf-col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .vf-col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .vf-col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .vf-col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .vf-col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .vf-col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .vf-col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .vf-col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .vf-col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .vf-col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .vf-col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .vf-col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .vf-col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .vf-offset-xl-0 {
    margin-left: 0;
  }

  .vf-offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .vf-offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .vf-offset-xl-3 {
    margin-left: 25%;
  }

  .vf-offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .vf-offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .vf-offset-xl-6 {
    margin-left: 50%;
  }

  .vf-offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .vf-offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .vf-offset-xl-9 {
    margin-left: 75%;
  }

  .vf-offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .vf-offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}
.vf-row--vertical-center {
  display: flex;
  align-items: center;
}
