.vf-body-copy__large {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 36px;
  margin: 0;
}

.vf-body-copy__small {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  margin: 0;
}
