.vf-checkbox__input {
  appearance: none;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #a4a9ac;
  border-radius: 4px;
  cursor: pointer;
  height: 28px;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  width: 28px;
}
.vf-checkbox__input:checked {
  border-color: #a4a9ac;
}
.vf-checkbox__input::before {
  color: #d8d8d8;
  content: "\e97f";
  font-family: "vf-icons";
  font-size: 1.125rem;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.vf-checkbox__input:hover::before {
  opacity: 1;
  transform: scale(1);
}
.vf-checkbox__input:disabled {
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: auto;
  color: #ccc;
}

.vf-checkbox__input:checked.vf-checkbox__input:disabled::before {
  color: #4e4b48;
}

.vf-checkbox__input:checked.vf-checkbox__input::before {
  color: #4e4b48;
  content: "\e97f";
  font-family: "vf-icons";
  font-size: 1.125rem;
  left: 4px;
  opacity: 1;
  position: absolute;
  top: 4px;
  transform: scale(1);
}
