.vf-intro-in-caps {
  font-family: "Vattenfall Hall NORDx";
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-intro-in-caps {
    font-size: 1rem;
    font-weight: bold;
    line-height: 36px;
  }
}
