.vf-expo-carousel {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.vf-expo-carousel .vf-component__large-heading {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .vf-expo-carousel .vf-component__large-heading {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .vf-expo-carousel .vf-component__large-heading {
    font-size: 4.5rem;
  }
}
.vf-expo-carousel__wrapper {
  display: flex;
  height: 100%;
  overflow: scroll hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scrollbar-width: none;
}
.vf-expo-carousel__wrapper::-webkit-scrollbar {
  appearance: none;
}
.vf-expo-carousel__buttons {
  bottom: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  position: absolute;
  right: 3rem;
}
@media screen and (min-width: 768px) {
  .vf-expo-carousel__buttons {
    right: 6rem;
  }
}
.vf-expo-carousel__button {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  justify-content: center;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
  height: 1.5rem;
  width: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .vf-expo-carousel__button {
    font-size: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
.vf-expo-carousel__button.active {
  background-color: #2071b5;
  color: #fff;
}
.vf-expo-carousel__observer .vf-expo-slide__content-container {
  opacity: 0;
}
.vf-expo-carousel__observer .vf-expo-slide__content-container.fade-in {
  animation: 0.3s ease-in 0.6s forwards fadeAndSlideIn;
}
.vf-expo-carousel__arrow--prev, .vf-expo-carousel__arrow--next {
  align-items: center;
  background-color: #fff;
  background-size: 2rem;
  background-position: 2px 3px;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  top: 50%;
  transition: background-color 0.25s ease-in;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  width: 40px;
  z-index: 10;
}
.vf-expo-carousel__arrow--prev {
  left: 1rem;
}
.vf-expo-carousel__arrow--next {
  left: auto;
  right: 1rem;
}
.vf-expo-carousel .vf-expo-carousel__content-anchor {
  align-items: center;
  bottom: 3rem;
  cursor: pointer;
  display: flex;
  left: 6rem;
  -webkit-font-smoothing: antialiased;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .vf-expo-carousel .vf-expo-carousel__content-anchor {
    display: none;
  }
}
.vf-expo-carousel .vf-expo-carousel__content-anchor-link {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .vf-expo-carousel .vf-expo-carousel__content-anchor-link {
    font-size: 1.25rem;
  }
}
.vf-expo-carousel .vf-expo-carousel__content-anchor-link::before {
  content: "";
  height: 3rem;
  width: 3rem;
}
.vf-expo-carousel .vf-expo-carousel__content-anchor .vf-icon-down {
  color: #fff;
  margin-right: 1rem;
}
.vf-expo-carousel .vf-expo-carousel__content-anchor .vf-icon-down::before {
  font-size: 2.5rem;
  position: static;
}

.vf-expo-slide {
  flex-shrink: 0;
  scroll-snap-align: center;
  height: 56.25vw;
  min-height: 60vh;
  max-height: 70vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.vf-expo-slide__container {
  align-items: center;
  display: flex;
  justify-content: center;
  inset: 0;
  position: absolute;
}
.vf-expo-slide__content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
@media screen and (min-width: 375px) {
  .vf-expo-slide__content-container {
    max-width: 345px;
  }
}
@media screen and (min-width: 768px) {
  .vf-expo-slide__content-container {
    max-width: none;
  }
}
.vf-expo-slide__bg-video {
  height: 100%;
  inset: 0;
  left: 0;
  position: absolute;
}
.vf-expo-slide__media {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.vf-expo-carousel .vf-component__large-heading,
.vf-expo-carousel .vf-link--with-arrow {
  color: #fff;
}

@keyframes fadeAndSlideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
