@media screen and (max-width: 767px) {
  .vf__utility--sm-hidden {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .vf__utility--md-hidden {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .vf__utility--lg-hidden {
    display: none;
  }
}

@media screen and (max-width: 1919px) {
  .vf__utility--xl-hidden {
    display: none;
  }
}

.vf-footer {
  align-items: center;
  background: #edf1f6;
  display: flex;
  justify-content: center;
}
.vf-footer__container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 28px 21px;
}
@media screen and (min-width: 576px) {
  .vf-footer__container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .vf-footer__container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 770px;
    padding: 45px 60px;
  }
}
@media screen and (min-width: 992px) {
  .vf-footer__container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-footer__container {
    max-width: 1160px;
  }
}
@media screen and (min-width: 1400px) {
  .vf-footer__container {
    max-width: 1440px;
    padding: 57px 156px 68px 156px;
  }
}
@media screen and (min-width: 768px) {
  .vf-footer--md-hidden {
    display: none;
  }
}
.vf-footer--sm-hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .vf-footer--sm-hidden {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .vf-footer__social-media-column {
    grid-column-start: 2;
  }
}
.vf-footer__content {
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .vf-footer__content {
    padding-right: 72px;
  }
}
.vf-footer__nav {
  display: flex;
  flex-direction: column;
}
.vf-footer__nav-item {
  color: #222222;
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
}
.vf-footer__nav-item:hover {
  color: #2071b5;
}
.vf-footer__nav-item--country-link {
  line-height: 41px;
}
.vf-footer__heading {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .vf-footer__heading {
    font-size: 1.25rem;
    line-height: 36px;
  }
}
.vf-footer__paragraph {
  font-size: 1rem;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
}
.vf-footer__social-media-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .vf-footer__social-media-links {
    grid-template-columns: 1fr;
  }
}
.vf-footer__social-media-links a {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  padding: 2px 0;
  text-decoration: none;
}
.vf-footer__social-media-links a:hover {
  color: #2071b5;
}
.vf-footer__social-media-links a::before {
  font-size: 1.25rem;
  margin-right: 15px;
}
.vf-footer .vf-dropdown-wrapper {
  min-width: 100%;
}
.vf-footer .vf-dropdown-wrapper .vf-dropdown__standard {
  border-radius: 0;
  background-color: #fff;
  padding-right: 100px;
}
