@charset "UTF-8";
.vf-button__container {
  display: grid;
  grid-template-columns: 240px;
  grid-gap: 15px;
}
@media screen and (min-width: 576px) {
  .vf-button__container {
    grid-template-columns: repeat(2, 240px);
  }
}
@media screen and (min-width: 1200px) {
  .vf-button__container {
    grid-template-columns: repeat(4, 240px);
  }
}
.vf-button__container--medium {
  grid-template-columns: 180px;
}
@media screen and (min-width: 576px) {
  .vf-button__container--medium {
    grid-template-columns: repeat(2, 180px);
  }
}
@media screen and (min-width: 992px) {
  .vf-button__container--medium {
    grid-template-columns: repeat(4, 180px);
  }
}

.vf-btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #222222;
  display: inline-block;
  font-family: "Vattenfall Hall NORDx";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18px;
  min-width: 180px;
  padding: 9px 48px;
  position: relative;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}
.vf-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.vf-btn::before {
  content: "→";
  font-size: 1.5rem;
  font-weight: normal;
  opacity: 0;
  position: absolute;
  transform: translate(-220%, 0);
  transform-origin: top left;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.vf-btn:hover::before {
  opacity: 1;
  transition-delay: 150ms;
  transform: translate(-150%, 0);
}
.vf-btn--block {
  display: block;
  width: 100%;
}
.vf-btn--block + .vf-btn--block {
  margin-top: 15px;
}

.vf-btn--lg {
  border-radius: 26px;
  font-size: 1.125rem;
  line-height: 24px;
  min-width: 240px;
  padding: 12px 48px;
}

.vf-btn__primary {
  color: #111111;
  background: #ffda00;
}
.vf-btn__primary:hover {
  background: #ffe85b;
}
.vf-btn__primary:focus {
  background: #f1c50b;
}

.vf-btn__secondary {
  color: #fff;
  background: #1964a3;
}
.vf-btn__secondary:hover {
  background: #2071b5;
}
.vf-btn__secondary:focus {
  background: #1e324f;
}

.vf-btn__tertiary {
  color: #222222;
  background: transparent;
  border: 2px #cdd1d4 solid;
}
.vf-btn__tertiary:hover {
  background: #1964a3;
  border-color: #1964a3;
  color: #fff;
}
.vf-btn__tertiary:focus {
  background: #1e324f;
  border-color: #1e324f;
  color: #fff;
}

.vf-btn__dark--outline {
  color: #222222;
  background: transparent;
  border: 2px #222222 solid;
}
.vf-btn__dark--outline:hover {
  color: #fff;
  background: #222222;
  border-color: #222222;
}
.vf-btn__dark--outline:focus {
  color: #fff;
  background: #4e4b48;
  border-color: #4e4b48;
}

.vf-btn__secondary--outline {
  color: #2071b5;
  background: transparent;
  border: 2px #1964a3 solid;
}
.vf-btn__secondary--outline:hover {
  color: #fff;
  background: #1964a3;
  border-color: #1964a3;
}
.vf-btn__secondary--outline:active {
  color: #fff;
  background: #1e324f;
  border-color: #1e324f;
}

.vf-btn:disabled {
  background-color: #eeeeee;
  color: #767676;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.vf-btn__group {
  border-radius: 34px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.vf-btn__group-btn {
  background: #fff;
  border: none;
  border-radius: 34px;
  color: #1964a3;
  display: inline-block;
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.vf-btn__group-btn:focus, .vf-btn__group-btn:hover {
  color: #fff;
}
.vf-btn__group-btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.vf-btn__group-btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.vf-btn__group--mobile {
  display: flex;
  flex-direction: column;
}
.vf-btn__group--mobile .vf-btn__group-btn {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 34px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  padding: 6px;
  text-align: center;
}
.vf-btn__group--mobile .vf-btn__group-btn:not(:first-child) {
  margin-top: 16px;
}

.vf-btn--incharge-nordic {
  background: #46ee76;
  color: #000;
}
.vf-btn--incharge-nordic:hover {
  background: #88f4a6;
}
.vf-btn--incharge-nordic:focus, .vf-btn--incharge-nordic.focus {
  background: #46ee76;
}
.vf-btn--incharge-nordic.disabled, .vf-btn--incharge-nordic:disabled {
  background-color: #eee;
  color: #767676;
}
.vf-btn--incharge-nordic + .vf-btn--incharge-nordic {
  margin-top: 15px;
}
@media screen and (min-width: 576px) {
  .vf-btn--incharge-nordic + .vf-btn--incharge-nordic {
    margin-top: 0;
    margin-left: 15px;
  }
}

.vf-gdpr-consent {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100vw;
  z-index: 99;
}
.vf-gdpr-consent__container {
  display: block;
  height: 100vh;
  overflow-y: auto;
  width: 100vw;
}
.vf-gdpr-consent__content {
  background-color: #fff;
  display: block;
  margin: 50px auto 0 auto;
  padding: 32px 16px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .vf-gdpr-consent__content {
    max-width: 720px;
    padding: 48px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-gdpr-consent__content {
    max-width: 900px;
    padding: 55px 65px;
  }
}
.vf-gdpr-consent .vf-icon-close {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
.vf-gdpr-consent .vf-icon-close::before {
  font-size: 1.25rem;
}
.vf-gdpr-consent__heading {
  font-size: 1.125rem;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .vf-gdpr-consent__heading {
    font-size: 1.375rem;
    line-height: 28px;
    margin-bottom: 16px;
  }
}
.vf-gdpr-consent__text {
  font-size: 1rem;
  line-height: 28px;
  margin-bottom: 24px;
}
.vf-gdpr-consent__link {
  color: #1964a3;
  text-decoration: none;
}
.vf-gdpr-consent__form {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}
@media screen and (min-width: 768px) {
  .vf-gdpr-consent__form {
    flex-direction: row;
    margin: 48px 0 32px 0;
  }
}
.vf-gdpr-consent__form-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-top: 0;
  order: 1;
}
.vf-gdpr-consent__form-buttons > *:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .vf-gdpr-consent__form-buttons > *:not(:last-child) {
    margin-bottom: 0;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .vf-gdpr-consent__form-buttons {
    flex-direction: row;
    margin-bottom: 0;
    order: 2;
  }
}
.vf-gdpr-consent__form-group {
  align-items: center;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .vf-gdpr-consent__form-group {
    margin: 0 28px 16px 0;
  }
}
.vf-gdpr-consent__form-group:not(:last-child) {
  margin-bottom: 16px;
}
.vf-gdpr-consent__form-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .vf-gdpr-consent__form-footer {
    flex-direction: row;
    margin-bottom: 16px;
  }
}
.vf-gdpr-consent__label {
  font-weight: 500;
  margin-bottom: 8px;
}
.vf-gdpr-consent__expand-button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  order: 2;
  outline: none;
  position: relative;
}
.vf-gdpr-consent__expand-button::after {
  content: "\e981";
  font-size: 1rem;
  font-family: "vf-icons";
  margin-left: 12px;
  padding-top: 5px;
}
@media screen and (min-width: 768px) {
  .vf-gdpr-consent__expand-button {
    order: 1;
  }
}
.vf-gdpr-consent__details-content {
  display: block;
  padding-top: 24px;
}
.vf-gdpr-consent__hidden {
  display: none;
}
.vf-gdpr-consent .vf-checkbox__input {
  margin: 0 12px 6.4px 0;
}
