.vf-grid {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(4, minmax(72px, 1fr));
  grid-gap: 15px;
  padding: 21px;
  width: 333px;
}
@media screen and (min-width: 768px) {
  .vf-grid {
    grid-template-columns: repeat(12, minmax(32px, 1fr));
    grid-gap: 24px;
    padding: 60px;
    width: 648px;
  }
}
@media screen and (min-width: 1024px) {
  .vf-grid {
    grid-template-columns: repeat(12, minmax(64px, 1fr));
    grid-gap: 16px;
    padding: 40px;
    width: 944px;
  }
}
@media screen and (min-width: 1440px) {
  .vf-grid {
    grid-template-columns: repeat(12, min-max(72px, 1fr));
    grid-gap: 24px;
    padding: 156px;
    width: 1128px;
  }
}
.vf-grid__three-column {
  grid-column: span 4;
}
