.vf-header {
  background: #fff;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.vf-header .arrow {
  content: "";
  width: 0;
  height: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  display: inline-block;
  bottom: 0;
  margin-bottom: -1px;
  right: 50%;
  transform: translateX(50%);
}
@media screen and (max-width: 1023px) {
  .vf-header .arrow {
    display: none !important;
  }
}
.vf-header ul {
  padding: 0;
}
.vf-header li {
  display: contents;
}
.vf-header a {
  color: #000000;
  text-decoration: none;
}
.vf-header .vf-topbar__logo {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.vf-header .vf-header__logo-desktop {
  height: 56px;
}
.vf-header .vf-header__logo-desktop img {
  height: 100%;
}
.vf-header__inner {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .vf-header__inner {
    display: none;
  }
}
.vf-header__inner .vf-icon-menu,
.vf-header__inner .vf-icon-search,
.vf-header__inner .vf-icon-close {
  padding: 18px;
}
.vf-header__search-box {
  display: none;
}
.vf-header-item__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .vf-header-item__container {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }
}
.vf-header__search-box.active {
  align-items: center;
  background: #ebf2f3;
  display: flex !important;
  justify-content: center;
  position: absolute;
  top: 56px;
  height: 160px;
  width: 100%;
}
.vf-header__search-box.active input {
  background: transparent;
  border: none;
  color: #000000;
  font-family: "Vattenfall Hall Display NORDx";
  font-weight: bold;
  font-size: 1.875rem;
  text-indent: 10px;
  box-shadow: none;
  height: 36px;
  outline: none;
  width: 100%;
  text-align: center;
  padding: 60px 17px 60px 17px;
}
@media screen and (min-width: 768px) {
  .vf-header__search-box.active input {
    font-size: 3.25rem;
    line-height: 72px;
  }
}
.vf-header__search-box.active input::placeholder {
  color: #000000;
}
.vf-header .vf-header__menu-container {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  margin-bottom: 53px;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__menu-container {
    display: block;
    top: 0;
  }
}
.vf-header__menu-list {
  display: none;
  flex-flow: wrap;
  list-style-type: none;
  width: 100%;
}
.vf-header .vf-header__item {
  align-items: center;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  height: 52px;
  justify-content: space-between;
  letter-spacing: 0;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 8px 21px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__item {
    border: none;
    margin: 0;
    padding: 8px 42px;
    width: auto;
  }
}
.vf-header .vf-header__item-1 {
  border-bottom: 1px solid #dcdddc;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__item-1 {
    border-bottom: none;
  }
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__menu-level-1 {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    height: 56px;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .vf-header .vf-header__menu-level-1 {
    margin: 0 auto;
    width: 1440px;
  }
}
.vf-header .vf-header__item-2 {
  background: #edf1f6;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__menu-level-3 {
    background: #fff;
  }
}
.vf-header .vf-header__item-3 {
  background: #f2f2f2;
  padding-left: 34px;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__item-3 {
    background: transparent;
  }
}
.vf-header .active {
  display: flex;
}
.vf-header .vf-icon-more::before,
.vf-header .vf-icon-less-info::before,
.vf-header .vf-icon-search::before,
.vf-header .vf-icon-close::before,
.vf-header .vf-icon-globe::before {
  font-size: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-icon-more,
.vf-header .vf-icon-less-info {
    display: none;
  }
}
.vf-header .vf-header__menu-level-2.active {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__menu-level-2.active {
    background: #ebf2f3;
    flex-direction: row;
    position: absolute;
    top: 56px;
    left: 0;
  }
}
.vf-header .vf-header__menu-level-3.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .vf-header .vf-header__menu-level-3.active {
    position: absolute;
    flex-direction: row;
    top: 56px;
  }
}

.vf-icon-div {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.vf-icon-div span {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 60px;
}

.vf-header__icon-close-desktop {
  position: absolute;
  right: 66px;
}

@media screen and (max-width: 1023px) {
  .vf-icon-globe::before,
.vf-header__icon-close-desktop,
.vf-icon-search__desktop,
.vf-header__logo-desktop {
    display: none !important;
  }
}

.active-search-box {
  background: #ebf2f3;
  border-bottom: none;
}
