.vf-headings__large {
  font-family: "Vattenfall Hall Display NORDx";
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__large {
    font-size: 3.75rem;
    line-height: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-headings__large {
    font-size: 4.5rem;
    line-height: 84px;
  }
}

.vf-headings__default {
  font-family: "Vattenfall Hall Display NORDx";
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__default {
    font-size: 3.25rem;
    line-height: 72px;
  }
}

.vf-headings__small {
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__small {
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.vf-headings__smaller {
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__smaller {
    font-size: 1.5rem;
    line-height: 36px;
  }
}
