@charset "UTF-8";
.vf-button__container {
  display: grid;
  grid-template-columns: 240px;
  grid-gap: 15px;
}
@media screen and (min-width: 576px) {
  .vf-button__container {
    grid-template-columns: repeat(2, 240px);
  }
}
@media screen and (min-width: 1200px) {
  .vf-button__container {
    grid-template-columns: repeat(4, 240px);
  }
}
.vf-button__container--medium {
  grid-template-columns: 180px;
}
@media screen and (min-width: 576px) {
  .vf-button__container--medium {
    grid-template-columns: repeat(2, 180px);
  }
}
@media screen and (min-width: 992px) {
  .vf-button__container--medium {
    grid-template-columns: repeat(4, 180px);
  }
}

.vf-btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #222222;
  display: inline-block;
  font-family: "Vattenfall Hall NORDx";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18px;
  min-width: 180px;
  padding: 9px 48px;
  position: relative;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}
.vf-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.vf-btn::before {
  content: "→";
  font-size: 1.5rem;
  font-weight: normal;
  opacity: 0;
  position: absolute;
  transform: translate(-220%, 0);
  transform-origin: top left;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.vf-btn:hover::before {
  opacity: 1;
  transition-delay: 150ms;
  transform: translate(-150%, 0);
}
.vf-btn--block {
  display: block;
  width: 100%;
}
.vf-btn--block + .vf-btn--block {
  margin-top: 15px;
}

.vf-btn--lg {
  border-radius: 26px;
  font-size: 1.125rem;
  line-height: 24px;
  min-width: 240px;
  padding: 12px 48px;
}

.vf-btn__primary {
  color: #111111;
  background: #ffda00;
}
.vf-btn__primary:hover {
  background: #ffe85b;
}
.vf-btn__primary:focus {
  background: #f1c50b;
}

.vf-btn__secondary {
  color: #fff;
  background: #1964a3;
}
.vf-btn__secondary:hover {
  background: #2071b5;
}
.vf-btn__secondary:focus {
  background: #1e324f;
}

.vf-btn__tertiary {
  color: #222222;
  background: transparent;
  border: 2px #cdd1d4 solid;
}
.vf-btn__tertiary:hover {
  background: #1964a3;
  border-color: #1964a3;
  color: #fff;
}
.vf-btn__tertiary:focus {
  background: #1e324f;
  border-color: #1e324f;
  color: #fff;
}

.vf-btn__dark--outline {
  color: #222222;
  background: transparent;
  border: 2px #222222 solid;
}
.vf-btn__dark--outline:hover {
  color: #fff;
  background: #222222;
  border-color: #222222;
}
.vf-btn__dark--outline:focus {
  color: #fff;
  background: #4e4b48;
  border-color: #4e4b48;
}

.vf-btn__secondary--outline {
  color: #2071b5;
  background: transparent;
  border: 2px #1964a3 solid;
}
.vf-btn__secondary--outline:hover {
  color: #fff;
  background: #1964a3;
  border-color: #1964a3;
}
.vf-btn__secondary--outline:active {
  color: #fff;
  background: #1e324f;
  border-color: #1e324f;
}

.vf-btn:disabled {
  background-color: #eeeeee;
  color: #767676;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.vf-btn__group {
  border-radius: 34px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.vf-btn__group-btn {
  background: #fff;
  border: none;
  border-radius: 34px;
  color: #1964a3;
  display: inline-block;
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.vf-btn__group-btn:focus, .vf-btn__group-btn:hover {
  color: #fff;
}
.vf-btn__group-btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.vf-btn__group-btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.vf-btn__group--mobile {
  display: flex;
  flex-direction: column;
}
.vf-btn__group--mobile .vf-btn__group-btn {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 34px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  padding: 6px;
  text-align: center;
}
.vf-btn__group--mobile .vf-btn__group-btn:not(:first-child) {
  margin-top: 16px;
}

.vf-btn--incharge-nordic {
  background: #46ee76;
  color: #000;
}
.vf-btn--incharge-nordic:hover {
  background: #88f4a6;
}
.vf-btn--incharge-nordic:focus, .vf-btn--incharge-nordic.focus {
  background: #46ee76;
}
.vf-btn--incharge-nordic.disabled, .vf-btn--incharge-nordic:disabled {
  background-color: #eee;
  color: #767676;
}
.vf-btn--incharge-nordic + .vf-btn--incharge-nordic {
  margin-top: 15px;
}
@media screen and (min-width: 576px) {
  .vf-btn--incharge-nordic + .vf-btn--incharge-nordic {
    margin-top: 0;
    margin-left: 15px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.vf-hero {
  background-size: cover;
  background-position: center center;
  font-size: 2.75rem;
  height: auto;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  width: 100%;
}
.vf-hero__startpage {
  margin-bottom: 5rem;
  height: 368px;
}
@media screen and (min-width: 768px) {
  .vf-hero__startpage {
    height: 600px;
  }
}
.vf-hero__oneline {
  height: 302px;
}
@media screen and (min-width: 768px) {
  .vf-hero__oneline {
    height: 310px;
  }
}
.vf-hero__twoline {
  height: 310px;
}
.vf-hero__twoline-button {
  height: 368px;
}
@media screen and (min-width: 768px) {
  .vf-hero__twoline-button {
    height: 388px;
  }
}
.vf-hero__image-container {
  background-size: cover;
  background-position: center center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .vf-hero__image-container {
    border: none;
  }
}
.vf-hero__image-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.vf-hero__heading {
  color: #fff;
  font-family: "Vattenfall Hall Display NORDx", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.75rem;
  letter-spacing: 0px;
  line-height: 48px;
  max-width: 90%;
  width: 300px;
}
.vf-hero__heading--button-below {
  padding-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .vf-hero__heading--button-below {
    padding-bottom: 43px;
  }
}
.vf-hero__heading--hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .vf-hero__heading--hidden {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .vf-hero__heading {
    font-size: 3.25rem;
    line-height: 62px;
    width: 600px;
  }
}
@media screen and (min-width: 992px) {
  .vf-hero__heading {
    font-size: 4.5rem;
    line-height: 84px;
    text-align: center;
    width: 800px;
  }
}
.vf-hero__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.vf-hero__paragraph {
  color: #000;
  font-family: "Vattenfall Hall NORDx", "Vattenfall Hall", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  min-width: 300px;
  max-width: 650px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .vf-hero__paragraph {
    font-size: 1.5rem;
    line-height: 36px;
    margin-bottom: 0;
  }
}
.vf-hero__button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .vf-hero__button-container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 500px;
  }
}
.vf-hero__logotype {
  bottom: -38.6%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .vf-hero__logotype {
    bottom: -23.6%;
  }
}
.vf-hero__play {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1rem;
  font-weight: 400;
  height: 100px;
  letter-spacing: 0px;
  line-height: 36px;
  position: relative;
  width: 200px;
}
@media screen and (min-width: 768px) {
  .vf-hero__play {
    font-size: 1.125rem;
  }
}
.vf-hero__play::before {
  bottom: 31px;
  color: #fff;
  content: "\ea82";
  font-family: "vf-icons";
  font-size: 1.5rem;
  font-weight: normal;
  left: 20px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .vf-hero__play::before {
    bottom: 30px;
    left: 5px;
  }
}
