.vf-icon-text {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.vf-icon-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.vf-icon-text__logo::before {
	font-size: 3.75rem !important;
}
