.vf-preamble {
  font-family: "Vattenfall Hall NORDx";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-preamble {
    font-size: 1.5rem;
    line-height: 36px;
  }
}
