.vf-linked-list-block {
  background: #edf1f6;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}
.vf-linked-list-block .vf-linked-list-block__body .vf-linked-list-block__content .vf-file-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.vf-linked-list-block .vf-linked-list-block__body .vf-linked-list-block__content .vf-file-list__tag {
  color: #1964a3;
  direction: ltr;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  margin-right: 8px;
  text-decoration: none;
}
.vf-linked-list-block .vf-linked-list-block__body .vf-linked-list-block__content .vf-file-list__tag-description {
  color: #888888;
  font-size: 0.875rem;
  margin-left: 35px;
}
.vf-linked-list-block .vf-linked-list-block__body .vf-linked-list-block__content .vf-file-list__tag:hover {
  color: #05131e;
}
.vf-linked-list-block .vf-linked-list-block__body .vf-linked-list-block__content .vf-file-list__tag::before {
  color: #000;
  content: "\ea0f";
  display: inline-block;
  font-family: "vf-icons";
  font-size: 1.25rem;
  height: 28px;
  margin-right: 13px;
  vertical-align: middle;
  width: 19px;
}

.vf-linked-list-block__title {
  font-size: 1.375rem;
  margin: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .vf-linked-list-block__title {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
}
.vf-linked-list-block__content {
  margin: 0 auto;
  padding: 28px 21px;
}
@media screen and (min-width: 768px) {
  .vf-linked-list-block__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    max-width: 720px;
    padding: 65px 20px 65px 20px;
  }
}
@media screen and (min-width: 992px) {
  .vf-linked-list-block__content {
    max-width: 960px;
  }
}
@media screen and (min-width: 1400px) {
  .vf-linked-list-block__content {
    grid-gap: 100px;
    max-width: 1400px;
    padding: 88px 136px 88px 136px;
  }
}
.vf-linked-list-block__content--image {
  direction: rtl;
}
@media screen and (min-width: 1400px) {
  .vf-linked-list-block__content--image {
    min-height: 698px;
  }
}
.vf-linked-list-block__content--image-reversed {
  direction: ltr;
}
.vf-linked-list-block__content--reversed {
  direction: rtl;
}
.vf-linked-list-block__content-text {
  direction: ltr;
  margin-top: 0;
  padding-bottom: 36px;
  width: 100%;
}
.vf-linked-list-block__content-list {
  direction: ltr;
}
.vf-linked-list-block__content-image-container {
  height: 216px;
  margin-bottom: 38px;
}
@media screen and (min-width: 1200px) {
  .vf-linked-list-block__content-image-container {
    height: 338px;
    min-width: 552px;
  }
}
.vf-linked-list-block__content-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
