@charset "UTF-8";
.vf-button__container {
  display: grid;
  grid-template-columns: 240px;
  grid-gap: 15px;
}
@media screen and (min-width: 576px) {
  .vf-button__container {
    grid-template-columns: repeat(2, 240px);
  }
}
@media screen and (min-width: 1200px) {
  .vf-button__container {
    grid-template-columns: repeat(4, 240px);
  }
}
.vf-button__container--medium {
  grid-template-columns: 180px;
}
@media screen and (min-width: 576px) {
  .vf-button__container--medium {
    grid-template-columns: repeat(2, 180px);
  }
}
@media screen and (min-width: 992px) {
  .vf-button__container--medium {
    grid-template-columns: repeat(4, 180px);
  }
}

.vf-btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #222222;
  display: inline-block;
  font-family: "Vattenfall Hall NORDx";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18px;
  min-width: 180px;
  padding: 9px 48px;
  position: relative;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}
.vf-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.vf-btn::before {
  content: "→";
  font-size: 1.5rem;
  font-weight: normal;
  opacity: 0;
  position: absolute;
  transform: translate(-220%, 0);
  transform-origin: top left;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.vf-btn:hover::before {
  opacity: 1;
  transition-delay: 150ms;
  transform: translate(-150%, 0);
}
.vf-btn--block {
  display: block;
  width: 100%;
}
.vf-btn--block + .vf-btn--block {
  margin-top: 15px;
}

.vf-btn--lg {
  border-radius: 26px;
  font-size: 1.125rem;
  line-height: 24px;
  min-width: 240px;
  padding: 12px 48px;
}

.vf-btn__primary {
  color: #111111;
  background: #ffda00;
}
.vf-btn__primary:hover {
  background: #ffe85b;
}
.vf-btn__primary:focus {
  background: #f1c50b;
}

.vf-btn__secondary {
  color: #fff;
  background: #1964a3;
}
.vf-btn__secondary:hover {
  background: #2071b5;
}
.vf-btn__secondary:focus {
  background: #1e324f;
}

.vf-btn__tertiary {
  color: #222222;
  background: transparent;
  border: 2px #cdd1d4 solid;
}
.vf-btn__tertiary:hover {
  background: #1964a3;
  border-color: #1964a3;
  color: #fff;
}
.vf-btn__tertiary:focus {
  background: #1e324f;
  border-color: #1e324f;
  color: #fff;
}

.vf-btn__dark--outline {
  color: #222222;
  background: transparent;
  border: 2px #222222 solid;
}
.vf-btn__dark--outline:hover {
  color: #fff;
  background: #222222;
  border-color: #222222;
}
.vf-btn__dark--outline:focus {
  color: #fff;
  background: #4e4b48;
  border-color: #4e4b48;
}

.vf-btn__secondary--outline {
  color: #2071b5;
  background: transparent;
  border: 2px #1964a3 solid;
}
.vf-btn__secondary--outline:hover {
  color: #fff;
  background: #1964a3;
  border-color: #1964a3;
}
.vf-btn__secondary--outline:active {
  color: #fff;
  background: #1e324f;
  border-color: #1e324f;
}

.vf-btn:disabled {
  background-color: #eeeeee;
  color: #767676;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.vf-btn__group {
  border-radius: 34px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.vf-btn__group-btn {
  background: #fff;
  border: none;
  border-radius: 34px;
  color: #1964a3;
  display: inline-block;
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.vf-btn__group-btn:focus, .vf-btn__group-btn:hover {
  color: #fff;
}
.vf-btn__group-btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.vf-btn__group-btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.vf-btn__group--mobile {
  display: flex;
  flex-direction: column;
}
.vf-btn__group--mobile .vf-btn__group-btn {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 34px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  padding: 6px;
  text-align: center;
}
.vf-btn__group--mobile .vf-btn__group-btn:not(:first-child) {
  margin-top: 16px;
}

.vf-btn--incharge-nordic {
  background: #46ee76;
  color: #000;
}
.vf-btn--incharge-nordic:hover {
  background: #88f4a6;
}
.vf-btn--incharge-nordic:focus, .vf-btn--incharge-nordic.focus {
  background: #46ee76;
}
.vf-btn--incharge-nordic.disabled, .vf-btn--incharge-nordic:disabled {
  background-color: #eee;
  color: #767676;
}
.vf-btn--incharge-nordic + .vf-btn--incharge-nordic {
  margin-top: 15px;
}
@media screen and (min-width: 576px) {
  .vf-btn--incharge-nordic + .vf-btn--incharge-nordic {
    margin-top: 0;
    margin-left: 15px;
  }
}

.vf-media-block {
  background: #edf1f6;
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px 35px 16px;
}
@media screen and (min-width: 375px) {
  .vf-media-block {
    padding-left: 21px;
    padding-right: 21px;
  }
}
@media screen and (min-width: 576px) {
  .vf-media-block {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .vf-media-block {
    margin-top: 0;
    margin-bottom: 188px;
    max-height: 488px;
  }
}
@media screen and (min-width: 1400px) {
  .vf-media-block {
    max-width: 1400px;
    padding: 0 136px 35px 136px;
  }
}
.vf-media-block--reversed {
  direction: rtl;
}
.vf-media-block--reversed .vf-media-block__content {
  direction: ltr;
  padding: 35px 0;
}
@media screen and (min-width: 768px) {
  .vf-media-block--reversed .vf-media-block__content {
    padding-top: 88px;
    padding-right: 44px;
  }
}
@media screen and (min-width: 1400px) {
  .vf-media-block--reversed .vf-media-block__content {
    margin-left: 0;
    margin-right: 80px;
    padding-right: 0;
    width: 264px;
  }
}
.vf-media-block__body {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .vf-media-block__body {
    grid-template-columns: 1fr 1fr;
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-media-block__body {
    grid-gap: 40px;
    grid-template-columns: 2fr 1fr;
    max-width: 1160px;
  }
}
.vf-media-block__content {
  direction: ltr;
  padding: 35px 0;
}
@media screen and (min-width: 768px) {
  .vf-media-block__content {
    padding-top: 88px;
    padding-left: 44px;
  }
}
@media screen and (min-width: 1400px) {
  .vf-media-block__content {
    margin-left: 80px;
    padding-left: 0;
    max-width: 264px;
  }
}
.vf-media-block__title {
  font-size: 1.375rem;
  font-family: "Vattenfall Hall Display NORDx", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin: 0;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .vf-media-block__title {
    font-size: 1.75rem;
    line-height: 36px;
  }
}
.vf-media-block__paragraph {
  margin: 0;
  margin-bottom: 2rem;
}
.vf-media-block__image {
  height: 100%;
  min-height: 216px;
  object-fit: cover;
  width: 100%;
}
.vf-media-block__image-container {
  margin-top: -108px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .vf-media-block__image-container {
    height: 65%;
    margin-top: 0;
    padding-top: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-media-block__image-container {
    height: 100%;
    width: 744px;
  }
}
.vf-media-block__image-container .vf-media__play-button-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  left: calc(50% - 40px);
  position: absolute;
  top: calc(50% - 40px);
}
@media screen and (min-width: 768px) {
  .vf-media-block__image-container .vf-media__play-button-wrapper {
    left: calc(50% - 40px);
    top: 50%;
  }
}
.vf-media-block__image-container .vf-media__play-button-wrapper .vf-icon-play {
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 80px;
  transition: transform ease-in-out 0.1s;
  width: 80px;
}
.vf-media-block__image-container .vf-media__play-button-wrapper .vf-icon-play:hover {
  transform: scale(1.1);
}
.vf-media-block__image-container .vf-media__play-button-wrapper .vf-icon-play::before {
  color: #000;
  content: "\ea82";
  font-family: "vf-icons";
  font-size: 2.25rem;
  padding-left: 10px;
}
.vf-media-block__links {
  display: flex;
  flex-direction: column;
}
.vf-media-block__links a {
  flex: 1;
}
