.vf-cookie-banner {
  background: #1e324f;
  color: white;
  font-family: "Vattenfall Hall NORDx", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: normal;
  position: relative;
  text-align: left;
  padding: 10px 20px 10px 30px;
}
@media screen and (min-width: 576px) {
  .vf-cookie-banner {
    font-size: 1rem;
    padding: 10px 0;
    text-align: center;
  }
}
.vf-cookie-banner__close-btn {
  background: transparent;
  border: none;
  color: white;
  right: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.vf-cookie-banner__close-btn .vf-icon-close::before {
  font-size: 1.25rem;
}
@media screen and (min-width: 576px) {
  .vf-cookie-banner__close-btn {
    right: 15px;
  }
}

.vf-cookie-banner--error {
  background: #f93b18;
}

.vf-cookie-banner--info {
  background: #1964a3;
}

.vf-cookie-banner--success {
  background: #3dc07c;
}
