.vf-notification-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  position: relative;
  width: 333px;
}
.vf-notification-container .vf-notification-icon {
  display: inline-flex;
  margin: 16px 10px 16px auto;
  padding: 10px;
  border-radius: 100%;
  color: #fff;
  background-color: #1964a3;
  cursor: pointer;
}
.vf-notification-container .vf-notification-icon::before {
  line-height: 1.15;
  height: 24px;
}
.vf-notification-container .vf-notification {
  position: absolute;
  top: 76px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  transform: scaleY(0);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.vf-notification-container .vf-notification.vf-notification--show {
  transform: scaleY(1);
  opacity: 1;
}
.vf-notification-container .vf-notification .vf-notification-header {
  position: relative;
  color: #fff;
  background-color: #1964a3;
  font-size: 1.125rem;
  letter-spacing: 0px;
  line-height: 24px;
  padding: 18px 20px;
  border-radius: 4px 4px 0 0;
  font-weight: 800;
}
.vf-notification-container .vf-notification .vf-notification-header:before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  right: 24px;
  width: 16px;
  height: 16px;
  border-top: 10px solid #1964a3;
  border-right: 10px solid #1964a3;
  transform: rotate(-45deg);
}
.vf-notification-container .vf-notification .vf-notification-header .vf-notification-header-settings {
  position: absolute;
  top: 16px;
  right: 20px;
  color: #fff;
}
.vf-notification-container .vf-notification .vf-notification-header .vf-notification-header-settings:hover {
  text-decoration: none;
}
.vf-notification-container .vf-notification .vf-notification-body {
  margin: 0 20px;
}
.vf-notification-container .vf-notification .vf-notification-body .vf-notification-body-item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e9;
  text-decoration: none;
}
.vf-notification-container .vf-notification .vf-notification-body .vf-notification-body-item .vf-notification-body-item-col1 {
  padding-right: 12px;
}
.vf-notification-container .vf-notification .vf-notification-body .vf-notification-body-item .vf-notification-body-item-col1 .vf-notification-body-item-image {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.vf-notification-container .vf-notification .vf-notification-body .vf-notification-body-item .vf-notification-body-item-col2 .vf-notification-body-item-event {
  color: #222;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
}
.vf-notification-container .vf-notification .vf-notification-body .vf-notification-body-item .vf-notification-body-item-col2 .vf-notification-body-item-event .vf-notification-body-item-event-action {
  font-weight: 400;
}
.vf-notification-container .vf-notification .vf-notification-body .vf-notification-body-item .vf-notification-body-item-col2 .vf-notification-body-item-time {
  color: #888;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  font-size: 0.875rem;
  padding-top: 1px;
}
.vf-notification-container .vf-notification .vf-notification-body .vf-notification-footer {
  padding: 10px 0;
  text-align: center;
}
.vf-notification-container .vf-notification .vf-notification-body .vf-notification-footer a {
  color: #1964a3;
}
