.vf__numbered-list {
  list-style-position: outside;
  padding: 0 0 0 18px;
  list-style: auto;
}
.vf__numbered-list li {
  font-family: "Vattenfall Hall NORDx", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: normal;
  padding: 12px 0 12px 14px;
}

ol,
ul,
dl {
  margin: 0;
  margin-bottom: 1em;
}
