@charset "UTF-8";
.vf-preamble {
  font-family: "Vattenfall Hall NORDx";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-preamble {
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.vf-headings__large {
  font-family: "Vattenfall Hall Display NORDx";
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__large {
    font-size: 3.75rem;
    line-height: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-headings__large {
    font-size: 4.5rem;
    line-height: 84px;
  }
}

.vf-headings__default {
  font-family: "Vattenfall Hall Display NORDx";
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__default {
    font-size: 3.25rem;
    line-height: 72px;
  }
}

.vf-headings__small {
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__small {
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.vf-headings__smaller {
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__smaller {
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.vf-intro-in-caps {
  font-family: "Vattenfall Hall NORDx";
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-intro-in-caps {
    font-size: 1rem;
    font-weight: bold;
    line-height: 36px;
  }
}

.vf-body-copy__large {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 36px;
  margin: 0;
}

.vf-body-copy__small {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  margin: 0;
}

.vf-utility__link {
  color: #2071b5;
}

.vf-utility__metadata {
  color: #888888;
}

.vf-utility__success {
  color: #3dc07c;
}

.vf-utility__warning {
  color: #f5a623;
}

.vf-utility__error {
  color: #f93b18;
}

.vf-link-with-arrow {
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 1.09375rem;
  padding-left: 20px;
  position: relative;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
}
.vf-link-with-arrow:hover {
  color: #2071b5;
}
.vf-link-with-arrow:active, .vf-link-with-arrow:focus {
  color: #1e324f;
}
.vf-link-with-arrow:active::before, .vf-link-with-arrow:focus::before {
  color: #1e324f;
}
@media screen and (min-width: 768px) {
  .vf-link-with-arrow {
    font-size: 1.125rem;
    letter-spacing: 0;
  }
}
.vf-link-with-arrow--small {
  font-size: 1rem;
}
.vf-link-with-arrow::before {
  color: #2071b5;
  content: "→";
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.09375rem;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
@media screen and (min-width: 1024px) {
  .vf-link-with-arrow::before {
    font-size: 1.75rem;
    line-height: 1.40625rem;
  }
}
.vf-link-with-arrow:hover::before {
  transition-delay: 0ms;
  transform: translate(40%, 0px);
}
@media screen and (min-width: 1024px) {
  .vf-link-with-arrow {
    font-size: 1.125rem;
    line-height: 1.40625rem;
    padding-left: 30px;
  }
}

.vf-offset-image {
  padding: 1rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.vf-offset-image__image {
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image__image {
    max-height: none;
  }
}
.vf-offset-image__image-container {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image__image-container {
    margin-bottom: 0;
  }
}
.vf-offset-image .vf-headings__default {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image .vf-headings__default {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}
.vf-offset-image .vf-body-copy__small {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image .vf-body-copy__small {
    margin-top: 50%;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 22px;
  }
}
.vf-offset-image .vf-link-with-arrow {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image .vf-link-with-arrow {
    margin-left: 44px;
  }
}
.vf-offset-image__bg {
  background: #eef1f6;
  height: 50%;
  position: absolute;
  width: 50%;
  top: 20%;
  right: 0;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .vf-offset-image__bg {
    height: 100%;
    top: 10%;
  }
}
