.vf-visual-pickers-sm,
.vf-visual-pickers-md,
.vf-visual-pickers-md-two-line,
.vf-visual-pickers-md-two-line-icon,
.vf-visual-pickers-lg {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 264px;
}
.vf-visual-pickers-sm:hover,
.vf-visual-pickers-md:hover,
.vf-visual-pickers-md-two-line:hover,
.vf-visual-pickers-md-two-line-icon:hover,
.vf-visual-pickers-lg:hover {
  border: 1px solid #999999;
}
.vf-visual-pickers-sm input,
.vf-visual-pickers-md input,
.vf-visual-pickers-md-two-line input,
.vf-visual-pickers-md-two-line-icon input,
.vf-visual-pickers-lg input {
  display: none;
}
.vf-visual-pickers-sm label,
.vf-visual-pickers-md label,
.vf-visual-pickers-md-two-line label,
.vf-visual-pickers-md-two-line-icon label,
.vf-visual-pickers-lg label {
  all: initial;
  color: #222222;
  font-family: Vattenfall Hall NORDx;
  font-size: 1.25rem;
  font-weight: 500;
  height: 28px;
  letter-spacing: 0px;
  line-height: 28px;
  width: 100%;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 57px;
  user-select: none;
}
.vf-visual-pickers-sm label:hover,
.vf-visual-pickers-md label:hover,
.vf-visual-pickers-md-two-line label:hover,
.vf-visual-pickers-md-two-line-icon label:hover,
.vf-visual-pickers-lg label:hover {
  cursor: pointer;
}

.vf-visual-pickers__icon::before {
  position: absolute;
  font-size: 1.25rem;
}

.vf-visual-pickers__outline {
  border: 1px solid #1964a3 !important;
  background: #edf1f6;
}

.vf-visual-pickers-sm {
  height: 52px;
}
.vf-visual-pickers-sm .vf-visual-pickers__icon::before {
  right: 17px;
  bottom: 14px;
  opacity: 1;
}

.vf-visual-pickers-md {
  height: 90px;
}
.vf-visual-pickers-md label {
  padding-right: 24px;
  padding-top: 31px;
  padding-bottom: 31px;
  text-align: center;
}
.vf-visual-pickers-md .vf-visual-pickers__icon::before {
  right: 16px;
  top: 16px;
  opacity: 1;
}

.vf-visual-pickers-md-two-line {
  height: 90px;
}
.vf-visual-pickers-md-two-line label {
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 42px;
  text-align: center;
}
.vf-visual-pickers-md-two-line label .vf-visual-pickers__second-line {
  position: absolute;
  line-height: 28px;
  font-size: 0.875rem;
  font-family: VattenfallHall-Regular;
  font-weight: 500;
  letter-spacing: -0.04px;
  margin-bottom: 0;
  left: 0;
  right: 0;
  bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.vf-visual-pickers-md-two-line .vf-visual-pickers__icon::before {
  right: 16px;
  top: 16px;
  opacity: 1;
}

.vf-visual-pickers-md-two-line-icon {
  height: 100px;
}
.vf-visual-pickers-md-two-line-icon label {
  padding-right: 24px;
  padding-top: 45px;
  padding-bottom: 15px;
  text-align: center;
}
.vf-visual-pickers-md-two-line-icon .vf-visual-pickers__icon::before {
  right: 17px;
  top: 17px;
  opacity: 1;
}
.vf-visual-pickers-md-two-line-icon .vf-visual-pickers__two-line-icon::before {
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  font-size: 1.875rem;
}

.vf-visual-pickers-lg {
  height: 250px;
}
.vf-visual-pickers-lg label {
  padding-top: 211px;
  padding-bottom: 11px;
  padding-right: 24px;
  text-align: center;
}
.vf-visual-pickers-lg label img {
  position: absolute;
  width: 224px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 50px;
}
.vf-visual-pickers-lg .vf-visual-pickers__icon::before {
  opacity: 1;
  right: 26px;
  top: 26px;
  border-radius: 50%;
  border: 2px solid #1964a3;
  background: #fff;
  padding: 7px;
}
