.vf-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  font-size: 1rem;
}

.vf-page-link {
  border-radius: 4px;
  display: block;
  line-height: 28px;
  color: #222222;
  background-color: #fff;
  border: 1px solid #e8e8e9;
  margin: 0 3px;
  min-width: 36px;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding: 3px 10px;
}
.vf-page-link:hover {
  z-index: 2;
  color: #2071b5;
  text-decoration: none;
  background-color: #e6eaed;
  border-color: #dee2e6;
}
.vf-page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 113, 181, 0.25);
}
.vf-page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.vf-page-item:first-child .vf-page-link {
  margin-left: 0;
}
.vf-page-item.active .vf-page-link {
  z-index: 1;
  color: #fff;
  background-color: #2071b5;
  border-color: #dee2e6;
}
.vf-page-item.disabled .vf-page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
