.vf-progress {
  margin: 28px 0;
  display: flex;
  height: 4px;
  background-color: #e8e8e9;
}

.vf-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  white-space: nowrap;
  background-color: #1964a3;
}

.vf-progress--small {
  height: calc(4px / 2);
}
