@charset "UTF-8";
.vf-large-quote {
  background: #fff;
  height: 548px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  position: relative;
  width: 375px;
}
@media screen and (min-width: 768px) {
  .vf-large-quote {
    height: 704px;
    width: 100%;
    padding: 0 21px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-large-quote {
    height: 704px;
    overflow: visible;
    width: 1128px;
  }
}
.vf-large-quote::before {
  border: 2px #d8d8d8 solid;
  border-radius: 50%;
  color: #cdd1d4;
  content: "“";
  font-size: 4.25rem;
  height: 48px;
  line-height: 72px;
  position: absolute;
  text-align: center;
  left: 23px;
  top: 84px;
  width: 48px;
}
@media screen and (min-width: 1200px) {
  .vf-large-quote::before {
    left: 0;
    top: 88px;
  }
}
.vf-large-quote__img {
  z-index: 10;
  left: 109px;
  height: 380px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 380px;
}
@media screen and (min-width: 768px) {
  .vf-large-quote__img {
    bottom: 0;
    height: auto;
    top: auto;
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-large-quote__img {
    left: auto;
    right: 50px;
  }
}
.vf-large-quote__light-grey-bg {
  background: #f2f2f2;
  height: 100%;
  top: 96px;
  left: 155px;
  width: 220px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .vf-large-quote__light-grey-bg {
    bottom: 0;
    left: auto;
    right: 0%;
    width: 55%;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .vf-large-quote__light-grey-bg {
    left: auto;
    right: -136px;
    width: 784px;
  }
}
.vf-large-quote__content {
  bottom: 0;
  text-align: left;
  width: 100%;
  position: absolute;
  z-index: 20;
}
.vf-large-quote__person {
  margin-bottom: 23px;
  padding-left: 21px;
}
@media screen and (min-width: 768px) {
  .vf-large-quote__person {
    margin-bottom: 35px;
    padding: 0;
  }
}
.vf-large-quote__byline {
  font-weight: 500;
  line-height: 36px;
  font-size: 1.25rem;
  font-family: "Vattenfall Hall NORDx";
}
.vf-large-quote__byline-description {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  line-height: 28px;
  font-size: 1rem;
}
.vf-large-quote__quote {
  background: #fff;
  color: #222222;
  font-family: "Vattenfall Hall NORDx";
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 40px;
  margin: 0;
  margin-right: 21px;
  padding: 34px 21px 35px 21px;
}
@media screen and (min-width: 768px) {
  .vf-large-quote__quote {
    font-size: 3rem;
    line-height: 60px;
    margin-bottom: -1px;
    margin-right: 15%;
    padding: 21px 96px 12px 0;
  }
}
@media screen and (min-width: 1200px) {
  .vf-large-quote__quote {
    margin-right: 192px;
    padding: 44px 96px 12px 0;
  }
}

.vf-small-quote {
  background: #faf9dc;
  border-radius: 20px 20px 20px 20px;
  font-size: 1rem;
  margin: 40px 0 60px;
  line-height: 28px;
  letter-spacing: -0.1px;
  max-width: 1440px;
  padding: 36px 48px 37px;
  position: relative;
}
@media screen and (min-width: 576px) {
  .vf-small-quote {
    font-size: 1.25rem;
    line-height: 36px;
  }
}
.vf-small-quote::after {
  border: 32px solid transparent;
  border-bottom: 0;
  border-right: 0;
  border-top-color: #faf9dc;
  bottom: 0;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -16px;
  margin-bottom: -32px;
  position: absolute;
  width: 0;
}
@media screen and (min-width: 576px) {
  .vf-small-quote::after {
    left: 70px;
  }
}
