.vf-radio-button__input {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #a4a9ac;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  margin: 0;
  width: 28px;
  position: relative;
}
.vf-radio-button__input::before {
  background-color: #4e4b48;
  border-radius: 50%;
  content: "";
  height: 12px;
  left: 7px;
  position: absolute;
  transform: scale(0);
  top: 7px;
  width: 12px;
}
.vf-radio-button__input:checked::before {
  transform: scale(1);
}
.vf-radio-button__input:disabled {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #ccc;
  cursor: auto;
}
.vf-radio-button__input:disabled::before {
  background-color: #ccc;
}

.vf-input__radio-label {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
}
.vf-input__radio-label .vf-radio-button__input {
  margin-right: 1em;
}
