.with-background {
  background-color: #edf1f6;
  height: 4rem;
}

.option-height__container {
  align-items: flex-end;
  display: flex;
  height: 500px;
  width: auto;
}

.height-background {
  background-color: #edf1f6;
  width: 4rem;
}
@media screen and (min-width: 768px) {
  .height-background {
    width: 8rem;
  }
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.mw-25 {
  max-width: 25%;
}

.mw-50 {
  max-width: 50%;
}

.mw-75 {
  max-width: 75%;
}

.mw-100 {
  max-width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.mh-25 {
  max-height: 25%;
}

.mh-50 {
  max-height: 50%;
}

.mh-75 {
  max-height: 75%;
}

.mh-100 {
  max-height: 100%;
}

.vh-25 {
  height: 25vh;
}

.vh-50 {
  height: 50vh;
}

.vh-75 {
  height: 75vh;
}

.vh-100 {
  height: 100vh;
}

.vw-25 {
  width: 25vw;
}

.vw-50 {
  width: 50vw;
}

.vw-75 {
  width: 75vw;
}

.vw-100 {
  width: 100vw;
}
