@charset "UTF-8";
.vf-button__container {
  display: grid;
  grid-template-columns: 240px;
  grid-gap: 15px;
}
@media screen and (min-width: 576px) {
  .vf-button__container {
    grid-template-columns: repeat(2, 240px);
  }
}
@media screen and (min-width: 1200px) {
  .vf-button__container {
    grid-template-columns: repeat(4, 240px);
  }
}
.vf-button__container--medium {
  grid-template-columns: 180px;
}
@media screen and (min-width: 576px) {
  .vf-button__container--medium {
    grid-template-columns: repeat(2, 180px);
  }
}
@media screen and (min-width: 992px) {
  .vf-button__container--medium {
    grid-template-columns: repeat(4, 180px);
  }
}

.vf-btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #222222;
  display: inline-block;
  font-family: "Vattenfall Hall NORDx";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18px;
  min-width: 180px;
  padding: 9px 48px;
  position: relative;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}
.vf-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.vf-btn::before {
  content: "→";
  font-size: 1.5rem;
  font-weight: normal;
  opacity: 0;
  position: absolute;
  transform: translate(-220%, 0);
  transform-origin: top left;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.vf-btn:hover::before {
  opacity: 1;
  transition-delay: 150ms;
  transform: translate(-150%, 0);
}
.vf-btn--block {
  display: block;
  width: 100%;
}
.vf-btn--block + .vf-btn--block {
  margin-top: 15px;
}

.vf-btn--lg {
  border-radius: 26px;
  font-size: 1.125rem;
  line-height: 24px;
  min-width: 240px;
  padding: 12px 48px;
}

.vf-btn__primary {
  color: #111111;
  background: #ffda00;
}
.vf-btn__primary:hover {
  background: #ffe85b;
}
.vf-btn__primary:focus {
  background: #f1c50b;
}

.vf-btn__secondary {
  color: #fff;
  background: #1964a3;
}
.vf-btn__secondary:hover {
  background: #2071b5;
}
.vf-btn__secondary:focus {
  background: #1e324f;
}

.vf-btn__tertiary {
  color: #222222;
  background: transparent;
  border: 2px #cdd1d4 solid;
}
.vf-btn__tertiary:hover {
  background: #1964a3;
  border-color: #1964a3;
  color: #fff;
}
.vf-btn__tertiary:focus {
  background: #1e324f;
  border-color: #1e324f;
  color: #fff;
}

.vf-btn__dark--outline {
  color: #222222;
  background: transparent;
  border: 2px #222222 solid;
}
.vf-btn__dark--outline:hover {
  color: #fff;
  background: #222222;
  border-color: #222222;
}
.vf-btn__dark--outline:focus {
  color: #fff;
  background: #4e4b48;
  border-color: #4e4b48;
}

.vf-btn__secondary--outline {
  color: #2071b5;
  background: transparent;
  border: 2px #1964a3 solid;
}
.vf-btn__secondary--outline:hover {
  color: #fff;
  background: #1964a3;
  border-color: #1964a3;
}
.vf-btn__secondary--outline:active {
  color: #fff;
  background: #1e324f;
  border-color: #1e324f;
}

.vf-btn:disabled {
  background-color: #eeeeee;
  color: #767676;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.vf-btn__group {
  border-radius: 34px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.vf-btn__group-btn {
  background: #fff;
  border: none;
  border-radius: 34px;
  color: #1964a3;
  display: inline-block;
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.vf-btn__group-btn:focus, .vf-btn__group-btn:hover {
  color: #fff;
}
.vf-btn__group-btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.vf-btn__group-btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.vf-btn__group--mobile {
  display: flex;
  flex-direction: column;
}
.vf-btn__group--mobile .vf-btn__group-btn {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 34px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  padding: 6px;
  text-align: center;
}
.vf-btn__group--mobile .vf-btn__group-btn:not(:first-child) {
  margin-top: 16px;
}

.vf-btn--incharge-nordic {
  background: #46ee76;
  color: #000;
}
.vf-btn--incharge-nordic:hover {
  background: #88f4a6;
}
.vf-btn--incharge-nordic:focus, .vf-btn--incharge-nordic.focus {
  background: #46ee76;
}
.vf-btn--incharge-nordic.disabled, .vf-btn--incharge-nordic:disabled {
  background-color: #eee;
  color: #767676;
}
.vf-btn--incharge-nordic + .vf-btn--incharge-nordic {
  margin-top: 15px;
}
@media screen and (min-width: 576px) {
  .vf-btn--incharge-nordic + .vf-btn--incharge-nordic {
    margin-top: 0;
    margin-left: 15px;
  }
}

.vf-preamble {
  font-family: "Vattenfall Hall NORDx";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-preamble {
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.vf-headings__large {
  font-family: "Vattenfall Hall Display NORDx";
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__large {
    font-size: 3.75rem;
    line-height: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .vf-headings__large {
    font-size: 4.5rem;
    line-height: 84px;
  }
}

.vf-headings__default {
  font-family: "Vattenfall Hall Display NORDx";
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__default {
    font-size: 3.25rem;
    line-height: 72px;
  }
}

.vf-headings__small {
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__small {
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.vf-headings__smaller {
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-headings__smaller {
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.vf-intro-in-caps {
  font-family: "Vattenfall Hall NORDx";
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .vf-intro-in-caps {
    font-size: 1rem;
    font-weight: bold;
    line-height: 36px;
  }
}

.vf-body-copy__large {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 36px;
  margin: 0;
}

.vf-body-copy__small {
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  margin: 0;
}

.vf-utility__link {
  color: #2071b5;
}

.vf-utility__metadata {
  color: #888888;
}

.vf-utility__success {
  color: #3dc07c;
}

.vf-utility__warning {
  color: #f5a623;
}

.vf-utility__error {
  color: #f93b18;
}

.vf-tooltip {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: #1964a3;
}
.vf-tooltip:hover {
  color: #05131e;
  text-decoration: underline;
}
.vf-tooltip:hover .vf-tooltip-message {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.vf-tooltip[class*=vf-icon-] {
  color: inherit;
}
.vf-tooltip[class*=vf-icon-]:hover {
  color: inherit;
  text-decoration: none;
}
.vf-tooltip[class*=vf-icon-] .vf-tooltip-message {
  margin-bottom: 10px;
}
.vf-tooltip[class*=vf-icon-][class*=vf-tooltip--right] .vf-tooltip-message {
  margin-bottom: -10px !important;
}
.vf-tooltip[class*=vf-icon-][class*=vf-tooltip--left] .vf-tooltip-message {
  margin-bottom: -10px !important;
}

.vf-tooltip--left ~ .vf-tooltip-message {
  right: 52px !important;
}
.vf-tooltip--left .vf-tooltip-message {
  right: calc(100% + 10px);
}
.vf-tooltip--left ~ .vf-tooltip-message,
.vf-tooltip--left .vf-tooltip-message {
  transform: translate(0, 50%) !important;
}
.vf-tooltip--left ~ .vf-tooltip-message:before, .vf-tooltip--left ~ .vf-tooltip-message:after,
.vf-tooltip--left .vf-tooltip-message:before,
.vf-tooltip--left .vf-tooltip-message:after {
  top: calc(50% - 15px);
  left: auto;
  bottom: 0;
  transform: translate(0, 100%) rotate(-45deg);
  border-left: none;
  border-bottom: 1px solid #c5eecc;
  border-right: 1px solid #c5eecc;
  border-top: none;
}
.vf-tooltip--left ~ .vf-tooltip-message:before,
.vf-tooltip--left .vf-tooltip-message:before {
  right: -6px;
}
.vf-tooltip--left ~ .vf-tooltip-message:after,
.vf-tooltip--left .vf-tooltip-message:after {
  right: -5px;
  border-width: 10px;
  border-color: transparent #edf9f3 #edf9f3 transparent;
  top: -6px;
}

.vf-tooltip--right ~ .vf-tooltip-message {
  left: 100% !important;
}
.vf-tooltip--right .vf-tooltip-message {
  left: calc(100% + 10px);
}
.vf-tooltip--right ~ .vf-tooltip-message,
.vf-tooltip--right .vf-tooltip-message {
  transform: translate(0, 50%) !important;
  right: auto !important;
}
.vf-tooltip--right ~ .vf-tooltip-message:before, .vf-tooltip--right ~ .vf-tooltip-message:after,
.vf-tooltip--right .vf-tooltip-message:before,
.vf-tooltip--right .vf-tooltip-message:after {
  top: calc(50% - 15px);
  right: auto;
  bottom: 0;
  transform: translate(0, 100%) rotate(-45deg);
  border-left: 1px solid #c5eecc;
  border-bottom: none;
  border-right: none;
  border-top: 1px solid #c5eecc;
}
.vf-tooltip--right ~ .vf-tooltip-message:before,
.vf-tooltip--right .vf-tooltip-message:before {
  left: -6px;
}
.vf-tooltip--right ~ .vf-tooltip-message:after,
.vf-tooltip--right .vf-tooltip-message:after {
  left: -5px;
  border-width: 10px;
  border-color: #edf9f3 transparent transparent #edf9f3;
  top: -6px;
}

.vf-tooltip--bottom .vf-tooltip-message {
  bottom: -100%;
}
.vf-tooltip--bottom ~ .vf-tooltip-message,
.vf-tooltip--bottom .vf-tooltip-message {
  bottom: -3px;
  transform: translate(50%, 100%);
}
.vf-tooltip--bottom ~ .vf-tooltip-message:before, .vf-tooltip--bottom ~ .vf-tooltip-message:after,
.vf-tooltip--bottom .vf-tooltip-message:before,
.vf-tooltip--bottom .vf-tooltip-message:after {
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #c5eecc;
  border-top: 1px solid #c5eecc;
}
.vf-tooltip--bottom ~ .vf-tooltip-message:before,
.vf-tooltip--bottom .vf-tooltip-message:before {
  top: -6px;
}
.vf-tooltip--bottom ~ .vf-tooltip-message:after,
.vf-tooltip--bottom .vf-tooltip-message:after {
  top: -5px;
  border-width: 10px;
  border-color: #edf9f3 #edf9f3 transparent transparent;
}
.vf-tooltip--bottom[class*=vf-icon-] ~ .vf-tooltip-message,
.vf-tooltip--bottom[class*=vf-icon-] .vf-tooltip-message {
  bottom: -100%;
  transform: translate(50%, 100%);
}

.vf-tooltip--blue ~ .vf-tooltip-message,
.vf-tooltip--blue .vf-tooltip-message {
  background: #f1f8ff;
  border-color: #c5dcee;
  color: #2071b5;
}
.vf-tooltip--blue ~ .vf-tooltip-message:before,
.vf-tooltip--blue .vf-tooltip-message:before {
  border-color: #c5dcee;
}
.vf-tooltip--blue ~ .vf-tooltip-message:after,
.vf-tooltip--blue .vf-tooltip-message:after {
  border-color: #f1f8ff;
}

.vf-tooltip--red ~ .vf-tooltip-message,
.vf-tooltip--red .vf-tooltip-message {
  background: #fff5f1;
  border-color: #eec8c5;
  color: #f93b18;
}
.vf-tooltip--red ~ .vf-tooltip-message:before,
.vf-tooltip--red .vf-tooltip-message:before {
  border-color: #eec8c5;
}
.vf-tooltip--red ~ .vf-tooltip-message:after,
.vf-tooltip--red .vf-tooltip-message:after {
  border-color: #fff5f1;
}

.vf-tooltip--blue-solid ~ .vf-tooltip-message,
.vf-tooltip--blue-solid .vf-tooltip-message {
  background: #2071b5;
  border-color: #2071b5;
  color: #fff;
}
.vf-tooltip--blue-solid ~ .vf-tooltip-message:before,
.vf-tooltip--blue-solid .vf-tooltip-message:before {
  border-color: #2071b5;
}
.vf-tooltip--blue-solid ~ .vf-tooltip-message:after,
.vf-tooltip--blue-solid .vf-tooltip-message:after {
  border-color: #2071b5;
}

.vf-tooltip--green-solid ~ .vf-tooltip-message,
.vf-tooltip--green-solid .vf-tooltip-message {
  background: #3dc07c;
  border-color: #3dc07c;
  color: #fff;
}
.vf-tooltip--green-solid ~ .vf-tooltip-message:before,
.vf-tooltip--green-solid .vf-tooltip-message:before {
  border-color: #3dc07c;
}
.vf-tooltip--green-solid ~ .vf-tooltip-message:after,
.vf-tooltip--green-solid .vf-tooltip-message:after {
  border-color: #3dc07c;
}

.vf-tooltip--red-solid ~ .vf-tooltip-message,
.vf-tooltip--red-solid .vf-tooltip-message {
  background: #f93b18;
  border-color: #f93b18;
  color: #fff;
}
.vf-tooltip--red-solid ~ .vf-tooltip-message:before,
.vf-tooltip--red-solid .vf-tooltip-message:before {
  border-color: #f93b18;
}
.vf-tooltip--red-solid ~ .vf-tooltip-message:after,
.vf-tooltip--red-solid .vf-tooltip-message:after {
  border-color: #f93b18;
}

.vf-tooltip--yellow-solid ~ .vf-tooltip-message,
.vf-tooltip--yellow-solid .vf-tooltip-message {
  background: #ffda00;
  border-color: #ffda00;
  color: #222222;
}
.vf-tooltip--yellow-solid ~ .vf-tooltip-message:before,
.vf-tooltip--yellow-solid .vf-tooltip-message:before {
  border-color: #ffda00;
}
.vf-tooltip--yellow-solid ~ .vf-tooltip-message:after,
.vf-tooltip--yellow-solid .vf-tooltip-message:after {
  border-color: #ffda00;
}

.vf-tooltip-message {
  width: 180px;
  width: max-content;
  max-width: 180px;
  bottom: calc(100% - 10px);
  min-height: 31px;
  opacity: 0;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  padding: 4px 10px;
  z-index: 999;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 20px;
  pointer-events: none;
  background: #edf9f3;
  border: 1px solid #c5eecc;
  border-radius: 4px 4px 4px 4px;
  color: #3dc07c;
  text-align: center;
}
.vf-tooltip-message:before, .vf-tooltip-message:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 1px solid #c5eecc;
  border-bottom: 1px solid #c5eecc;
  border-radius: 3px;
  transform: rotate(-45deg);
  z-index: -1;
}
.vf-tooltip-message:before {
  bottom: -5px;
}
.vf-tooltip-message:after {
  content: "";
  bottom: -4px;
  border-color: transparent transparent #edf9f3 #edf9f3;
  border-width: 10px;
}

.vf-input {
  background-color: #fff;
  box-sizing: border-box;
  color: #222222;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 24px;
  height: 52px;
  outline: none;
  padding: 16px 20px;
  position: relative;
  width: 264px;
}
.vf-input::-webkit-outer-spin-button, .vf-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.vf-input[type=number] + .vf-input__label {
  color: #000000;
}
.vf-input:focus ~ .vf-input__label {
  color: #1964a3;
  font-weight: 500;
  left: 16.5px;
  letter-spacing: 0px;
  transform: scale(0.7);
  transform-origin: top left;
  top: -9px;
  padding: 0 7px;
}
.vf-input__container {
  cursor: pointer;
  line-height: 1;
  position: relative;
  width: 264px;
}
.vf-input__label {
  color: #767676;
  cursor: default;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.25rem;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 0;
  top: 13px;
  left: 20px;
  position: absolute;
  pointer-events: none;
  transition: top 0.2s ease-in-out;
}
.vf-input__label::after {
  background: #fff;
  content: "";
  display: block;
  height: 2.6px;
  top: -12.43666px;
  position: relative;
  width: 100%;
  transform: scaleX(1.05) scaleY(1.1);
  z-index: -1;
}
.vf-input__number--increment {
  position: absolute;
  right: 1px;
  height: 48%;
  width: 40px;
  border-left: 1px solid #e8e8e9;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  top: 1px;
  border-bottom: 1px solid #e8e8e9;
}
.vf-input__number--decrement {
  position: absolute;
  right: 1px;
  height: 48%;
  width: 40px;
  border-left: 1px solid #e8e8e9;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  bottom: 1px;
  border-top: 1px solid #e8e8e9;
}
.vf-input.vf-input--warning {
  border-color: #ffb2a4;
  box-shadow: 0 0 #f5a623;
  outline: none;
}
.vf-input.vf-input--warning:hover {
  border-color: #f5a623;
}
.vf-input.vf-input--warning:focus {
  border-color: #f5a623;
  box-shadow: 0 1px #f5a623;
  transition: box-shadow 0.2s ease-in-out;
}
.vf-input.vf-input--warning ~ label {
  color: #f5a623 !important;
}
.vf-input.vf-input--error {
  border-color: #ffb2a4;
  box-shadow: 0 0 #f93b18;
  outline: none;
}
.vf-input.vf-input--error:hover {
  border-color: #f93b18;
}
.vf-input.vf-input--error:focus {
  border-color: #f93b18;
  box-shadow: 0 1px #f93b18;
  transition: box-shadow 0.2s ease-in-out;
}
.vf-input.vf-input--error ~ label {
  color: #f93b18 !important;
}
.vf-input--underline {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  border-radius: 0;
  outline: none;
}
.vf-input--underline:hover {
  border-bottom: 1px solid #999;
}
.vf-input--underline ~ .vf-input__label {
  background-color: transparent;
  left: 0;
  padding: 0;
}
.vf-input--underline ~ .vf-input__label:after {
  background: transparent;
}
.vf-input--underline:focus ~ .vf-input__label {
  left: 0;
  padding: 0;
}

textarea.vf-input {
  font-family: "Vattenfall Hall NORDx";
  height: auto;
}

.vf-icon-up::before {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vf-icon-down::before {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vf-input__container .vf-tooltip-message {
  bottom: calc(100% - 8px);
  opacity: 0;
  position: absolute;
  right: 23px;
}
.vf-input__container .vf-input-tooltip-icon {
  cursor: pointer;
  display: inline;
}
.vf-input__container .vf-input-tooltip-icon.vf-icon-help::before {
  color: #222222;
  font-size: 1.25rem;
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
}
.vf-input__container .vf-input-tooltip-icon:hover ~ .vf-tooltip-message {
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.vf-input--error-text {
  display: none;
  color: #f93b18;
  font-size: 1rem;
  line-height: 28px;
  font-weight: 500;
  line-height: 28px;
}

.vf-input:not(:placeholder-shown) ~ .vf-input__label {
  color: #1964a3;
  font-weight: 500;
  left: 16.5px;
  letter-spacing: 0px;
  transform: scale(0.7);
  transform-origin: top left;
  top: -9px;
  padding: 0 7px;
}

.vf-input:not(:placeholder-shown) ~ #vf_underline_label {
  left: 0;
  padding: 0;
}

.vf-input::placeholder {
  color: transparent;
}

.vf-alt-input-container {
  position: relative;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.25rem;
  height: 107px;
  width: 264px;
}
.vf-alt-input-container input:focus,
.vf-alt-input-container select:focus,
.vf-alt-input-container textarea:focus,
.vf-alt-input-container button:focus {
  outline: none;
}
.vf-alt-input-container #vf__alt_textarea_input {
  height: 110px;
  color: #222222;
}
.vf-alt-input-container #vf__alt_textarea_input::placeholder {
  color: #767676;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.25rem;
  font-weight: normal;
  height: 24px;
  letter-spacing: 0px;
  width: 100%;
}

.vf-alt-input {
  box-sizing: border-box;
  font-family: "Vattenfall Hall NORDx";
  position: relative;
  top: 34px;
  width: 264px;
  height: 52px;
  background-color: #fff;
  color: #222222;
  padding: 16px 20px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #ccc;
  font-size: 1.25rem;
  letter-spacing: 0px;
  line-height: 24px;
  font-weight: normal;
}
.vf-alt-input:hover {
  border: 1px solid #222222;
}
.vf-alt-input:focus {
  outline: none;
  border: 1px solid #1964a3;
}
.vf-alt-input::placeholder {
  width: 100%;
  height: 25px;
  color: #767676;
  font-size: 1.25rem;
  font-family: "Vattenfall Hall NORDx";
  font-weight: normal;
  letter-spacing: 0px;
}
.vf-alt-input.vf-alt-input--error {
  border-color: #ffb2a4;
}
.vf-alt-input.vf-alt-input--error:hover {
  border-color: #f93b18;
}
.vf-alt-input.vf-alt-input--error:focus {
  border-color: #f93b18;
}
.vf-alt-input.vf-alt-input--error::placeholder {
  color: #f93b18;
}

.vf-alt-input-label {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1.25rem;
  font-weight: normal;
  height: 26px;
  letter-spacing: 0px;
  line-height: 26px;
  width: 256px;
}

.vf-alt-input--error-text {
  bottom: -7px;
  color: #f93b18;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  left: 0;
  position: absolute;
  opacity: 0;
  width: 264px;
}

.vf-alt-input--detailed-text {
  position: absolute;
  left: 0;
  bottom: -7px;
  font-size: 1rem;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1rem;
  font-weight: 500;
  color: #767676;
  height: 26.6px;
  letter-spacing: 0px;
  line-height: 28px;
  width: 264px;
  margin-bottom: 0;
}

.vf-alt-input--textarea-detailed-text {
  position: absolute;
  left: 0;
  bottom: -66px;
  color: #767676;
  font-family: "Vattenfall Hall NORDx";
  font-size: 1rem;
  font-weight: normal;
  height: 33px;
  letter-spacing: 0px;
  line-height: 18px;
  width: 264px;
  margin-bottom: 0;
}

#vf_alt_tooltip_input {
  padding-right: 54px;
}

.vf-alt-input-container-textarea {
  height: auto;
  margin-bottom: 66px;
}

.vf-alt-input-container .vf-tooltip-message {
  bottom: calc(100% - 35px);
  opacity: 0;
  position: absolute;
  right: 24px;
}
.vf-alt-input-container .vf-input-tooltip-icon {
  cursor: pointer;
  display: inline;
}
.vf-alt-input-container .vf-input-tooltip-icon.vf-icon-help::before {
  color: #222222;
  font-size: 1.25rem;
  position: absolute;
  top: calc(50% - 6px);
  right: 15px;
}
.vf-alt-input-container .vf-input-tooltip-icon:hover ~ .vf-tooltip-message {
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.vf-subscribe {
  background: #fff;
  background-size: cover;
  background-position: center center;
  padding: 28px 21px;
  font-size: 2.75rem;
  margin: 0 auto;
  max-width: 1700px;
  min-height: 370px;
  position: relative;
}
.vf-subscribe__container {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .vf-subscribe__container {
    max-width: 552px;
  }
}
.vf-subscribe__content {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 36px;
  padding-top: 44px;
  padding-bottom: 88px;
  text-align: center;
  width: 100%;
}
.vf-subscribe__content .vf-preamble {
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .vf-subscribe__content .vf-preamble {
    font-size: 1.25rem;
  }
}
.vf-subscribe__content .vf-subscribe__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 28px;
}
.vf-subscribe__content .vf-subscribe__input .vf-btn {
  margin-top: 28px;
}
.vf-subscribe__content .vf-subscribe__input .vf-input {
  width: 100% !important;
}
.vf-subscribe__content .vf-subscribe__input .vf-input__container {
  margin-bottom: 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .vf-subscribe__content .vf-subscribe__input .vf-input__container {
    margin-bottom: 28px;
  }
}
.vf-subscribe__headline {
  font-family: "VattenfallHallDisplay-Bold";
  font-weight: 600;
  letter-spacing: 0;
  font-size: 2.25rem;
  line-height: 44px;
  text-align: center;
  padding-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .vf-subscribe__headline {
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 72px;
    padding-bottom: 32px;
  }
}
