.vf-tab-bar-container *[hidden] {
  display: none;
}
.vf-tab-bar-container *:focus {
  outline: none;
}
.vf-tab-bar-container .vf-tab-bar {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  position: relative;
  padding: 0;
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item {
  background-color: #fff;
  border-right: 1px solid #edf1f6;
  box-shadow: 0 0px 0 0 transparent;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  padding: 22px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item {
    flex-grow: 0;
  }
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item:last-of-type {
  border: none;
}
@media screen and (max-width: 767px) {
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item {
    align-items: center;
    color: #1964a3;
  }
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item:before {
    font-size: 1.5rem;
    height: 24px;
    position: relative;
    width: 24px;
  }
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item.vf-tab-bar-item--active {
  box-shadow: 0 3px 0 0 #1964a3;
}
@media screen and (max-width: 767px) {
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item.vf-tab-bar-item--active {
    color: #2071b5;
  }
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item.vf-tab-bar-item--active .vf-tab-bar-link {
  color: #2071b5;
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item.vf-tab-bar-item--disabled {
  cursor: not-allowed;
}
@media screen and (max-width: 767px) {
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item.vf-tab-bar-item--disabled {
    color: #767676;
  }
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item.vf-tab-bar-item--disabled .vf-tab-bar-link {
  pointer-events: none;
  color: #767676;
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item:not(.vf-tab-bar-item--disabled):not(.vf-tab-bar-item--active):hover {
  box-shadow: 0 3px 0 0 #1964a3;
  color: #2071b5;
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item:not(.vf-tab-bar-item--disabled):not(.vf-tab-bar-item--active):hover .vf-tab-bar-link {
  color: #2071b5;
}
@media screen and (max-width: 767px) {
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item:not(.vf-tab-bar-item--disabled):not(.vf-tab-bar-item--active):hover {
    color: #2071b5;
  }
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item:not(.vf-tab-bar-item--disabled):not(.vf-tab-bar-item--active) .vf-tab-bar-link:hover {
  color: #2071b5;
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item .vf-tab-bar-link {
  align-items: center;
  color: #222;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item .vf-tab-bar-link {
    font-size: 0;
  }
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item .vf-tab-bar-link:before {
    left: 0 !important;
  }
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item .vf-tab-bar-link:hover {
  text-decoration: none;
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item .vf-tab-bar-link:before {
  font-size: 1.5rem;
  height: 24px;
  left: -10px;
  position: relative;
  top: 2px;
  width: 24px;
}
@media screen and (min-width: 768px) {
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-item .vf-tab-bar-link:before {
    left: -20px;
  }
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-link-mobile {
  color: #222;
  display: none;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0px;
  line-height: 24px;
  top: 94px;
  text-align: center;
  position: absolute;
}
@media screen and (max-width: 767px) {
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-link-mobile.vf-tab-bar-link-mobile--active {
    cursor: default;
    display: block;
  }
  .vf-tab-bar-container .vf-tab-bar .vf-tab-bar-link-mobile.vf-tab-bar-link-mobile--active:hover {
    text-decoration: none;
  }
}
.vf-tab-bar-container .vf-tab-bar .vf-tab-bar-link-mobile:before {
  content: none !important;
}
.vf-tab-bar-container .vf-tab-bar-panels {
  padding-top: 32px;
}
@media screen and (max-width: 767px) {
  .vf-tab-bar-container .vf-tab-bar-panels {
    padding-top: 64px;
  }
}

.vf-tab-bar-container--mobile {
  height: 152px;
  position: relative;
  width: 100%;
}
.vf-tab-bar-container--mobile .vf-tab-bar--mobile-fixed {
  background: #fff;
  display: flex;
  height: 52px;
  list-style: none;
  padding: 0;
}
.vf-tab-bar-container--mobile .vf-tab-bar--mobile-fixed > .vf-tab-bar-item--mobile--fixed {
  flex-grow: 1;
  text-align: center;
}
.vf-tab-bar-container--mobile .vf-tab-bar--mobile-scroll {
  background: #fff;
  height: 52px;
  padding: 0;
  overflow-x: auto;
  list-style: none;
  white-space: nowrap;
}
.vf-tab-bar-container--mobile .vf-tab-bar--mobile-scroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.vf-tab-bar-container--mobile .vf-tab-bar-item--mobile--fixed,
.vf-tab-bar-container--mobile .vf-tab-bar-item--mobile--scroll {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  margin-right: -5px;
  min-width: 130px;
  outline: none;
  padding: 16px 14px 7px 14px;
  position: relative;
}
.vf-tab-bar-container--mobile .vf-tab-bar-item--mobile--active {
  color: #1964a3;
  border-bottom: solid 4px #1964a3;
  padding-bottom: 4px;
}
.vf-tab-bar-container--mobile .vf-tab-bar-content--mobile--fixed,
.vf-tab-bar-container--mobile .vf-tab-bar-content--mobile--scroll {
  bottom: 0;
  display: none;
  left: 0;
  right: 0;
  padding-top: 32px;
  position: absolute;
  top: 52px;
}
