.vf-ul {
  list-style-position: outside;
  padding: 0 0 0 18px;
  list-style: auto;
}
.vf-ul li {
  font-size: 1rem;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: normal;
  padding: 12px 0 12px 14px;
  padding: 12px 0 12px 14px;
}
