.vf-tooltip {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: #1964a3;
}
.vf-tooltip:hover {
  color: #05131e;
  text-decoration: underline;
}
.vf-tooltip:hover .vf-tooltip-message {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.vf-tooltip[class*=vf-icon-] {
  color: inherit;
}
.vf-tooltip[class*=vf-icon-]:hover {
  color: inherit;
  text-decoration: none;
}
.vf-tooltip[class*=vf-icon-] .vf-tooltip-message {
  margin-bottom: 10px;
}
.vf-tooltip[class*=vf-icon-][class*=vf-tooltip--right] .vf-tooltip-message {
  margin-bottom: -10px !important;
}
.vf-tooltip[class*=vf-icon-][class*=vf-tooltip--left] .vf-tooltip-message {
  margin-bottom: -10px !important;
}

.vf-tooltip--left ~ .vf-tooltip-message {
  right: 52px !important;
}
.vf-tooltip--left .vf-tooltip-message {
  right: calc(100% + 10px);
}
.vf-tooltip--left ~ .vf-tooltip-message,
.vf-tooltip--left .vf-tooltip-message {
  transform: translate(0, 50%) !important;
}
.vf-tooltip--left ~ .vf-tooltip-message:before, .vf-tooltip--left ~ .vf-tooltip-message:after,
.vf-tooltip--left .vf-tooltip-message:before,
.vf-tooltip--left .vf-tooltip-message:after {
  top: calc(50% - 15px);
  left: auto;
  bottom: 0;
  transform: translate(0, 100%) rotate(-45deg);
  border-left: none;
  border-bottom: 1px solid #c5eecc;
  border-right: 1px solid #c5eecc;
  border-top: none;
}
.vf-tooltip--left ~ .vf-tooltip-message:before,
.vf-tooltip--left .vf-tooltip-message:before {
  right: -6px;
}
.vf-tooltip--left ~ .vf-tooltip-message:after,
.vf-tooltip--left .vf-tooltip-message:after {
  right: -5px;
  border-width: 10px;
  border-color: transparent #edf9f3 #edf9f3 transparent;
  top: -6px;
}

.vf-tooltip--right ~ .vf-tooltip-message {
  left: 100% !important;
}
.vf-tooltip--right .vf-tooltip-message {
  left: calc(100% + 10px);
}
.vf-tooltip--right ~ .vf-tooltip-message,
.vf-tooltip--right .vf-tooltip-message {
  transform: translate(0, 50%) !important;
  right: auto !important;
}
.vf-tooltip--right ~ .vf-tooltip-message:before, .vf-tooltip--right ~ .vf-tooltip-message:after,
.vf-tooltip--right .vf-tooltip-message:before,
.vf-tooltip--right .vf-tooltip-message:after {
  top: calc(50% - 15px);
  right: auto;
  bottom: 0;
  transform: translate(0, 100%) rotate(-45deg);
  border-left: 1px solid #c5eecc;
  border-bottom: none;
  border-right: none;
  border-top: 1px solid #c5eecc;
}
.vf-tooltip--right ~ .vf-tooltip-message:before,
.vf-tooltip--right .vf-tooltip-message:before {
  left: -6px;
}
.vf-tooltip--right ~ .vf-tooltip-message:after,
.vf-tooltip--right .vf-tooltip-message:after {
  left: -5px;
  border-width: 10px;
  border-color: #edf9f3 transparent transparent #edf9f3;
  top: -6px;
}

.vf-tooltip--bottom .vf-tooltip-message {
  bottom: -100%;
}
.vf-tooltip--bottom ~ .vf-tooltip-message,
.vf-tooltip--bottom .vf-tooltip-message {
  bottom: -3px;
  transform: translate(50%, 100%);
}
.vf-tooltip--bottom ~ .vf-tooltip-message:before, .vf-tooltip--bottom ~ .vf-tooltip-message:after,
.vf-tooltip--bottom .vf-tooltip-message:before,
.vf-tooltip--bottom .vf-tooltip-message:after {
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #c5eecc;
  border-top: 1px solid #c5eecc;
}
.vf-tooltip--bottom ~ .vf-tooltip-message:before,
.vf-tooltip--bottom .vf-tooltip-message:before {
  top: -6px;
}
.vf-tooltip--bottom ~ .vf-tooltip-message:after,
.vf-tooltip--bottom .vf-tooltip-message:after {
  top: -5px;
  border-width: 10px;
  border-color: #edf9f3 #edf9f3 transparent transparent;
}
.vf-tooltip--bottom[class*=vf-icon-] ~ .vf-tooltip-message,
.vf-tooltip--bottom[class*=vf-icon-] .vf-tooltip-message {
  bottom: -100%;
  transform: translate(50%, 100%);
}

.vf-tooltip--blue ~ .vf-tooltip-message,
.vf-tooltip--blue .vf-tooltip-message {
  background: #f1f8ff;
  border-color: #c5dcee;
  color: #2071b5;
}
.vf-tooltip--blue ~ .vf-tooltip-message:before,
.vf-tooltip--blue .vf-tooltip-message:before {
  border-color: #c5dcee;
}
.vf-tooltip--blue ~ .vf-tooltip-message:after,
.vf-tooltip--blue .vf-tooltip-message:after {
  border-color: #f1f8ff;
}

.vf-tooltip--red ~ .vf-tooltip-message,
.vf-tooltip--red .vf-tooltip-message {
  background: #fff5f1;
  border-color: #eec8c5;
  color: #f93b18;
}
.vf-tooltip--red ~ .vf-tooltip-message:before,
.vf-tooltip--red .vf-tooltip-message:before {
  border-color: #eec8c5;
}
.vf-tooltip--red ~ .vf-tooltip-message:after,
.vf-tooltip--red .vf-tooltip-message:after {
  border-color: #fff5f1;
}

.vf-tooltip--blue-solid ~ .vf-tooltip-message,
.vf-tooltip--blue-solid .vf-tooltip-message {
  background: #2071b5;
  border-color: #2071b5;
  color: #fff;
}
.vf-tooltip--blue-solid ~ .vf-tooltip-message:before,
.vf-tooltip--blue-solid .vf-tooltip-message:before {
  border-color: #2071b5;
}
.vf-tooltip--blue-solid ~ .vf-tooltip-message:after,
.vf-tooltip--blue-solid .vf-tooltip-message:after {
  border-color: #2071b5;
}

.vf-tooltip--green-solid ~ .vf-tooltip-message,
.vf-tooltip--green-solid .vf-tooltip-message {
  background: #3dc07c;
  border-color: #3dc07c;
  color: #fff;
}
.vf-tooltip--green-solid ~ .vf-tooltip-message:before,
.vf-tooltip--green-solid .vf-tooltip-message:before {
  border-color: #3dc07c;
}
.vf-tooltip--green-solid ~ .vf-tooltip-message:after,
.vf-tooltip--green-solid .vf-tooltip-message:after {
  border-color: #3dc07c;
}

.vf-tooltip--red-solid ~ .vf-tooltip-message,
.vf-tooltip--red-solid .vf-tooltip-message {
  background: #f93b18;
  border-color: #f93b18;
  color: #fff;
}
.vf-tooltip--red-solid ~ .vf-tooltip-message:before,
.vf-tooltip--red-solid .vf-tooltip-message:before {
  border-color: #f93b18;
}
.vf-tooltip--red-solid ~ .vf-tooltip-message:after,
.vf-tooltip--red-solid .vf-tooltip-message:after {
  border-color: #f93b18;
}

.vf-tooltip--yellow-solid ~ .vf-tooltip-message,
.vf-tooltip--yellow-solid .vf-tooltip-message {
  background: #ffda00;
  border-color: #ffda00;
  color: #222222;
}
.vf-tooltip--yellow-solid ~ .vf-tooltip-message:before,
.vf-tooltip--yellow-solid .vf-tooltip-message:before {
  border-color: #ffda00;
}
.vf-tooltip--yellow-solid ~ .vf-tooltip-message:after,
.vf-tooltip--yellow-solid .vf-tooltip-message:after {
  border-color: #ffda00;
}

.vf-tooltip-message {
  width: 180px;
  width: max-content;
  max-width: 180px;
  bottom: calc(100% - 10px);
  min-height: 31px;
  opacity: 0;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  padding: 4px 10px;
  z-index: 999;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 20px;
  pointer-events: none;
  background: #edf9f3;
  border: 1px solid #c5eecc;
  border-radius: 4px 4px 4px 4px;
  color: #3dc07c;
  text-align: center;
}
.vf-tooltip-message:before, .vf-tooltip-message:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 1px solid #c5eecc;
  border-bottom: 1px solid #c5eecc;
  border-radius: 3px;
  transform: rotate(-45deg);
  z-index: -1;
}
.vf-tooltip-message:before {
  bottom: -5px;
}
.vf-tooltip-message:after {
  content: "";
  bottom: -4px;
  border-color: transparent transparent #edf9f3 #edf9f3;
  border-width: 10px;
}
