<h3 style="margin: 1rem 0">Button group</h3>
<div class="vf-btn__group" role="group" aria-label="Basic example">
  <button type="button" class="vf-btn__group-btn vf-btn vf-btn__secondary">
    Left
  </button>
  <button type="button" class="vf-btn__group-btn vf-btn vf-btn__secondary">
    Middle
  </button>
  <button type="button" class="vf-btn__group-btn vf-btn vf-btn__secondary">
    Middle
  </button>
  <button type="button" class="vf-btn__group-btn vf-btn vf-btn__secondary">
    Right
  </button>
</div>

<h3 style="margin: 1rem 0">Mobile button group</h3>
<div class="vf-btn__group--mobile" role="group" aria-label="Basic example">
  <button type="button" class="vf-btn__group-btn vf-btn vf-btn__secondary">
    Left
  </button>
  <button type="button" class="vf-btn__group-btn vf-btn vf-btn__secondary">
    Middle
  </button>
  <button type="button" class="vf-btn__group-btn vf-btn vf-btn__secondary">
    Middle
  </button>
  <button type="button" class="vf-btn__group-btn vf-btn vf-btn__secondary">
    Right
  </button>
</div>
