<div class="container">
  <h3 style="margin: 1rem 0; font-size: 2rem">Small size</h3>
  <div class="vf-js-single-select">
    <div
      class="vf-visual-pickers__single-select vf-visual-pickers-sm"
      style="margin-bottom: 20px"
    >
      <input
        class="vf-visual-pickers__single-select-input"
        type="radio"
        name="vf-visual-pickers"
        id="single-select-sm-1"
      />
      <label class="vf-visual-pickers__label" for="single-select-sm-1"
        >Option 1</label
      >
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__single-select vf-visual-pickers-sm"
      style="margin-bottom: 20px"
    >
      <input
        class="vf-visual-pickers__single-select-input"
        type="radio"
        name="vf-visual-pickers"
        id="single-select-sm-2"
      />
      <label class="vf-visual-pickers__label" for="single-select-sm-2"
        >Option 2</label
      >
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__single-select vf-visual-pickers-sm"
      style="margin-bottom: 20px"
    >
      <input
        class="vf-visual-pickers__single-select-input"
        type="radio"
        name="vf-visual-pickers"
        id="single-select-sm-3"
      />
      <label class="vf-visual-pickers__label" for="single-select-sm-3"
        >Option 3</label
      >
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__single-select vf-visual-pickers-sm"
      style="margin-bottom: 20px"
    >
      <input
        class="vf-visual-pickers__single-select-input"
        type="radio"
        name="vf-visual-pickers"
        id="single-select-sm-disabled"
        disabled
      />
      <label class="vf-visual-pickers__label" for="single-select-sm-disabled"
        >Option</label
      >
      <span class="vf-visual-pickers__icon"></span>
    </div>
  </div>
</div>

<div class="container">
  <h3 style="margin: 1rem 0; font-size: 2rem">Medium size</h3>
  <div class="vf-js-single-select">
    <div
      class="vf-visual-pickers__single-select vf-visual-pickers-md"
      style="margin-bottom: 20px"
    >
      <input type="radio" id="single-select-md-1" name="vf-visual-pickers" />
      <label class="vf-visual-pickers__label" for="single-select-md-1">
        Option 1
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__single-select vf-visual-pickers-md"
      style="margin-bottom: 20px"
    >
      <input type="radio" id="single-select-md-2" name="vf-visual-pickers" />
      <label class="vf-visual-pickers__label" for="single-select-md-2">
        Option 2
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__single-select vf-visual-pickers-md"
      style="margin-bottom: 20px"
    >
      <input type="radio" id="single-select-md-3" name="vf-visual-pickers" />
      <label class="vf-visual-pickers__label" for="single-select-md-3">
        Option 3
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__single-select vf-visual-pickers-md"
      style="margin-bottom: 20px"
    >
      <input
        type="radio"
        id="single-select-md-disabled"
        name="vf-visual-pickers"
        disabled
      />
      <label class="vf-visual-pickers__label" for="single-select-md-disabled">
        Option
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>
  </div>
</div>
