<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link rel="stylesheet" href="../../../style/style.css" />
    <link rel="stylesheet" href="main.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/fonts.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/standard.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/component-css/buttons.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/component-css/icons.css"
    />
  </head>
  <body>
    <div class="hero-container">{{content}}</div>
  </body>
</html>
