<div class="vf-tab-bar-container--mobile vf-js-tab-bar">
  <ul class="vf-tab-bar--mobile-fixed">
    <li class="vf-tab-bar-item--mobile--fixed vf-tab-bar-item--mobile--active">
      Lorem Ipsum
    </li>
    <li class="vf-tab-bar-item--mobile--fixed">Lorem Ipsum</li>
  </ul>
  <div class="vf-tab-bar-content--mobile--fixed">1</div>
  <div class="vf-tab-bar-content--mobile--fixed">2</div>
</div>
