@use '../../../style/variables' as *;

.vf-carousel-outer-container {
  background-color: rgb(237, 241, 246);
  display: flex;
  flex-direction: column;
  height: 540px;
  max-width: 1440px;
  width: 100%;

  @media screen and (min-width: 1200px) {
    height: 766px;
  }
}

.vf-carousel__title {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: 'Vattenfall Hall Display NORDx';
  line-height: 36px;
  margin-bottom: 25px;
  margin-top: 27px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 3.25rem;
    line-height: 72px;
    margin-top: 38px;
    margin-bottom: 41px;
  }
}

#vf-carousel-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
  width: 375px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1152px;
  }

  @media screen and (min-width: 1400px) {
    width: 1440px;
  }
}

#vf-carousel-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.vf-carousel-next-slide-overlay {
  opacity: 0.5;
}

.vf-carousel-card-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 313px;
  margin: 0 21px;

  @media screen and (min-width: 768px) {
    margin: 0;
    margin-right: 23px;
    margin-left: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-left: 12px;
    margin-right: 24px;
    width: 360px;
    transform: translateX(156px);
  }

  @media screen and (min-width: 1400px) {
    margin: 0;
    margin-left: 0;
    margin-right: 24px;
  }

  &:not(:first-of-type) {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.vf-carousel-controllers {
  display: flex;
  justify-content: space-between;
}

.vf-carousel-arrows {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: -16px;
    width: 650px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 48px;
    width: 1120px;
  }
}

.vf-carousel-arrows .arrow:hover {
  color: #2071b5;
}

.vf-carousel-arrows .arrow {
  color: $link__color;
  margin-left: 8px;
}

#left-arrow::before {
  font-size: 1.25rem;

  @media screen and (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

#right-arrow::before {
  font-size: 1.25rem;

  @media screen and (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

.vf-carousel-image {
  height: 200px;
  width: 313px;

  @media screen and (min-width: 1200px) {
    height: 232px;
    width: 360px;
  }
}

.vf-carousel-body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 27px 35px 31px 32px;
}

.vf-carousel-header {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 16px;
  color: $primary__coal-black;
  font-family: 'Vattenfall Hall Bold NORDx', Helvetica, Arial, sans-serif;

  @media screen and (min-width: 1200px) {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

.vf-carousel-subtitle {
  color: $primary__coal-black;
  font-family: 'Vattenfall Hall NORDx', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 28px;
  width: 294px;
  margin-bottom: 20px;
}

.vf-carousel-indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media screen and (min-width: 1200px) {
    display: none;
    margin-top: 48px;
  }
}

.vf-carousel-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $tertiary__medium-grey;
  margin-left: 9px;
}

.vf-carousel-indicator-active {
  background-color: $link__color;
}

@media screen and (max-width: 1200px) {
  .vf-carousel-body-container {
    padding: 20px 5px 13px 20px;
  }

  .vf-carousel-subtitle {
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .vf-carousel-card-container:hover {
    -webkit-transform: none;
    transform: none;
  }
}
