@use '../../../style/variables' as *;

.vf-expo-carousel {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;

  .vf-component__large-heading {
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 4.5rem;
    }
  }

  &__wrapper {
    display: flex;
    height: 100%;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      appearance: none;
    }
  }

  &__buttons {
    bottom: 3rem;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    position: absolute;
    right: 3rem;

    @media screen and (min-width: 768px) {
      right: 6rem;
    }
  }

  &__button {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    justify-content: center;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;
    height: 1.5rem;
    width: 1.5rem;

    @media screen and (min-width: 1200px) {
      font-size: 1.25rem;
      height: 2.5rem;
      width: 2.5rem;
    }

    &.active {
      background-color: #2071b5;
      color: $primary__aura-white;
    }
  }

  &__observer {
    & .vf-expo-slide__content-container {
      opacity: 0;

      &.fade-in {
        animation: 0.3s ease-in 0.6s forwards fadeAndSlideIn;
      }
    }
  }

  &__arrow--prev,
  &__arrow--next {
    align-items: center;
    background-color: $primary__aura-white;
    background-size: 2rem;
    background-position: 2px 3px;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    top: 50%;
    transition: background-color 0.25s ease-in;
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    width: 40px;
    z-index: 10;
  }

  &__arrow--prev {
    left: 1rem;
  }

  &__arrow--next {
    left: auto;
    right: 1rem;
  }

  .vf-expo-carousel__content-anchor {
    align-items: center;
    bottom: 3rem;
    cursor: pointer;
    display: flex;
    left: 6rem;
    -webkit-font-smoothing: antialiased;
    position: absolute;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &-link {
      color: $primary__aura-white;
      font-size: 1rem;
      text-decoration: none;

      @media screen and (min-width: 1200px) {
        font-size: 1.25rem;
      }

      &::before {
        content: '';
        height: 3rem;
        width: 3rem;
      }
    }

    .vf-icon-down {
      color: $primary__aura-white;
      margin-right: 1rem;

      &::before {
        font-size: 2.5rem;
        position: static;
      }
    }
  }
}

.vf-expo-slide {
  flex-shrink: 0;
  scroll-snap-align: center;
  height: 56.25vw;
  min-height: 60vh;
  max-height: 70vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;

  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
    inset: 0;
    position: absolute;
  }

  &__content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;

    @media screen and (min-width: 375px) {
      max-width: 345px;
    }

    @media screen and (min-width: 768px) {
      max-width: none;
    }
  }

  &__bg-video {
    height: 100%;
    inset: 0;
    left: 0;
    position: absolute;
  }

  &__media {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.vf-expo-carousel .vf-component__large-heading,
.vf-expo-carousel .vf-link--with-arrow {
  color: $primary__aura-white;
}

@keyframes fadeAndSlideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
