@use '../structure/responsive' as *;
@use '../../../style/variables' as *;

.vf-footer {
  align-items: center;
  background: $bg__light-blue;
  display: flex;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 28px 21px;

    @media screen and (min-width: 576px) {
      max-width: 540px;
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 770px;
      padding: 45px 60px;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
      max-width: 960px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 1160px;
    }

    @media screen and (min-width: 1400px) {
      max-width: 1440px;
      padding: 57px 156px 68px 156px;
    }
  }

  &--md-hidden {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &--sm-hidden {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__social-media-column {
    @media screen and (min-width: 992px) {
      grid-column-start: 2;
    }
  }

  &__content {
    margin: 20px 0;

    @media screen and (min-width: 768px) {
      padding-right: 72px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &-item {
      color: $text__dark-color;
      flex: 1;
      font-size: 1rem;
      font-weight: 500;
      line-height: 36px;
      text-decoration: none;

      &:hover {
        color: $primary__ocean-blue;
      }

      &--country-link {
        line-height: 41px;
      }
    }
  }

  &__heading {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 1.25rem;
      line-height: 36px;
    }
  }

  &__paragraph {
    font-size: 1rem;
    line-height: 28px;
    margin: 0;
    margin-bottom: 20px;
  }

  &__social-media {
    &-links {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr;
      }

      a {
        align-items: center;
        color: #000;
        display: flex;
        font-size: 1rem;
        font-weight: 500;
        line-height: 36px;
        padding: 2px 0;
        text-decoration: none;

        &:hover {
          color: $primary__ocean-blue;
        }

        &::before {
          font-size: 1.25rem;
          margin-right: 15px;
        }
      }
    }
  }

  .vf-dropdown-wrapper {
    min-width: 100%;

    .vf-dropdown__standard {
      border-radius: 0;
      background-color: $primary__aura-white;
      padding-right: 100px;
    }
  }
}
