@use '../../../style/variables' as *;
@use '../selection/buttons' as *;

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.vf-hero {
  background-size: cover;
  background-position: center center;
  font-size: 2.75rem;
  height: auto;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  width: 100%;

  &__startpage {
    margin-bottom: 5rem;
    height: 368px;
    @media screen and (min-width: 768px) {
      height: 600px;
    }
  }

  &__oneline {
    height: 302px;

    @media screen and (min-width: 768px) {
      height: 310px;
    }
  }

  &__twoline {
    height: 310px;

    &-button {
      height: 368px;

      @media screen and (min-width: 768px) {
        height: 388px;
      }
    }
  }

  &__image-container {
    background-size: cover;
    background-position: center center;
    height: 100%;

    @media screen and (min-width: 768px) {
      border: none;
    }
  }

  &__image-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  &__heading {
    color: #fff;
    font-family: $font__heading, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.75rem;
    letter-spacing: 0px;
    line-height: 48px;
    max-width: 90%;
    width: 300px;

    &--button-below {
      padding-bottom: 39px;

      @media screen and (min-width: 768px) {
        padding-bottom: 43px;
      }
    }

    &--hidden {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 3.25rem;
      line-height: 62px;
      width: 600px;
    }

    @media screen and (min-width: 992px) {
      font-size: 4.5rem;
      line-height: 84px;
      text-align: center;
      width: 800px;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__paragraph {
    color: #000;
    font-family: $font__default, 'Vattenfall Hall', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    min-width: 300px;
    max-width: 650px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
      line-height: 36px;
      margin-bottom: 0;
    }
  }

  &__button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    width: 100%;

    @media screen and (min-width: 768px) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      width: 500px;
    }
  }

  &__logotype {
    bottom: -38.6%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) {
      bottom: -23.6%;
    }
  }

  &__play {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: $font__default;
    font-size: 1rem;
    font-weight: 400;
    height: 100px;
    letter-spacing: 0px;
    line-height: 36px;
    position: relative;
    width: 200px;

    @media screen and (min-width: 768px) {
      font-size: 1.125rem;
    }

    &::before {
      bottom: 31px;
      color: #fff;
      content: '\ea82';
      font-family: 'vf-icons';
      font-size: 1.5rem;
      font-weight: normal;
      left: 20px;
      position: absolute;

      @media screen and (min-width: 768px) {
        bottom: 30px;
        left: 5px;
      }
    }
  }
}
