.vf-image-block {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;

  &__body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 28px 21px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }

    @media screen and (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      padding: 88px 88px;
    }

    @media screen and (min-width: 1400px) {
      padding: 88px 136px;
    }
  }

  &__media {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    img {
      min-height: 216px;
      width: 100%;

      @media screen and (min-width: 576px) {
        width: 50%;
      }

      display: block;
      margin: 0 auto;
    }

    @media screen and (min-width: 992px) {
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    @media screen and (min-width: 1200px) {
      height: 400px;
      width: 516px;
    }

    &--circle {
      img {
        border-radius: 50%;
        height: 100%;
        min-height: 333px;
        min-width: 333px;
        object-fit: cover;
        width: 50%;

        @media screen and (min-width: 576px) {
          min-height: 363px;
          min-width: 363px;
          width: 33%;
        }

        @media screen and (min-width: 1024px) {
          min-height: 380px;
          min-width: 380px;
        }

        @media screen and (min-width: 1200px) {
          height: 400px;
          width: 400px;
        }
      }
    }
  }

  &__content {
    position: relative;
    padding: 34px 0px 34px 0;

    @media screen and (min-width: 992px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: -1;
      padding-right: 44px;
    }
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 32px;

    @media screen and (min-width: 1200px) {
      font-size: 3.25rem;
      font-weight: bold;
      line-height: 72px;
      max-width: 456px;
    }
  }

  &__text {
    @media screen and (min-width: 1200px) {
      max-width: 552px;
    }

    p {
      margin-bottom: 32px;
    }
  }

  &--reversed {
    .vf-image-block__content {
      order: 1;

      @media screen and (min-width: 992px) {
        padding-left: 44px;
        padding-right: 0;
      }
    }
  }
}
