@use '../../../style/variables' as *;
@use '../selection/buttons' as *;

.vf-media-block {
  background: $bg__light-blue;
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px 35px 16px;

  @media screen and (min-width: 375px) {
    padding-left: 21px;
    padding-right: 21px;
  }
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 188px;
    max-height: 488px;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1400px;
    padding: 0 136px 35px 136px;
  }

  &--reversed {
    direction: rtl;

    .vf-media-block__content {
      direction: ltr;
      padding: 35px 0;

      @media screen and (min-width: 768px) {
        padding-top: 88px;
        padding-right: 44px;
      }

      @media screen and (min-width: 1400px) {
        margin-left: 0;
        margin-right: 80px;
        padding-right: 0;
        width: 264px;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      max-width: 720px;
    }

    @media screen and (min-width: 1200px) {
      grid-gap: 40px;
      grid-template-columns: 2fr 1fr;
      max-width: 1160px;
    }
  }

  &__content {
    direction: ltr;
    padding: 35px 0;

    @media screen and (min-width: 768px) {
      padding-top: 88px;
      padding-left: 44px;
    }

    @media screen and (min-width: 1400px) {
      margin-left: 80px;
      padding-left: 0;
      max-width: 264px;
    }
  }

  &__title {
    font-size: 1.375rem;
    font-family: $font__heading, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
    margin: 0;
    margin-bottom: 2rem;

    @media screen and (min-width: 576px) {
      font-size: 1.75rem;
      line-height: 36px;
    }
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 2rem;
  }

  &__image {
    height: 100%;
    min-height: 216px;
    object-fit: cover;
    width: 100%;

    &-container {
      margin-top: -108px;
      position: relative;

      @media screen and (min-width: 768px) {
        height: 65%;
        margin-top: 0;
        padding-top: 88px;
      }

      @media screen and (min-width: 1200px) {
        height: 100%;
        width: 744px;
      }

      .vf-media__play-button-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        left: calc(50% - 40px);
        position: absolute;
        top: calc(50% - 40px);

        @media screen and (min-width: 768px) {
          left: calc(50% - 40px);
          top: 50%;
        }

        .vf-icon-play {
          background-color: rgba(255, 255, 255, 0.78);
          border-radius: 50%;
          border: none;
          cursor: pointer;
          height: 80px;
          transition: transform ease-in-out 0.1s;
          width: 80px;

          &:hover {
            transform: scale(1.1);
          }

          &::before {
            color: #000;
            content: '\ea82';
            font-family: 'vf-icons';
            font-size: 2.25rem;
            padding-left: 10px;
          }
        }
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    a {
      flex: 1;
    }
  }
}
