@use '../../../style/variables' as *;

.vf-large-quote {
  background: $primary__aura-white;
  height: 548px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  position: relative;
  width: 375px;

  @media screen and (min-width: 768px) {
    height: 704px;
    width: 100%;
    padding: 0 21px;
  }

  @media screen and (min-width: 1200px) {
    height: 704px;
    overflow: visible;
    width: 1128px;
  }

  &::before {
    border: 2px #d8d8d8 solid;
    border-radius: 50%;
    color: #cdd1d4;
    content: '“';
    font-size: 4.25rem;
    height: 48px;
    line-height: 72px;
    position: absolute;
    text-align: center;
    left: 23px;
    top: 84px;
    width: 48px;

    @media screen and (min-width: 1200px) {
      left: 0;
      top: 88px;
    }
  }

  &__img {
    z-index: 10;
    left: 109px;
    height: 380px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 380px;

    @media screen and (min-width: 768px) {
      bottom: 0;
      height: auto;
      top: auto;
      width: 700px;
    }

    @media screen and (min-width: 1200px) {
      left: auto;
      right: 50px;
    }
  }

  &__light-grey-bg {
    background: #f2f2f2;
    height: 100%;
    top: 96px;
    left: 155px;
    width: 220px;
    position: absolute;

    @media screen and (min-width: 768px) {
      bottom: 0;
      left: auto;
      right: 0%;
      width: 55%;
      height: auto;
    }

    @media screen and (min-width: 1200px) {
      left: auto;
      right: -136px;
      width: 784px;
    }
  }

  &__content {
    bottom: 0;
    text-align: left;
    width: 100%;
    position: absolute;
    z-index: 20;
  }

  &__person {
    margin-bottom: 23px;
    padding-left: 21px;

    @media screen and (min-width: 768px) {
      margin-bottom: 35px;
      padding: 0;
    }
  }

  &__byline {
    font-weight: 500;
    line-height: 36px;
    font-size: 1.25rem;
    font-family: $font__default;

    &-description {
      font-family: $font__default;
      font-weight: normal;
      line-height: 28px;
      font-size: 1rem;
    }
  }

  &__quote {
    background: #fff;
    color: $text__dark-color;
    font-family: $font__default;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 40px;
    margin: 0;
    margin-right: 21px;
    padding: 34px 21px 35px 21px;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
      line-height: 60px;
      margin-bottom: -1px;
      margin-right: 15%;
      padding: 21px 96px 12px 0;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 192px;
      padding: 44px 96px 12px 0;
    }
  }
}

.vf-small-quote {
  background: #faf9dc;
  border-radius: 20px 20px 20px 20px;
  font-size: 1rem;
  margin: 40px 0 60px;
  line-height: 28px;
  letter-spacing: -0.1px;
  max-width: 1440px;
  padding: 36px 48px 37px;
  position: relative;

  @media screen and (min-width: 576px) {
    font-size: 1.25rem;
    line-height: 36px;
  }

  &::after {
    border: 32px solid transparent;
    border-bottom: 0;
    border-right: 0;
    border-top-color: #faf9dc;
    bottom: 0;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -16px;
    margin-bottom: -32px;
    position: absolute;
    width: 0;

    @media screen and (min-width: 576px) {
      left: 70px;
    }
  }
}
