@use '../../../style/variables' as *;
@use '../selection/buttons' as *;
@use '../typography/typography.scss';
@forward '../input/input.scss';

.vf-subscribe {
  background: $primary__aura-white;
  background-size: cover;
  background-position: center center;
  padding: 28px 21px;
  font-size: 2.75rem;
  margin: 0 auto;
  max-width: 1700px;
  min-height: 370px;
  position: relative;

  &__container {
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 576px) {
      max-width: 552px;
    }
  }

  &__content {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 36px;
    padding-top: 44px;
    padding-bottom: 88px;
    text-align: center;
    width: 100%;

    .vf-preamble {
      font-weight: normal;

      @media screen and (min-width: 768px) {
        font-size: 1.25rem;
      }
    }

    .vf-subscribe__input {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 28px;

      .vf-btn {
        margin-top: 28px;
      }

      .vf-input {
        width: 100% !important;

        &__container {
          margin-bottom: 16px;
          width: 100%;

          @media screen and (min-width: 768px) {
            margin-bottom: 28px;
          }
        }
      }
    }
  }

  &__headline {
    font-family: 'VattenfallHallDisplay-Bold';
    font-weight: 600;
    letter-spacing: 0;
    font-size: 2.25rem;
    line-height: 44px;
    text-align: center;
    padding-bottom: 28px;

    @media screen and (min-width: 768px) {
      font-size: 3.25rem;
      font-weight: bold;
      line-height: 72px;
      padding-bottom: 32px;
    }
  }
}
