@use '../../../style/variables' as *;
@use '../selection/buttons' as *;

.vf-upload {
  label {
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 28px;
    transition: all 0.4s ease;

    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 180px;
      transition: all 0.4s ease;
    }

    img {
      height: 12px;
      line-height: 10px;
      margin: 0 4px;
      cursor: pointer;
    }

    .disabled {
      color: $tertiary__medium-dark-grey;
      background-color: #eee;
    }

    .errorText {
      color: $secondary__red !important;
    }

    .vf-icon-span {
      line-height: 10px;
      margin: 0 0 0 10px;
      cursor: pointer;
    }

    .vf-icon-span::before {
      font-size: 1rem;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 26px 0;
    width: 264px;
  }

  &__btn {
    padding: 9px 28px !important;
  }

  &__text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.05px;
  }

  &__size {
    color: #888888;
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 14px;
  }

  &--drag-n-drop {
    align-items: center;
    border: $text__dark-color dashed thin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px 0;
    width: 264px;
  }

  &__icon {
    align-items: center;
    color: #ebf2f3;
    display: flex;
    justify-content: center;
    margin: 28px 0;
    width: 100%;

    &::before {
      font-size: 5rem !important;
    }
  }
}

.upload__success {
  color: #3dc07c;
}

// OLD SCSS for DnD

.vf-file-upload__container,
.vf-file-upload--dragndrop {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type='file'] {
    display: none;
  }

  // Upload your...
  span:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .vf-file-upload__span--up-to-size {
    color: $text__dark-color;
    font-size: 0.875rem;
    margin-bottom: 20px;
  }
  // Error text...
  span:nth-child(3) {
    line-height: 14px;
    font-size: 0.875rem;
  }
}

.errorBorder {
  border-color: $secondary__red;
}

.errorText {
  color: $secondary__red;
}

.vf-file-upload--dragndrop {
  label {
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 28px;
    transition: all 0.4s ease;

    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 180px;
      transition: all 0.4s ease;
    }

    img {
      height: 12px;
      line-height: 10px;
      margin: 0 4px;
      cursor: pointer;
    }
  }

  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: $primary__ocean-blue dashed thin;
  padding: 28px 0;
  span:nth-child(3) {
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 28px;
    transition: all 0.4s ease;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 180px;
      transition: all 0.4s ease;
    }
  }
  .disabled {
    color: $tertiary__medium-dark-grey;
    background-color: #eee;
  }
  .errorText {
    color: $secondary__red;
  }
  .vf-icon-span {
    line-height: 10px;
    margin: 0 0 0 10px;
    cursor: pointer;
  }
  .vf-icon-span::before {
    font-size: 1rem;
    padding: 5px;
  }
}

.is-dragover {
  border: $link__color dashed thin;
}

.box__dragndrop {
  display: none;
}

.vf-file-upload__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(235, 242, 243);
  margin: 28px 0;
}

.vf-icon-my-documents:before {
  font-size: 5rem !important;
}
