<nav #ref class="vf-header vf-js-header">
  <div class="vf-header__inner">
    <span class="vf-icon-menu" id="vf-header-menu-icon"></span>

    <a href="#" class="vf-topbar__logo">
      <img src="vf-dds-assets/navigation/header/vf-logo.svg" width="180" />
    </a>
    <span id="search_box" class="vf-icon-search"></span>
  </div>
  <form class="vf-header__search-box">
    <input type="text" placeholder="Type here to search" />
    <span class="vf-icon-close vf-header__icon-close-desktop"></span>
  </form>

  <div class="vf-header__menu-container">
    <ul class="vf-header__menu-list vf-header__menu-level-1">
      <a href="#" class="vf-header__logo-desktop">
        <img src="vf-dds-assets/navigation/header/vf-logo.svg" />
      </a>

      <div class="vf-header-item__container">
        <div
          id="vf_header_level_1"
          class="vf-header__item vf-header__item-1"
        >
          <a href="#" id="vf-header__link">Who we are</a>
          <span class="vf-icon-more"></span>
        </div>
        <ul class="vf-header__menu-list vf-header__menu-level-2">
          <div
            id="vf_header_level_2"
            class="vf-header__item vf-header__item-2"
          >
            <a href="#" id="vf-header__link">About us</a>
            <span class="vf-icon-more"></span>
          </div>
          <ul class="vf-header__menu-list vf-header__menu-level-3">
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Vattenfall in brief</a>
              </div>
            </li>
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Organisation</a>
              </div>
            </li>
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Brand story</a>
              </div>
            </li>
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Our goals and strategy</a>
              </div>
            </li>
          </ul>
        </ul>
        <div
          id="vf_header_level_1"
          class="vf-header__item vf-header__item-1"
        >
          <a href="#" id="vf-header__link">What we believe</a>
          <span class="vf-icon-more"></span>
        </div>
        <ul class="vf-header__menu-list vf-header__menu-level-2">
          <div
            id="vf_header_level_2"
            class="vf-header__item vf-header__item-2"
          >
            <a href="#" id="vf-header__link">Belief</a>
            <span class="vf-icon-more"></span>
          </div>
          <ul class="vf-header__menu-list vf-header__menu-level-3">
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Thoughts</a>
              </div>
            </li>
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Organisation</a>
              </div>
            </li>
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Origin</a>
              </div>
            </li>
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Our goals and strategy</a>
              </div>
            </li>
          </ul>
          <div
            id="vf_header_level_2"
            class="vf-header__item vf-header__item-2"
          >
            <a href="#" id="vf-header__link">Ideology</a>
            <span class="vf-icon-more"></span>
          </div>
          <ul class="vf-header__menu-list vf-header__menu-level-3">
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Future</a>
              </div>
            </li>
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Past</a>
              </div>
            </li>
            <li class="vf-header__menu-list-item">
              <div class="vf-header__item vf-header__item-3">
                <a href="#" id="vf-header__link">Now</a>
              </div>
            </li>
          </ul>
        </ul>

        <div
          id="vf_header_level_1"
          class="vf-header__item vf-header__item-1"
        >
          <a href="#" id="vf-header__link">What we are</a>
          <span class="vf-icon-more"></span>
        </div>
        <ul class="vf-header__menu-list vf-header__menu-level-2">
          <li class="vf-header__menu-list-item">
            <div class="vf-header__item vf-header__item-3">
              <a href="#" id="vf-header__link">Progressive</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="vf-icon-div">
        <span class="vf-icon-globe"></span>
        <span
          id="search_box"
          class="vf-icon-search vf-icon-search__desktop"
        ></span>
      </div>
    </ul>
  </div>
</nav>