<section class="vf-hero vf-hero__oneline">
  <div
    class="vf-hero__image-container"
    style="background-image: url('example.jpeg')"
  >
    <div class="vf-hero__content">
      <div class="vf-hero__image-text">
        <h1 class="vf-hero__heading vf-hero__heading--button-below">
          Hero headline here
        </h1>
        <button type="button" class="vf-btn vf-btn--lg vf-btn__primary">
          Button label
        </button>
      </div>
    </div>
  </div>
</section>
