<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inputs</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../../../style/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/fonts.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/standard.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/component-css/icons.css"
    />
    <style>
      .vf-input__container {
        margin: 1rem 0;
      }

      .vf-alt-input-container {
        margin: 1rem 0;
      }

      p {
        padding: 0.5rem 0;
        min-width: 333px;
        max-width: 600px;
      }
    </style>
  </head>
  <body>
    <div class="container">{{content}}</div>
    <script src="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/components/dialogues/tooltip.js"></script>
    <script>
      document
        .getElementById('vf_error_state_input')
        .addEventListener('blur', (el) => {
          const foundEl = document.querySelector('.vf-input--error-text')
          el.target.value.toUpperCase() === 'ERROR'
            ? (foundEl.style.display = 'block')
            : (foundEl.style.display = 'none')
        })

      document
        .getElementById('vf_alt_error_state_input')
        .addEventListener('blur', (el) => {
          const foundEl = document.querySelector('.vf-alt-input--error-text')
          el.target.value.toUpperCase() === 'ERROR'
            ? (foundEl.style.opacity = 1)
            : (foundEl.style.opacity = 0)
        })
    </script>
  </body>
</html>
