<div class="vf-horizontal-steppers--container vf-js-horizontal-steppers">
  <div class="vf-horizontal-steppers--portal-details">
    <div
      id="vf-horizontal-step-1"
      class="vf-horizontal-steppers--portal-details-mobile"
    ></div>
    <label for="vf-horizontal-step-1">Details</label>
    <div
      id="vf-horizontal-step-2"
      class="vf-horizontal-steppers--portal-details-mobile vf-horizontal-steppers--active-portal-details-mobile"
    ></div>
    <label for="vf-horizontal-step-2">Details</label>
    <div
      id="vf-horizontal-step-3"
      class="vf-horizontal-steppers--portal-details-mobile"
    ></div>
    <label for="vf-horizontal-step-3">Details</label>
    <div
      id="vf-horizontal-step-4"
      class="vf-horizontal-steppers--portal-details-mobile"
    ></div>
    <label for="vf-horizontal-step-4">Details</label>
  </div>
</div>
</div>