@use '../../../style/variables' as *;
@use '../mixins/background-variant' as mixins;

@each $color, $value in $theme-colors {
  @include mixins.bg-variant('.vf-bg--#{$color}', $value);
}

.vf-bg--white {
  background-color: $primary__aura-white !important;
}

.vf-bg--transparent {
  background-color: transparent !important;
}
