@use '../../../style/variables' as *;
@use '../mixins/breakpoints' as mixins;
@use '../mixins/float' as float;

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mixins.media-breakpoint-up($breakpoint) {
    $infix: mixins.breakpoint-infix($breakpoint, $grid-breakpoints);

    .float#{$infix}-left {
      @include float.float-left;
    }
    .float#{$infix}-right {
      @include float.float-right;
    }
    .float#{$infix}-none {
      @include float.float-none;
    }
  }
}
