@use '../../../style/variables' as *;
@use '../mixins/breakpoints' as mixins;

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mixins.media-breakpoint-down($breakpoint) {
    $infix: mixins.breakpoint-infix($breakpoint, $grid-breakpoints);

    .vf-u-#{$infix}-hidden {
      display: none !important;
    }
  }
}
