@use '../../../style/variables' as *;

// Width and height

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
  }
}

.mw-100 {
  max-width: 100% !important;
}
.mh-100 {
  max-height: 100% !important;
}

.vf-vh-100 {
  height: 100vh;
}
.vf-vh-90 {
  height: 90vh;
}
.vf-vh-80 {
  height: 80vh;
}
.vf-vh-70 {
  height: 70vh;
}
.vf-vh-60 {
  height: 60vh;
}
.vf-vh-50 {
  height: 50vh;
}
