@use '../../../style/variables' as *;
@use '../mixins/text-truncate' as textTruncate;
@use '../mixins/breakpoints' as mixins;
@use '../mixins/text-emphasis' as textEmphasis;
@use '../mixins/text-hide' as textHide;

//
// Text
//

.vf-text--monospace {
  font-family: $font-family-monospace;
}

// Alignment

.vf-text--justify {
  text-align: justify !important;
}
.vf-text--nowrap {
  white-space: nowrap !important;
}
.vf-text--truncate {
  @include textTruncate.text-truncate;
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mixins.media-breakpoint-up($breakpoint) {
    $infix: mixins.breakpoint-infix($breakpoint, $grid-breakpoints);

    .vf-text#{$infix}--left {
      text-align: left !important;
    }
    .vf-text#{$infix}--right {
      text-align: right !important;
    }
    .vf-text#{$infix}--center {
      text-align: center !important;
    }
  }
}

// Transformation

.vf-text--lowercase {
  text-transform: lowercase !important;
}
.vf-text--uppercase {
  text-transform: uppercase !important;
}
.vf-text--capitalize {
  text-transform: capitalize !important;
}

// Weight and italics

.font-weight-light {
  font-weight: $font-weight-light !important;
}
.font-weight-lighter {
  font-weight: $font-weight-lighter !important;
}
.font-weight-normal {
  font-weight: $font-weight-normal !important;
}
.font-weight-bold {
  font-weight: $font-weight-bold !important;
}
.font-weight-bolder {
  font-weight: $font-weight-bolder !important;
}
.font-italic {
  font-style: italic !important;
}

// Contextual colors

.vf-text--white {
  color: $primary__aura-white !important;
}

@each $color, $value in $theme-colors {
  @include textEmphasis.text-emphasis-variant('.vf-text--#{$color}', $value);
}

.vf-text--body {
  color: $text__dark-color !important;
}
.vf-text--muted {
  color: $gray-600 !important;
}

.vf-text--black-50 {
  color: rgba($primary__coal-black, 0.5) !important;
}
.vf-text--white-50 {
  color: rgba($primary__aura-white, 0.5) !important;
}

.vf-text--incharge-nordic-green {
  color: $incharge-nordic-green !important;
}
.vf-text--incharge-nordic-blue {
  color: $incharge-nordic-blue !important;
}
.vf-text--incharge-nordic-grey {
  color: $incharge-nordic-grey !important;
}
.vf-text--incharge-vattenfall-green {
  color: $incharge-vattenfall-green !important;
}

.vf-text--incharge-map-app-yellow {
  color: $incharge-map-app-yellow !important;
}

.vf-text--incharge-map-app-white {
  color: $incharge-map-app-white !important;
}

.vf-text--incharge-map-app-solar {
  color: $incharge-map-app-solar !important;
}

.vf-text--incharge-map-app-blue {
  color: $incharge-map-app-blue !important;
}

// Misc

.vf-text--hide {
  @include textHide.text-hide($ignore-warning: true);
}

.vf-text--decoration-none {
  text-decoration: none !important;
}

// Reset

.text-reset {
  color: inherit !important;
}
