<section
  class="campaignpage hero-section vf-container vf-container-bleed campaign-no-logo"
  role="banner"
>
  <div>
    <section role="region" class="textheroblock herotextblock large">
      <div class="vf-container">
        <div class="vf-row">
          <div class="vf-col-12">
            <h1 class="ctitle">THE EDIT</h1>
          </div>
        </div>
        <div class="vf-row">
          <div class="vf-col-12">
            <div class="cpreamble"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
