<article class="vf-large-quote mb">
  <div class="vf-large-quote__light-grey-bg"></div>
  <img class="vf-large-quote__img" src="./anna-borg.png" />

  <div class="vf-large-quote__content">
    <div class="vf-large-quote__person">
      <p class="vf-large-quote__byline">Title and position</p>
      <p class="vf-large-quote__byline-description">Title & position</p>
    </div>
    <blockquote class="vf-large-quote__quote">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </blockquote>
  </div>
</article>
