.highlightinformationblock {
  .cta-content {
    h3 {
      margin-top: 0;
      font-size: 25px !important;
    }

    picture + h3 {
      margin-top: 25px;
    }

    .content {
      p {
        margin-bottom: 1rem;
        font-size: 18px;
        line-height: 26px;
      }

      ul {
        font-size: 16px;
        margin-bottom: 1rem;
        list-style-position: inside;
        padding: 0;

        li {
          font-size: 16px;

          &.checkmark {
            list-style: none;
            background: transparent
              url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 15'%3E%3Cpath fill='%23000' d='M7 14.12.3 7.42 1.7 6 7 11.29 18.3 0l1.4 1.41L7 14.11Z'/%3E%3C/svg%3E")
              no-repeat;
            background-position: 0 10px;
            background-size: 16px;
            padding-left: 22px;
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }
      }
    }

    a.vf-btn.vf-btn--secondary,
    a[target='_blank'].vf-btn.vf-btn--secondary {
      padding: 9px 48px;
      color: #fff;

      &:hover {
        color: #fff;
        background: #2071b5;
      }

      &::before {
        display: none;
      }
    }

    a.vf-link-with-arrow,
    a.vf-link-with-arrow[rel='external'],
    a.vf-link-with-arrow[target='_blank'] {
      font-size: 18px;

      &::before {
        content: '→';
        top: 0;
        background-image: none !important;
      }
    }
  }
}

.highlightinformationblock .cta-content picture img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.highlightinformationblock img {
  display: block;
  max-width: 100%;
}

.highlightinformationblock picture {
  position: relative;
  width: 100%;
  display: block;
  height: auto;
}
