.herotextblock {
  margin-bottom: 0;

  h1.ctitle {
    font-weight: 700;
    font-size: 237px;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  .cpreamble {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 20px auto 0 auto;
    max-width: 550px;
  }
}

/* Large size - default */
@media (max-width: 1199px) {
  .herotextblock h1.ctitle {
    font-size: 195px;
  }
}
@media (max-width: 1010px) {
  .herotextblock h1.ctitle {
    font-size: 190px;
  }
}
@media (max-width: 991px) {
  .herotextblock h1.ctitle {
    font-size: 140px;
  }
}
@media (max-width: 790px) {
  .herotextblock h1.ctitle {
    font-size: 133px;
  }
}
@media (max-width: 767px) {
  .herotextblock h1.ctitle {
    font-size: 100px;
  }
}
@media (max-width: 575px) {
  .herotextblock h1.ctitle {
    font-size: calc(18vw - 8px);
  }
}

/* Medium size */
.herotextblock.medium h1.ctitle {
  font-size: 150px;
  line-height: 0.9;
}
@media (max-width: 1199px) {
  .herotextblock.medium h1.ctitle {
    font-size: 125px;
  }
}
@media (max-width: 1010px) {
  .herotextblock.medium h1.ctitle {
    font-size: 120px;
  }
}
@media (max-width: 991px) {
  .herotextblock.medium h1.ctitle {
    font-size: 88px;
  }
}
@media (max-width: 790px) {
  .herotextblock.medium h1.ctitle {
    font-size: 84px;
  }
}
@media (max-width: 767px) {
  .herotextblock.medium h1.ctitle {
    font-size: 63px;
  }
}
@media (max-width: 575px) {
  .herotextblock.medium h1.ctitle {
    font-size: calc(12vw - 8px);
  }
}

/* small size */
.herotextblock.small h1.ctitle {
  font-size: 100px;
  line-height: 0.9;
}

@media (max-width: 1199px) {
  .herotextblock.small h1.ctitle {
    font-size: 83px;
  }
}

@media (max-width: 1010px) {
  .herotextblock.small h1.ctitle {
    font-size: 80px;
  }
}

@media (max-width: 991px) {
  .herotextblock.small h1.ctitle {
    font-size: 58px;
  }
}

@media (max-width: 790px) {
  .herotextblock.small h1.ctitle {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .herotextblock.small h1.ctitle {
    font-size: 42px;
  }
}

@media (max-width: 575px) {
  .herotextblock.small h1.ctitle {
    font-size: calc(9.3vw - 8px);
  }
}
