.animatedkeynumberblock {
  .akeynum {
    margin-bottom: 70px;

    .type {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }

    .number {
      font-weight: 700;
      font-size: 140px;
      line-height: 0.8;
      margin-bottom: 55px;
    }

    .heading {
      font-weight: 700;
      text-align: left;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 5px;
    }

    .copy {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
  }
}

@media (max-width: 991px) {
  .animatedkeynumberblock {
    .akeynum {
      margin-bottom: 70px;

      .number {
        font-size: 120px;
      }
    }
  }
}

.highlightinformationblock {
  .cta-content {
    h3 {
      margin-top: 0;
      font-size: 25px !important;
    }

    picture + h3 {
      margin-top: 25px;
    }

    .content {
      p {
        margin-bottom: 1rem;
        font-size: 18px;
        line-height: 26px;
      }

      ul {
        font-size: 16px;
        margin-bottom: 1rem;
        list-style-position: inside;
        padding: 0;

        li {
          font-size: 16px;

          &.checkmark {
            list-style: none;
            background: transparent
              url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 15'%3E%3Cpath fill='%23000' d='M7 14.12.3 7.42 1.7 6 7 11.29 18.3 0l1.4 1.41L7 14.11Z'/%3E%3C/svg%3E")
              no-repeat;
            background-position: 0 10px;
            background-size: 16px;
            padding-left: 22px;
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }
      }
    }

    a.vf-btn.vf-btn--secondary,
    a[target='_blank'].vf-btn.vf-btn--secondary {
      padding: 9px 48px;
      color: #fff;

      &:hover {
        color: #fff;
        background: #2071b5;
      }

      &::before {
        display: none;
      }
    }

    a.vf-link-with-arrow,
    a.vf-link-with-arrow[rel='external'],
    a.vf-link-with-arrow[target='_blank'] {
      font-size: 18px;

      &::before {
        content: '→';
        top: 0;
        background-image: none !important;
      }
    }
  }
}

.highlightinformationblock .cta-content picture img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.highlightinformationblock img {
  display: block;
  max-width: 100%;
}

.highlightinformationblock picture {
  position: relative;
  width: 100%;
  display: block;
  height: auto;
}

.herotextblock {
  margin-bottom: 0;

  h1.ctitle {
    font-weight: 700;
    font-size: 237px;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  .cpreamble {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 20px auto 0 auto;
    max-width: 550px;
  }
}

/* Large size - default */
@media (max-width: 1199px) {
  .herotextblock h1.ctitle {
    font-size: 195px;
  }
}
@media (max-width: 1010px) {
  .herotextblock h1.ctitle {
    font-size: 190px;
  }
}
@media (max-width: 991px) {
  .herotextblock h1.ctitle {
    font-size: 140px;
  }
}
@media (max-width: 790px) {
  .herotextblock h1.ctitle {
    font-size: 133px;
  }
}
@media (max-width: 767px) {
  .herotextblock h1.ctitle {
    font-size: 100px;
  }
}
@media (max-width: 575px) {
  .herotextblock h1.ctitle {
    font-size: calc(18vw - 8px);
  }
}

/* Medium size */
.herotextblock.medium h1.ctitle {
  font-size: 150px;
  line-height: 0.9;
}
@media (max-width: 1199px) {
  .herotextblock.medium h1.ctitle {
    font-size: 125px;
  }
}
@media (max-width: 1010px) {
  .herotextblock.medium h1.ctitle {
    font-size: 120px;
  }
}
@media (max-width: 991px) {
  .herotextblock.medium h1.ctitle {
    font-size: 88px;
  }
}
@media (max-width: 790px) {
  .herotextblock.medium h1.ctitle {
    font-size: 84px;
  }
}
@media (max-width: 767px) {
  .herotextblock.medium h1.ctitle {
    font-size: 63px;
  }
}
@media (max-width: 575px) {
  .herotextblock.medium h1.ctitle {
    font-size: calc(12vw - 8px);
  }
}

/* small size */
.herotextblock.small h1.ctitle {
  font-size: 100px;
  line-height: 0.9;
}

@media (max-width: 1199px) {
  .herotextblock.small h1.ctitle {
    font-size: 83px;
  }
}

@media (max-width: 1010px) {
  .herotextblock.small h1.ctitle {
    font-size: 80px;
  }
}

@media (max-width: 991px) {
  .herotextblock.small h1.ctitle {
    font-size: 58px;
  }
}

@media (max-width: 790px) {
  .herotextblock.small h1.ctitle {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .herotextblock.small h1.ctitle {
    font-size: 42px;
  }
}

@media (max-width: 575px) {
  .herotextblock.small h1.ctitle {
    font-size: calc(9.3vw - 8px);
  }
}
