@use '../../../style/variables' as *;
@use 'breakpoints' as mixins;
@use 'grid' as grid;
@use 'sass:math';

// Framework grid generation
//
// any value of `$grid-columns`.

@mixin make-grid-columns(
  $columns: $grid-columns,
  $gutter: $grid-gutter-width,
  $breakpoints: $grid-breakpoints
) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    width: 100%;
    padding-right: math.div($gutter, 2);
    padding-left: math.div($gutter, 2);
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: mixins.breakpoint-infix($breakpoint, $breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .vf-col#{$infix}-#{$i} {
        @extend %grid-column;
      }
    }
    .vf-col#{$infix},
    .vf-col#{$infix}-auto {
      @extend %grid-column;
    }

    @include mixins.media-breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.vf-col-{bp}` classes for equal-width flexbox columns
      .vf-col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .vf-col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%; // Reset earlier grid tiers
      }

      @for $i from 1 through $columns {
        .vf-col#{$infix}-#{$i} {
          @include grid.make-col($i, $columns);
        }
      }

      .order#{$infix}-first {
        order: -1;
      }

      .order#{$infix}-last {
        order: $columns + 1;
      }

      @for $i from 0 through $columns {
        .order#{$infix}-#{$i} {
          order: $i;
        }
      }

      // `$columns - 1` because offsetting by the width of an entire row isn't possible
      @for $i from 0 through ($columns - 1) {
        @if not($infix == '' and $i == 0) {
          // Avoid emitting useless .vf-offset-0
          .vf-offset#{$infix}-#{$i} {
            @include grid.make-col-offset($i, $columns);
          }
        }
      }
    }
  }
}
