@use './hover' as mixins;

// Typography

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent} {
    @include mixins.hover-focus {
      color: darken($color, 10%) !important;
    }
  }
}
