@use '../../../style/variables' as *;
@use 'breakpoints' as mixins;

//
// Breakpoints
//  sm: 540px,
//  md: 600px,
//  lg: 774px,
//  xl: 960px
//

//
// Mixins
//

@mixin typo-preamble {
  font-size: $font-size-lg;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2.25rem;
}

//
// h1 - headline primary
//

@mixin typo-primary {
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-weight: bold;
  letter-spacing: 0;

  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 3.25rem;
      line-height: 3.875rem;
    }
  }
}

//
// h2 - headline secondary
//

@mixin typo-secondary {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 0;

  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 2.25rem;
      line-height: 2.625rem;
    }
  }
}

//
// h3 - headline tetriary
//

@mixin typo-tetriary {
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.875rem;
  letter-spacing: 0;

  @media screen and (min-width: 1024px) {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

//
// h4 - headline quarternary
//

@mixin typo-quaternary {
  letter-spacing: 0;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;

  @media screen and (min-width: 1024px) {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

@mixin typo-paragraph-primary-desktop {
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 2.25rem;
}

@mixin typo-paragraph-primary-mobile {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.05px;
  line-height: 1.75rem;
}

@mixin typo-paragraph-primary {
  @include typo-paragraph-primary-mobile();

  @include mixins.media-breakpoint-up(sm) {
    @include typo-paragraph-primary-desktop();
  }
}

@mixin typo-paragraph-secondary-desktop {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: -0.05px;
}

@mixin typo-paragraph-secondary-mobile {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: -0.1px;
}

@mixin typo-paragraph-secondary {
  @include typo-paragraph-secondary-mobile();

  @include mixins.media-breakpoint-up(sm) {
    @include typo-paragraph-secondary-desktop();
  }
}

@mixin typo-intro-in-caps {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.375rem;

  @include mixins.media-breakpoint-up(sm) {
    font-size: 1rem;
    line-height: 2.25rem;
  }
}

@mixin typo-intro-in-caps-small {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
}

@mixin typo-quote-mobile {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 2.5rem;
}

@mixin typo-quote-desktop {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 3.75rem;
}
