@use '../../../style/variables' as *;

.vf-preloader {
  display: flex;
  flex-flow: row nowrap;

  .vf-preloader-svg {
    display: block;
    height: 80px;
    width: 80px;

    .vf-preloader-circle {
      fill: none;
      stroke: $link__color;
      stroke-width: 4;
      stroke-linecap: round;
      transition: stroke-dasharray 1s linear; //Updated by preloader.js
      transform-origin: 50% 50%;
      stroke-dasharray: 0, 238.76; //0 until updated.
    }

    .vf-preloader-percentage {
      fill: $link__color;
      stroke: none;
      font-size: 1.125rem;
      text-anchor: middle;
      alignment-baseline: central;
    }
  }
}
