@use '../../../style/variables' as *;

$progress-height: 4px;

.vf-progress {
  margin: 28px 0;
  display: flex;
  height: $progress-height;
  background-color: $border__grey;
}

.vf-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  white-space: nowrap;
  background-color: $link__color;
}

.vf-progress--small {
  height: calc(#{$progress-height} / 2);
}
