@use '../../../style/variables' as *;

.vf-horizontal-steppers--container {
  label {
    display: inline-block;
  }

  display: flex;
  .vf-horizontal-steppers--step,
  .vf-horizontal-steppers--step-mobile {
    position: relative;
    width: 236px;

    .vf-horizontal-steppers--bullet-default,
    .vf-horizontal-steppers--bullet-numbers,
    .vf-horizontal-steppers--bullet-alternative,
    .vf-horizontal-steppers--bullet-default-mobile,
    .vf-horizontal-steppers--bullet-numbers-mobile {
      display: flex;
      background: $bg__light-blue;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      width: 36px;
      height: 36px;

      .vf-horizontal-steppers--icon {
        margin: 0;
        padding: 0;
        pointer-events: none;
        &::before {
          pointer-events: none;
          font-size: 1.25rem;
          color: $primary__aura-white;
        }
      }

      .vf-horizontal-steppers--numbers {
        pointer-events: none;
        margin: 0;
        padding: 0;
        font-family: $font__default;
        font-size: 1rem;
      }

      .vf-horizontal-steppers--vf-icon-edit::before {
        font-size: 0.875rem;
      }
    }

    &:not(:last-child) {
      .vf-horizontal-steppers--bullet-default,
      .vf-horizontal-steppers--bullet-numbers,
      .vf-horizontal-steppers--bullet-alternative,
      .vf-horizontal-steppers--bullet-default-mobile,
      .vf-horizontal-steppers--bullet-numbers-mobile {
        &::after {
          content: '';
          background: $bg__light-blue;
          width: 100%;
          height: 4px;
          position: absolute;
          left: 36px;
        }
      }

      .vf-horizontal-steppers--complete-default,
      .vf-horizontal-steppers--complete-numbers,
      .vf-horizontal-steppers--complete-alternative,
      .vf-horizontal-steppers--complete-default-mobile,
      .vf-horizontal-steppers--complete-numbers-mobile {
        &::after {
          background: $link__color;
        }
      }
    }

    > label {
      font-size: 0.75rem;
      margin-bottom: 0;
      font-weight: 500;
      height: 16px;
      line-height: 16px;
      white-space: nowrap;
      width: 100%;
    }

    &:not(:first-child):not(:last-child) {
      > label {
        text-align: center;
        width: 100%;
        transform: translateX(-50%);
        margin-left: 18px;
        line-height: 36px;
      }
    }

    &:first-child {
      > label {
        margin-right: 18px;
        line-height: 36px;
      }
    }

    &:last-child {
      width: 36px;
      > label {
        margin-left: 36px;
        transform: translateX(-100%);
        width: auto;
        text-align: right;
        line-height: 36px;
      }
    }

    .vf-horizontal-steppers--line {
      background: lightgrey;
      height: 4px;
      position: absolute;
      transform: translateX(-100%);
      width: calc(100% - 36px);
      top: 16px;
      right: 36px;
    }

    .vf-horizontal-steppers--active-default,
    .vf-horizontal-steppers--complete-default {
      background: $link__color;
    }

    .vf-horizontal-steppers--active-numbers,
    .vf-horizontal-steppers--complete-numbers,
    .vf-horizontal-steppers--active-numbers-mobile,
    .vf-horizontal-steppers--complete-numbers-mobile {
      background: $link__color;
      color: #fff;
    }

    .vf-horizontal-steppers--active-alternative,
    .vf-horizontal-steppers--complete-alternative,
    .vf-horizontal-steppers--active-default-mobile,
    .vf-horizontal-steppers--complete-default-mobile {
      background: $link__color;
    }
  }

  .vf-horizontal-steppers--step-mobile {
    width: 98px;
  }

  .vf-horizontal-steppers--dash,
  .vf-horizontal-steppers--portal,
  .vf-horizontal-steppers--portal-details {
    display: flex;
    position: relative;
    height: 30px;

    .vf-horizontal-steppers--dash--alternative-mobile {
      &:first-child {
        margin-left: 0;
      }
      background: $bg__light-blue;
      border-radius: 0px;
      height: 4px;
      width: 50px;
      margin-left: 6px;
    }

    .vf-horizontal-steppers--portal-mobile,
    .vf-horizontal-steppers--portal-details-mobile {
      background: $bg__light-blue;
      border-radius: 0px;
      height: 4px;
      width: 84px;
    }

    .vf-horizontal-steppers--active-alternative-mobile,
    .vf-horizontal-steppers--complete-alternative-mobile,
    .vf-horizontal-steppers--active-portal-mobile,
    .vf-horizontal-steppers--complete-portal-mobile,
    .vf-horizontal-steppers--active-portal-details-mobile,
    .vf-horizontal-steppers--complete-portal-details-mobile {
      background: $link__color;
    }

    > label {
      position: absolute;
      margin-bottom: 0;
      color: $primary__coal-black;
      font-family: Vattenfall Hall Bold NORDx;
      font-size: 0.875rem;
      font-weight: bold;
      height: 16px;
      line-height: 16px;
      width: 247px;
      top: 11px;
    }
  }
}
