@use '../../style/variables' as *;
@use './mixins/typo' as mixins;
@use './mixins/lists' as lists;

//
// Headings
//

h1,
h2,
h3,
h4 {
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
}

h1 {
  @include mixins.typo-primary();
}
h2 {
  @include mixins.typo-secondary();
}
h3 {
  @include mixins.typo-tetriary();
}
h4 {
  @include mixins.typo-quaternary();
}

//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

//
// Lists
//

.list-unstyled {
  @include lists.list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include lists.list-unstyled;
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Misc
//

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: $blockquote-small-font-size;
  color: $blockquote-small-color;

  &::before {
    content: '\2014\00A0'; // em dash, nbsp
  }
}

@if $enable-default-p {
  p {
    @include mixins.typo-paragraph-primary();
  }
}

@if $enable-typography-classes {
  .vf-typo-primary {
    @include mixins.typo-primary();
  }

  .vf-preamble {
    @include mixins.typo-preamble();
  }

  .vf-typo-primary {
    @include mixins.typo-primary();
  }
  .vf-typo-secondary {
    @include mixins.typo-secondary();
  }
  .vf-typo-tetriary {
    @include mixins.typo-tetriary();
  }
  .vf-typo-quaternary {
    @include mixins.typo-quaternary();
  }

  .vf-typo-p,
  .vf-typo-p-primary {
    @include mixins.typo-paragraph-primary();
  }

  .vf-typo-p-secondary {
    @include mixins.typo-paragraph-secondary();
  }

  .vf-intro-in-caps {
    @include mixins.typo-intro-in-caps();
  }

  .vf-intro-in-caps-small {
    @include mixins.typo-intro-in-caps-small();
  }
}
