<div class="vf-horizontal-steppers--container vf-js-horizontal-steppers">
  <div class="vf-horizontal-steppers--portal">
    <div
      id="vf-horizontal-step-1"
      class="vf-horizontal-steppers--portal-mobile"
    ></div>
    <div
      id="vf-horizontal-step-2"
      class="vf-horizontal-steppers--portal-mobile vf-horizontal-steppers--active-portal-mobile"
    ></div>
    <div
      id="vf-horizontal-step-3"
      class="vf-horizontal-steppers--portal-mobile"
    ></div>
    <div
      id="vf-horizontal-step-4"
      class="vf-horizontal-steppers--portal-mobile"
    ></div>
  </div>
</div>
