<section class="highlightinformationcontainerblock vf-col-12 mt-3 mb-3">
  <h2 class="vf-text--center"></h2>
  <div class="vf-container">
    <div class="vf-row">
      <div
        class="vf-col-12 block highlightinformationblock vf-col-md-6 vf-col-lg-4 pt-3 pb-3"
      >
        <div class="cta-content background">
          <picture
            class="background-image image-1-2"
            data-orgwidth="1280"
            data-orgheight="768"
            data-ratio="1.6666"
            data-orientation="landscape"
            data-crop="false"
            style="padding-bottom: calc(100% * 768 / 1280)"
          >
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_590x354_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_1180x708_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_590x354_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_1180x708_90.jpg 2x"
              media="(min-width: 768px) and (max-width: 1367px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_320x192_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_640x384_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_320x192_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_640x384_90.jpg 2x"
              media="(min-width: 0px) and (max-width: 767px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_747x449_90.jpg
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_dr-fatih-birol_747x449_90.jpg"
              media="(min-width: 1368px)"
              class="loaded"
            />
            <img
              src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_dr-fatih-birol.jpg"
              data-lazyload=""
              data-src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_dr-fatih-birol.jpg"
              alt=""
              class="background-image image-1-2 loaded"
            />
            <noscript>
              <img
                src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_dr-fatih-birol.jpg"
                alt=""
                class="background-image image-1-2"
              />
            </noscript>
          </picture>
          <h3>Fatih Birol</h3>
          <div class="content">
            <p>
              Executive Director of the International Energy Agency, named on
              the Time 100 list of the world’s most influential people in 2021.
            </p>
          </div>
          <div class="link">
            <a
              href="https://group.vattenfall.com/investors/annual-and-sustainability-report-2021-the-edit#person_1"
              class="vf-link-with-arrow"
            >
              Read the article
            </a>
          </div>
        </div>
      </div>

      <div
        class="vf-col-12 block highlightinformationblock vf-col-md-6 vf-col-lg-4 pt-3 pb-3"
      >
        <div class="cta-content background">
          <picture
            class="background-image image-1-2"
            data-orgwidth="1280"
            data-orgheight="768"
            data-ratio="1.6666"
            data-orientation="landscape"
            data-crop="false"
            style="padding-bottom: calc(100% * 768 / 1280)"
          >
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_590x354_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_1180x708_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_590x354_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_1180x708_90.jpg 2x"
              media="(min-width: 768px) and (max-width: 1367px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_320x192_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_640x384_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_320x192_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_640x384_90.jpg 2x"
              media="(min-width: 0px) and (max-width: 767px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_747x449_90.jpg
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_vinisha-umashankar_747x449_90.jpg"
              media="(min-width: 1368px)"
              class="loaded"
            />
            <img
              src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_vinisha-umashankar.jpg"
              data-lazyload=""
              data-src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_vinisha-umashankar.jpg"
              alt=""
              class="background-image image-1-2 loaded"
            />
            <noscript>
              <img
                src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_vinisha-umashankar.jpg"
                alt=""
                class="background-image image-1-2"
              />
            </noscript>
          </picture>
          <h3>Vinisha Umashankar</h3>
          <div class="content">
            <p>
              Grade 10 student, innovator, environmentalist, Earthshot Prize
              finalist, speaker at TEDx and the COP26 World Leaders’ Summit.
            </p>
          </div>
          <div class="link">
            <a
              href="https://group.vattenfall.com/investors/annual-and-sustainability-report-2021-the-edit#person_2"
              class="vf-link-with-arrow"
            >
              Read the article
            </a>
          </div>
        </div>
      </div>

      <div
        class="vf-col-12 block highlightinformationblock vf-col-md-6 vf-col-lg-4 pt-3 pb-3"
      >
        <div class="cta-content background">
          <picture
            class="background-image image-1-2"
            data-orgwidth="1280"
            data-orgheight="768"
            data-ratio="1.6666"
            data-orientation="landscape"
            data-crop="false"
            style="padding-bottom: calc(100% * 768 / 1280)"
          >
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_590x354_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_1180x708_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_590x354_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_1180x708_90.jpg 2x"
              media="(min-width: 768px) and (max-width: 1367px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_320x192_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_640x384_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_320x192_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_640x384_90.jpg 2x"
              media="(min-width: 0px) and (max-width: 767px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_747x449_90.jpg
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_stefan-ytterborn_747x449_90.jpg"
              media="(min-width: 1368px)"
              class="loaded"
            />
            <img
              src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_stefan-ytterborn.jpg"
              data-lazyload=""
              data-src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_stefan-ytterborn.jpg"
              alt=""
              class="background-image image-1-2 loaded"
            />
            <noscript>
              <img
                src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_stefan-ytterborn.jpg"
                alt=""
                class="background-image image-1-2"
              />
            </noscript>
          </picture>
          <h3>Stefan Ytterborn</h3>
          <div class="content">
            <p>
              Entrepreneur, founder of POC and CAKE, a self-described “stubborn
              change-maker” in design and product development.
            </p>
          </div>
          <div class="link">
            <a
              href="https://group.vattenfall.com/investors/annual-and-sustainability-report-2021-the-edit#person_3"
              class="vf-link-with-arrow"
            >
              Read the article
            </a>
          </div>
        </div>
      </div>

      <div
        class="vf-col-12 block highlightinformationblock vf-col-md-6 vf-col-lg-4 pt-3 pb-3"
      >
        <div class="cta-content background">
          <picture
            class="background-image image-1-2"
            data-orgwidth="1280"
            data-orgheight="768"
            data-ratio="1.6666"
            data-orientation="landscape"
            data-crop="false"
            style="padding-bottom: calc(100% * 768 / 1280)"
          >
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_590x354_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_1180x708_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_590x354_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_1180x708_90.jpg 2x"
              media="(min-width: 768px) and (max-width: 1367px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_320x192_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_640x384_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_320x192_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_640x384_90.jpg 2x"
              media="(min-width: 0px) and (max-width: 767px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_747x449_90.jpg
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_kevin-mccloud_747x449_90.jpg"
              media="(min-width: 1368px)"
              class="loaded"
            />
            <img
              src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_kevin-mccloud.jpg"
              data-lazyload=""
              data-src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_kevin-mccloud.jpg"
              alt=""
              class="background-image image-1-2 loaded"
            />
            <noscript>
              <img
                src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_kevin-mccloud.jpg"
                alt=""
                class="background-image image-1-2"
              />
            </noscript>
          </picture>
          <h3>Kevin McCloud</h3>
          <div class="content">
            <p>
              Designer, writer, and popular television presenter with a
              particular interest in sustainable architecture and design.
            </p>
          </div>
          <div class="link">
            <a
              href="https://group.vattenfall.com/investors/annual-and-sustainability-report-2021-the-edit#person_4"
              class="vf-link-with-arrow"
            >
              Read the article
            </a>
          </div>
        </div>
      </div>

      <div
        class="vf-col-12 block highlightinformationblock vf-col-md-6 vf-col-lg-4 pt-3 pb-3"
      >
        <div class="cta-content background">
          <picture
            class="background-image image-1-2"
            data-orgwidth="1280"
            data-orgheight="768"
            data-ratio="1.6666"
            data-orientation="landscape"
            data-crop="false"
            style="padding-bottom: calc(100% * 768 / 1280)"
          >
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_590x354_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_1180x708_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_590x354_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_1180x708_90.jpg 2x"
              media="(min-width: 768px) and (max-width: 1367px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_320x192_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_640x384_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_320x192_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_640x384_90.jpg 2x"
              media="(min-width: 0px) and (max-width: 767px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_747x449_90.jpg
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_per-espen-stoknes-_747x449_90.jpg"
              media="(min-width: 1368px)"
              class="loaded"
            />
            <img
              src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_per-espen-stoknes-.jpg"
              data-lazyload=""
              data-src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_per-espen-stoknes-.jpg"
              alt=""
              class="background-image image-1-2 loaded"
            />
            <noscript>
              <img
                src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_per-espen-stoknes-.jpg"
                alt=""
                class="background-image image-1-2"
              />
            </noscript>
          </picture>
          <h3>Per Espen Stoknes</h3>
          <div class="content">
            <p>
              Psychologist with a doctorate in economy, politician, TED speaker
              on the psychology of climate denial.
            </p>
          </div>
          <div class="link">
            <a
              href="https://group.vattenfall.com/investors/annual-and-sustainability-report-2021-the-edit#person_5"
              class="vf-link-with-arrow"
            >
              Read the article
            </a>
          </div>
        </div>
      </div>

      <div
        class="vf-col-12 block highlightinformationblock vf-col-md-6 vf-col-lg-4 pt-3 pb-3"
      >
        <div class="cta-content background">
          <picture
            class="background-image image-1-2"
            data-orgwidth="1280"
            data-orgheight="768"
            data-ratio="1.6666"
            data-orientation="landscape"
            data-crop="false"
            style="padding-bottom: calc(100% * 768 / 1280)"
          >
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_590x354_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_1180x708_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_590x354_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_1180x708_90.jpg 2x"
              media="(min-width: 768px) and (max-width: 1367px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_320x192_90.jpg,
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_640x384_90.jpg 2x
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_320x192_90.jpg, https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_640x384_90.jpg 2x"
              media="(min-width: 0px) and (max-width: 767px)"
              class="loaded"
            />
            <source
              data-lazyload=""
              srcset="
                https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_747x449_90.jpg
              "
              data-srcset="https://group.vattenfall.com/globalassets/scaled/guest-writers_3x5_knut-ivar-karevold_747x449_90.jpg"
              media="(min-width: 1368px)"
              class="loaded"
            />
            <img
              src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_knut-ivar-karevold.jpg"
              data-lazyload=""
              data-src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_knut-ivar-karevold.jpg"
              alt=""
              class="background-image image-1-2 loaded"
            />
            <noscript>
              <img
                src="https://group.vattenfall.com/siteassets/newsroom/the-edit/guest-writers_3x5_knut-ivar-karevold.jpg"
                alt=""
                class="background-image image-1-2"
              />
            </noscript>
          </picture>
          <h3>Knut Ivar Karevold</h3>
          <div class="content">
            <p>
              Psychologist with a doctorate in economic psychology and
              behavioural economics
            </p>
          </div>
          <div class="link">
            <a
              href="https://group.vattenfall.com/investors/annual-and-sustainability-report-2021-the-edit#person_5"
              class="vf-link-with-arrow"
            >
              Read the article
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
