<section class="vf-linked-list-block">
  <div class="vf-linked-list-block__body">
    <div
      class="vf-linked-list-block__content vf-linked-list-block__content--image"
    >
      <div class="vf-linked-list-block__content-image-container">
        <img src="./example.png" />
      </div>
      <div>
        <div class="vf-linked-list-block__content-text">
          <h3 class="vf-linked-list-block__title">
            Q2 Report 2018 is published
          </h3>
          <div class="vf-linked-list-block__text">
            <p>
              President and CEO Magnus Hall and CFO Anna Borg comment on
              Vattenfall's half-year results 2018. The web audiocast for
              analysts.
            </p>
          </div>
        </div>

        <div class="vf-linked-list-block__content-list">
          <ul class="vf-file-list">
            <li class="vf-file-list__item">
              <a class="vf-file-list__tag" href="#"
                >Longer file name goes right</a
              >
              <span class="vf-file-list__tag-description">(DOC, 10 kB)</span>
            </li>
            <li class="vf-file-list__item">
              <a class="vf-file-list__tag" href="#"
                >Longer file name goes right</a
              >
              <span class="vf-file-list__tag-description">(DOC, 10 kB)</span>
            </li>
            <li class="vf-file-list__item">
              <a class="vf-file-list__tag" href="#"
                >Longer file name goes right</a
              >
              <span class="vf-file-list__tag-description">(DOC, 10 kB)</span>
            </li>
            <li class="vf-file-list__item">
              <a class="vf-file-list__tag" href="#"
                >Longer file name goes right</a
              >
              <span class="vf-file-list__tag-description">(DOC, 10 kB)</span>
            </li>
            <li class="vf-file-list__item">
              <a class="vf-file-list__tag" href="#"
                >Longer file name goes right</a
              >
              <span class="vf-file-list__tag-description">(DOC, 10 kB)</span>
            </li>
            <li class="vf-file-list__item">
              <a class="vf-file-list__tag" href="#"
                >Longer file name goes right</a
              >
              <span class="vf-file-list__tag-description">(DOC, 10 kB)</span>
            </li>
            <li class="vf-file-list__item">
              <a class="vf-file-list__tag" href="#"
                >Longer file name goes right</a
              >
              <span class="vf-file-list__tag-description">(DOC, 10 kB)</span>
            </li>
            <li class="vf-file-list__item">
              <a class="vf-file-list__tag" href="#"
                >Longer file name goes right</a
              >
              <span class="vf-file-list__tag-description">(DOC, 10 kB)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
