<div class="vf-horizontal-steppers--container vf-js-horizontal-steppers">
  <div class="vf-horizontal-steppers--step-mobile">
    <div
      id="vf-horizontal-step-1"
      class="vf-horizontal-steppers--bullet-default-mobile"
    >
      <span class="vf-horizontal-steppers--icon"></span>
    </div>
    <label for="vf-horizontal-step-1">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step-mobile">
    <div
      id="vf-horizontal-step-2"
      class="vf-horizontal-steppers--bullet-default-mobile vf-horizontal-steppers--active-default-mobile"
    >
      <span class="vf-horizontal-steppers--icon"></span>
    </div>
    <label for="vf-horizontal-step-2">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step-mobile">
    <div
      id="vf-horizontal-step-3"
      class="vf-horizontal-steppers--bullet-default-mobile"
    >
      <span class="vf-horizontal-steppers--icon"></span>
    </div>
    <label for="vf-horizontal-step-3">Lorem ipsum</label>
  </div>

  <div class="vf-horizontal-steppers--step-mobile">
    <div
      id="vf-horizontal-step-4"
      class="vf-horizontal-steppers--bullet-default-mobile"
    >
      <span class="vf-horizontal-steppers--icon"></span>
    </div>
    <label for="vf-horizontal-step-4">Lorem ipsum</label>
  </div>
</div>
