@use '../../../style/variables' as *;

.vf-header {
  background: $primary__aura-white;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;

  & .arrow {
    content: '';
    width: 0;
    height: 10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid $primary__aura-white;
    position: absolute;
    display: inline-block;
    bottom: 0;
    margin-bottom: -1px;
    right: 50%;
    transform: translateX(50%);

    @media screen and (max-width: 1023px) {
      display: none !important;
    }
  }

  ul {
    padding: 0;
  }

  li {
    display: contents;
  }

  a {
    color: $primary__coal-black;
    text-decoration: none;
  }

  .vf-topbar__logo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .vf-header__logo-desktop {
    height: 56px;
    img {
      height: 100%;
    }
  }

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @media screen and (min-width: 1024px) {
      display: none;
    }

    .vf-icon-menu,
    .vf-icon-search,
    .vf-icon-close {
      padding: 18px;
    }
  }

  &__search-box {
    display: none;
  }

  &-item__container {
    background-color: $primary__aura-white;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 1024px) {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      width: auto;
    }
  }

  &__search-box.active {
    align-items: center;
    background: $bg__light-blue--alt;
    display: flex !important;
    justify-content: center;
    position: absolute;
    top: 56px;
    height: 160px;
    width: 100%;

    input {
      background: transparent;
      border: none;
      color: $primary__coal-black;
      font-family: $font__heading;
      font-weight: bold;
      font-size: 1.875rem;
      text-indent: 10px;
      box-shadow: none;
      height: 36px;
      outline: none;
      width: 100%;
      text-align: center;
      padding: 60px 17px 60px 17px;

      @media screen and (min-width: 768px) {
        font-size: 3.25rem;
        line-height: 72px;
      }

      &::placeholder {
        color: $primary__coal-black;
      }
    }
  }

  & &__menu-container {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;

    @media screen and (min-width: 1024px) {
      display: block;
      top: 0;
    }

    margin-bottom: 53px;
  }

  &__menu-list {
    display: none;
    flex-flow: wrap;
    list-style-type: none;
    width: 100%;
  }

  & &__item {
    align-items: center;
    box-sizing: border-box;
    border-left: 1px solid $primary__aura-white;
    border-right: 1px solid $primary__aura-white;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    height: 52px;
    justify-content: space-between;
    letter-spacing: 0;
    margin: 0 auto;
    margin-bottom: 1px;
    padding: 8px 21px;
    width: 100%;

    @media screen and (min-width: 1024px) {
      border: none;
      margin: 0;
      padding: 8px 42px;
      width: auto;
    }
  }

  & &__item-1 {
    border-bottom: 1px solid #dcdddc;

    @media screen and (min-width: 1024px) {
      border-bottom: none;
    }
  }

  & &__menu-level-1 {
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr 0.5fr;
      height: 56px;
      align-items: center;
      text-align: center;
    }

    @media screen and (min-width: 1440px) {
      margin: 0 auto;
      width: 1440px;
    }
  }

  & &__item-2 {
    background: $bg__light-blue;
    position: relative;
  }

  & &__menu-level-3 {
    @media screen and (min-width: 1024px) {
      background: $primary__aura-white;
    }
  }

  & &__item-3 {
    background: #f2f2f2;
    padding-left: 34px;

    @media screen and (min-width: 1024px) {
      background: transparent;
    }
  }

  .active {
    display: flex;
  }

  .vf-icon-more,
  .vf-icon-less-info,
  .vf-icon-search,
  .vf-icon-close,
  .vf-icon-globe {
    &::before {
      font-size: 1.25rem;
    }
  }

  .vf-icon-more,
  .vf-icon-less-info {
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  & &__menu-level-2.active {
    background: $primary__aura-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;

    @media screen and (min-width: 1024px) {
      background: $bg__light-blue--alt;
      flex-direction: row;

      position: absolute;
      top: 56px;
      left: 0;
    }
  }

  & &__menu-level-3.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      position: absolute;
      flex-direction: row;

      top: 56px;
    }
  }
}

.vf-icon-div {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  span {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
  }
}

.vf-header__icon-close-desktop {
  position: absolute;
  right: 66px;
}

.vf-icon-globe::before,
.vf-header__icon-close-desktop,
.vf-icon-search__desktop,
.vf-header__logo-desktop {
  @media screen and (max-width: 1023px) {
    display: none !important;
  }
}

.active-search-box {
  background: $bg__light-blue--alt;
  border-bottom: none;
}
