@use '../../../style/variables' as *;

.vf-tab-bar-container {
  *[hidden] {
    display: none;
  }

  *:focus {
    outline: none;
  }

  .vf-tab-bar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    position: relative;
    padding: 0;

    .vf-tab-bar-item {
      background-color: $primary__aura-white;
      border-right: 1px solid $bg__light-blue;
      box-shadow: 0 0px 0 0 transparent;
      cursor: pointer;
      flex-grow: 1;
      flex-basis: 0;
      padding: 22px;
      position: relative;
      transition: box-shadow 0.3s ease-in-out;

      @media screen and (max-width: 767px) {
        flex-grow: 0;
      }

      &:last-of-type {
        border: none;
      }

      @media screen and (max-width: 767px) {
        align-items: center;
        color: $link__color;

        &:before {
          font-size: 1.5rem;
          height: 24px;
          position: relative;
          width: 24px;
        }
      }

      &.vf-tab-bar-item--active {
        box-shadow: 0 3px 0 0 $link__color;

        @media screen and (max-width: 767px) {
          color: $primary__ocean-blue;
        }

        .vf-tab-bar-link {
          color: $primary__ocean-blue;
        }
      }

      &.vf-tab-bar-item--disabled {
        cursor: not-allowed;

        @media screen and (max-width: 767px) {
          color: $tertiary__medium-dark-grey;
        }

        .vf-tab-bar-link {
          pointer-events: none;
          color: $tertiary__medium-dark-grey;
        }
      }

      &:not(.vf-tab-bar-item--disabled):not(.vf-tab-bar-item--active) {
        &:hover {
          box-shadow: 0 3px 0 0 $link__color;
          color: $primary__ocean-blue;

          .vf-tab-bar-link {
            color: $primary__ocean-blue;
          }
        }

        @media screen and (max-width: 767px) {
          &:hover {
            color: $primary__ocean-blue;
          }
        }

        .vf-tab-bar-link {
          &:hover {
            color: $primary__ocean-blue;
          }
        }
      }

      .vf-tab-bar-link {
        align-items: center;
        color: #222;
        display: flex;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: -0.05px;
        line-height: 28px;
        justify-content: center;

        @media screen and (max-width: 767px) {
          font-size: 0;

          &:before {
            left: 0 !important;
          }
        }

        &:hover {
          text-decoration: none;
        }

        &:before {
          font-size: 1.5rem;
          height: 24px;
          left: -10px;
          position: relative;
          top: 2px;
          width: 24px;

          @media screen and (min-width: 768px) {
            left: -20px;
          }
        }
      }
    }

    .vf-tab-bar-link-mobile {
      color: #222;
      display: none;
      font-weight: 600;
      font-size: 1.125rem;
      letter-spacing: 0px;
      line-height: 24px;
      top: 94px;
      text-align: center;
      position: absolute;

      &.vf-tab-bar-link-mobile--active {
        @media screen and (max-width: 767px) {
          cursor: default;
          display: block;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &:before {
        content: none !important;
      }
    }
  }

  .vf-tab-bar-panels {
    padding-top: 32px;

    @media screen and (max-width: 767px) {
      padding-top: 64px;
    }
  }
}

// Scrollable Container
.vf-tab-bar-container--mobile {
  height: 152px;
  position: relative;
  width: 100%;

  .vf-tab-bar--mobile-fixed {
    background: $primary__aura-white;
    display: flex;
    height: 52px;
    list-style: none;
    padding: 0;

    > .vf-tab-bar-item--mobile--fixed {
      flex-grow: 1;
      text-align: center;
    }
  }

  .vf-tab-bar--mobile-scroll {
    background: $primary__aura-white;
    height: 52px;
    padding: 0;
    overflow-x: auto;
    list-style: none;
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }

  .vf-tab-bar-item--mobile--fixed,
  .vf-tab-bar-item--mobile--scroll {
    background: $primary__aura-white;
    border: none;
    border-bottom: 1px solid $tertiary__light-grey;
    color: $text__dark-color;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.05px;
    line-height: 28px;
    margin-right: -5px;
    min-width: 130px;
    outline: none;
    padding: 16px 14px 7px 14px;
    position: relative;
  }

  .vf-tab-bar-item--mobile--active {
    color: $link__color;
    border-bottom: solid 4px $link__color;
    padding-bottom: 4px;
  }

  .vf-tab-bar-content--mobile--fixed,
  .vf-tab-bar-content--mobile--scroll {
    bottom: 0;
    display: none;
    left: 0;
    right: 0;
    padding-top: 32px;
    position: absolute;
    top: 52px;
  }
}
