@use '../../../style/variables' as *;

.vf-link-with-arrow {
  color: $text__dark-color;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 1.09375rem;
  padding-left: 20px;
  position: relative;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;

  &:hover {
    color: #2071b5;
  }

  &:active,
  &:focus {
    color: $secondary__dark-blue;

    &::before {
      color: #1e324f;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 1.125rem;
    letter-spacing: 0;
  }

  &--small {
    font-size: 1rem;
  }

  &::before {
    color: $primary__ocean-blue;
    content: '\2192';
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.09375rem;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;

    @media screen and (min-width: 1024px) {
      font-size: 1.75rem;
      line-height: 1.40625rem;
    }
  }

  &:hover::before {
    transition-delay: 0ms;
    transform: translate(40%, 0px);
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.125rem;
    line-height: 1.40625rem;
    padding-left: 30px;
  }
}
