<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Edit</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../../../style/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vf-dds/vf-dds-vanilla/src/style/style.css"
    />
    <script type="module" defer src="index.js"></script>
    <script
      type="module"
      defer
      src="../../../components/campaign-assets/the-edit.js"
    ></script>
    <style>
      .container {
        display: block;
        margin: 0 auto;
        width: 75%;
      }
    </style>
  </head>
  <body>
    <div class="container">{{content}}</div>
  </body>
</html>
