<section class="vf-hero vf-hero__startpage">
  <div
    class="vf-hero__image-container"
    style="background-image: url('example.jpeg')"
  >
    <div class="vf-hero__content">
      <div class="vf-hero__image-text">
        <h1 class="vf-hero__heading">
          Headline goes in<br
            class="vf-hero__heading vf-hero__heading--hidden"
          />
          two lines here
        </h1>
        <button class="vf-hero__play">Button label</button>
      </div>
      <img class="vf-hero__logotype" src="./vf-logo-vertical.svg" />
    </div>
  </div>
</section>
