<section class="vf-hero">
  <div class="vf-hero__oneline">
    <div
      class="vf-hero__image-container"
      style="background-image: url('example.jpeg')"
    >
      <div class="vf-hero__image-text">
        <h1 class="vf-hero__heading">Hero headline here</h1>
      </div>
    </div>
  </div>
  <div class="vf-hero__content">
    <p class="vf-hero__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac eros
      ac dolor iaculis feugiat. Fusce blandit neque neque. Quisque commodo
      mauris quam, a pharetra justo volutpat at. Maecenas bibendum posuere
      placerat. Curabitur mollis turpis et turpis tempus, vitae rhoncus urna
      vulputate.
    </p>
    <div class="vf-hero__button-container">
      <button type="button" class="vf-btn vf-btn--lg vf-btn__primary">
        Button label
      </button>
      <button
        type="button"
        class="vf-btn vf-btn--lg vf-btn__secondary--outline"
      >
        Button label
      </button>
    </div>
  </div>
</section>
