<h3 style="margin: 1rem 0">Large buttons</h3>
<div class="vf-button__container">
  <button type="button" class="vf-btn vf-btn--lg vf-btn__dark--outline">
    Primary
  </button>
  <button type="button" class="vf-btn vf-btn--lg vf-btn__secondary--outline">
    Secondary
  </button>
  <button
    type="button"
    disabled
    class="vf-btn vf-btn--lg vf-btn__tertiary--outline"
  >
    Disabled
  </button>
</div>

<h3 style="margin: 1rem 0">Medium buttons</h3>
<div class="vf-button__container vf-button__container--medium">
  <button type="button" class="vf-btn vf-btn__dark--outline">Primary</button>
  <button type="button" class="vf-btn vf-btn__secondary--outline">
    Secondary
  </button>
  <button type="button" disabled class="vf-btn vf-btn__tertiary--outline">
    Disabled
  </button>
</div>
