<div class="vf-cookie-banner vf-cookie-banner--error">
  Cookie text lorem ipsum dolor sit amet
  <button class="vf-cookie-banner__close-btn">
    <span class="vf-icon-close"></span>
  </button>
</div>
