<div class="container">
  <h3 style="margin: 1rem 0; font-size: 2rem">Option with icon</h3>
  <div class="vf-js-multi-select">
    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-md-two-line-icon"
      style="margin-bottom: 20px"
    >
      <input
        type="checkbox"
        id="multi-select-md-two-line-icon-1"
        name="vf-visual-pickers"
      />
      <label
        class="vf-visual-pickers__label"
        for="multi-select-md-two-line-icon-1"
      >
        Option 1
        <span
          class="vf-icon-card-and-tag vf-visual-pickers__two-line-icon"
        ></span>
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-md-two-line-icon"
      style="margin-bottom: 20px"
    >
      <input
        type="checkbox"
        id="multi-select-md-two-line-icon-2"
        name="vf-visual-pickers"
      />
      <label
        class="vf-visual-pickers__label"
        for="multi-select-md-two-line-icon-2"
      >
        Option 2
        <span
          class="vf-icon-card-and-tag vf-visual-pickers__two-line-icon"
        ></span>
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-md-two-line-icon"
      style="margin-bottom: 20px"
    >
      <input
        type="checkbox"
        id="multi-select-md-two-line-icon-3"
        name="vf-visual-pickers"
      />
      <label
        class="vf-visual-pickers__label"
        for="multi-select-md-two-line-icon-3"
      >
        Option 3
        <span
          class="vf-icon-card-and-tag vf-visual-pickers__two-line-icon"
        ></span>
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="vf-js-multi-select">
    <h3 style="margin: 1rem 0; font-size: 2rem">Option with image</h3>
    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-lg"
      style="margin-bottom: 20px"
    >
      <input type="checkbox" id="multi-select-lg-1" name="vf-visual-pickers" />
      <label class="vf-visual-pickers__label" for="multi-select-lg-1">
        <img src="./example.png" alt="vf-charger" /> Option 1
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-lg"
      style="margin-bottom: 20px"
    >
      <input type="checkbox" id="multi-select-lg-2" name="vf-visual-pickers" />
      <label class="vf-visual-pickers__label" for="multi-select-lg-2">
        <img src="./example.png" alt="vf-charger" /> Option 2
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-lg"
      style="margin-bottom: 20px"
    >
      <input type="checkbox" id="multi-select-lg-3" name="vf-visual-pickers" />
      <label class="vf-visual-pickers__label" for="multi-select-lg-3">
        <img src="./example.png" alt="vf-charger" /> Option 3
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>
  </div>
</div>
