<h3 style="margin: 1rem 0">Large buttons</h3>
<div>
  <button type="button" class="vf-btn vf-btn--lg vf-btn--incharge-nordic">
    Button Label
  </button>

  <button
    type="button"
    disabled
    class="vf-btn vf-btn--lg vf-btn--incharge-nordic"
  >
    Disabled
  </button>
</div>

<h3 style="margin: 1rem 0">Medium buttons</h3>
<div>
  <button type="button" class="vf-btn vf-btn--incharge-nordic">
    Button Label
  </button>

  <button type="button" disabled class="vf-btn vf-btn--incharge-nordic">
    Disabled
  </button>
</div>
