@use './functions' as mixins;
@use 'sass:math';

$primary__solar-yellow: #ffda00;
$primary__ocean-blue: #2071b5;
$primary__aura-white: #fff;
$primary__coal-black: #000000;
$primary__magnetic-grey: #4e4b48;

$secondary__dark-green: #005c63;
$secondary__dark-blue: #1e324f;
$secondary__pink: #d1266b;
$secondary__dark-purple: #85254b;
$secondary__green: #3dc07c;
$secondary__red: #f93b18;
$secondary__purple: #9b62c3;

$bg__light-yellow: #fffee5;
$bg__light-green: #edf9f3;
$bg__light-blue: #edf1f6;
$bg__light-blue--alt: #ebf2f3;
$bg__light-red: #fef0ea;
$bg__light-grey: #f2f2f2;

$tertiary__ash-blue: #869bad;
$tertiary__dark-ash-blue: #69788c;
$tertiary__lighter-grey: #e6e6e6;
$tertiary__light-grey: #ccc;
$tertiary__medium-grey: #999999;
$tertiary__medium-dark-grey: #767676;
$tertiary__dark-grey: #666;

$energy__hydro: #2da55d;
$energy__wind: #4fcc51;
$energy__solar: #81e0a8;
$energy__biomass: #375e4e;
$energy__coal: #e88a74;
$energy__gas: #d85067;
$energy__nuclear: #e6e6e6;
$energy__district-heating: #a376cc;

$link__color: #1964a3;
$link__hover-color: darken($link__color, 30%);

$text__dark-color: #222222;

$border__grey: #e8e8e9;

$tooltip__green: #c5eecc;
$tooltip__blue-bg: #f1f8ff;
$tooltip__blue-border: #c5dcee;
$tooltip__red-bg: #fff5f1;
$tooltip__red-border: #eec8c5;

$success: #28a745 !default;
$warning: #ffc107 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e6eaed !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$incharge-nordic-green: #46ee76;
$incharge-nordic-blue: #2071b5;
$incharge-nordic-grey: #4e4b4b;
$incharge-vattenfall-green: #46ee76;
$incharge-map-app-yellow: #ffda00;
$incharge-map-app-white: #ffffff;
$incharge-map-app-solar: #81e0a8;
$incharge-map-app-blue: #2071b5;
$blue: #007bff !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$vattenfall-dark-moss: #005c63;
$vattenfall-dark-blue: #1e324f;
$vattenfall-dark-pink: #d1266b;
$vattenfall-dark-green: #3dc07c;
$vattenfall-dark-red: #f93b18;
$vattenfall-dark-purple: #9b62c3;
$vattenfall-light-yellow: #fffee5;
$vattenfall-light-green: #edf9f3;
$vattenfall-light-turquoise: #ebf2f3;
$vattenfall-light-blue: #edf1f6;
$vattenfall-light-red: #fef0ea;
$vattenfall-light-grey: #f2f2f2;
$vattenfall-metadata-grey: #888888;
$vattenfall-dark-border-grey: #bcbcbc;
$vattenfall-border-grey: #cdd1d4;
$vattenfall-light-border-grey: #e8e8e9;
$vattenfall-lighter-yellow: #faf9dc;
$vattenfall-warning-yellow: #f5a623;
$vattenfall-input-grey: #cccccc;
$vattenfall-dropdown-item-border: #a4a9ac;
$vattenfall-dropdown-item-border-before: #d8d8d8;
$vattenfall-border-dark-grey: #999999;
$vattenfall-error-red-border: #ffb2a4;
$vattenfall-warning-yellow-border: #ffb2a4;
$vattenfall-tooltip-green: #c5eecc;
$vattenfall-tooltip-blue-bg: #f1f8ff;
$vattenfall-tooltip-blue-border: #c5dcee;
$vattenfall-tooltip-red-bg: #fff5f1;
$vattenfall-tooltip-red-border: #eec8c5;
$vattenfall-dropdown-input-disabled: #f1f1f1;
$vattenfall-dropdown-underline-border: #869bad;

$font__default: 'Vattenfall Hall NORDx';
$font__heading: 'Vattenfall Hall Display NORDx';
$font__icon-library: 'vf-icons';
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$small-font-size: 80% !default;
$font-size-sm: ($font-size-base * 0.875) !default;
$font-size-md: ($font-size-base * 1.125) !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-xl: ($font-size-base * 1.5) !default;

$spacer: 2rem;
$spacing-sm: 28px;
$spacing-md: 44px;
$spacing-lg: 56px;
$spacing-xl: 88px;

$light: $gray-100 !default;
$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-radius: 1.5rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($primary__coal-black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($primary__coal-black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($primary__coal-black, 0.175) !default;
$grid-columns: 12 !default;
$grid-gutter-width: 24px !default;
$font-family-sans-serif: 'Vattenfall Hall NORDx', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$enable-typography-classes: true !default;
$enable-default-p: true !default;
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
$enable-validation-icons: true !default;

$bleed-container-max-width: 1680px;
$grid-columns: 12 !default;

$headings-margin-bottom: math.div($spacer, 2) !default;
$headings-font-family: inherit !default;
$headings-color: inherit !default;
$hr-margin-y: $spacer !default;
$hr-border-color: rgba($primary__coal-black, 0.1) !default;
$hr-border-width: $border-width !default;
$mark-padding: 0.2em !default;
$mark-bg: #fcf8e3 !default;
$list-inline-padding: 0.5rem !default;
$blockquote-small-color: $gray-600 !default;
$blockquote-small-font-size: $small-font-size !default;
$blockquote-font-size: ($font-size-base * 1.25) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

@include mixins.assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include mixins.assert-starts-at-zero($grid-breakpoints);

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary__solar-yellow,
    'secondary': $primary__ocean-blue,
    'success': $success,
    'warning': $warning,
    'danger': $secondary__red,
    'light': $light,
    'dark': $text__dark-color,
    'blue-grey': $tertiary__dark-ash-blue,
    'dark-moss': $secondary__dark-green,
    'dark-blue': $secondary__dark-blue,
    'dark-pink': $secondary__pink,
    'dark-green': $secondary__green,
    'dark-red': $secondary__red,
    'dark-purple': $secondary__purple,
    'light-yellow': $bg__light-yellow,
    'light-green': $bg__light-green,
    'light-turquoise': $bg__light-blue--alt,
    'light-blue': $bg__light-blue,
    'light-red': $bg__light-red,
    'light-grey': $bg__light-grey,
  ),
  $theme-colors
);

$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 4,
    ),
    7: (
      $spacer * 5,
    ),
    8: (
      $spacer * 6,
    ),
    9: (
      $spacer * 7,
    ),
    10: (
      $spacer * 8,
    ),
  ),
  $spacers
);

$vf-spacers: (
  0: 0,
  sm: $spacing-sm,
  md: $spacing-md,
  lg: $spacing-lg,
  xl: $spacing-xl,
);

$sizeSm: 540px;
$sizeMd: 720px;
$sizeLg: 960px;
$sizeXl: 1160px;

$container-max-widths: (
  sm: $sizeSm,
  md: $sizeMd,
  lg: $sizeLg,
  xl: $sizeXl,
) !default;

$container-max-widths-except-sm: (
  md: $sizeMd,
  lg: $sizeLg,
  xl: $sizeXl,
);

@include mixins.assert-ascending(
  $container-max-widths,
  '$container-max-widths'
);
