body {
  margin: 0;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
code,
ol,
ul,
li,
form,
label,
table,
figcaption,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Vattenfall Hall NORDx";
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

html {
  font-size: 16px;
}

.container {
  padding: 20px;
}
.container__background {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=);
}
.container h1 {
  margin-bottom: 20px;
}
.container hr {
  margin: 20px 0;
}

.container__example-outline,
.p__example-outline {
  outline: 1px solid red;
}

.p__example-outline {
  height: 60vh;
}
