@forward '../components/style/colours/colours.scss';
@forward '../components/style/dialogues/dialogues.scss';
@forward '../components/style/indicators/indicators.scss';
@forward '../components/style/selection/selection.scss';
@forward '../components/style/typography/typography.scss';
@forward '../components/style/icons/icons.scss';
@forward '../components/style/modules/modules.scss';
@forward '../components/style/logos/logos.scss';
@forward '../components/style/tables-and-lists/tables-and-lists.scss';
@forward '../components/style/modules/image.scss';
@forward '../components/style/structure/structure.scss';
@forward './fonts.scss';
@forward '../components/style/default.scss';
@forward '../components/style/navigation/navigation.scss';
@forward '../components/style/utilities.scss';
@forward '../components/style/mixins.scss';
@forward '../components/style/structure/alternate-grid.scss';
@forward '../components/style/typo';
@forward '../components/style/campaign-assets/campaign-assets.scss';

// This is just for HTML-examples
.container {
  display: grid;
  justify-content: center;

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  &__heading {
    font-family: 'Vattenfall Hall Display NORDx';
  }

  &__background {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=);
  }

  &__temp-outline {
    width: 375px;
    outline: 1px solid red;

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1024px) {
      width: 1024px;
    }

    @media screen and (min-width: 1440px) {
      width: 1440px;
    }

    p {
      outline: 1px solid red;
      height: 50vh;
    }
  }
}
