@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html {
    font-family: 'Vattenfall Hall NORDx', system-ui, sans-serif;
  }

  h1,
  h2 {
    font-family: 'Vattenfall Hall Display NORDx', system-ui;
  }

  h1 {
    @apply text-heading-l-mobile;
  }

  h2 {
    @apply text-heading-mobile;
  }

  h3 {
    @apply text-heading-s-mobile;
  }

  h4 {
    @apply text-heading-xs-mobile;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bg-active {
    background-color: #1964a3 !important;
  }

  @media screen and (min-width: 768px) {
    h1 {
      @apply text-heading-l;
    }

    h2 {
      @apply text-heading;
    }

    h3 {
      @apply text-heading-s;
    }

    h4 {
      @apply text-heading-xs;
    }
  }
}

@layer components {
  .vf-input__value-slider[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 1.5px;
    height: 3px;
    position: absolute;
    pointer-events: none;
    top: -1px;
    width: calc(100% - 26px);
  }

  .vf-input__value-slider[type='range']::-webkit-slider-thumb {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='18px' height='12px' viewBox='0 0 18 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter x='-23.2%25' y='-23.2%25' width='146.4%25' height='146.4%25' filterUnits='objectBoundingBox' id='filter-_t2kchbhg0-1'%3E%3CfeOffset dx='0' dy='1' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='1' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0' type='matrix' in='shadowBlurOuter1' result='shadowMatrixOuter1'%3E%3C/feColorMatrix%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'%3E%3C/feMergeNode%3E%3CfeMergeNode in='SourceGraphic'%3E%3C/feMergeNode%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg id='Guideline-&amp;-UI-Kit' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='VF-•-Guideline-•-Forms' transform='translate(-383.000000, -5190.000000)' fill='%23D8D8D8' fill-rule='nonzero'%3E%3Cg id='Input-value-range' transform='translate(155.000000, 4816.000000)'%3E%3Cg id='Range' transform='translate(0.000000, 202.000000)'%3E%3Cg id='Input-/-Value-/-Range-/-Default' transform='translate(1.000000, 126.000000)'%3E%3Cg id='Colorss-/-Primary-/-White-5' filter='url(%23filter-_t2kchbhg0-1)' transform='translate(222.000000, 37.000000)'%3E%3Cpath d='M20.6966991,14.7387961 L17.767767,17.6939806 C17.3633658,18.1020065 16.707702,18.1020065 16.3033009,17.6939806 C15.8988997,17.2859548 15.8988997,16.6244142 16.3033009,16.2163884 L18.5,14 L16.3033009,11.7836116 C15.8988997,11.3755858 15.8988997,10.7140452 16.3033009,10.3060194 C16.707702,9.89799354 17.3633658,9.89799354 17.767767,10.3060194 L20.6966991,13.2612039 C21.1011003,13.6692297 21.1011003,14.3307703 20.6966991,14.7387961 Z M7.30330086,14.7387961 L10.232233,17.6939806 C10.6366342,18.1020065 11.292298,18.1020065 11.6966991,17.6939806 C12.1011003,17.2859548 12.1011003,16.6244142 11.6966991,16.2163884 L9.5,14 L11.6966991,11.7836116 C12.1011003,11.3755858 12.1011003,10.7140452 11.6966991,10.3060194 C11.292298,9.89799354 10.6366342,9.89799354 10.232233,10.3060194 L7.30330086,13.2612039 C6.89889971,13.6692297 6.89889971,14.3307703 7.30330086,14.7387961 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 50% 55%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1px #d8d8d8;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    height: 28px;
    background-color: #fff;
    position: relative;
    pointer-events: all;
    width: 28px;
    z-index: 2;
  }

  .vf-input__value-slider[type='range']::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    pointer-events: all;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #d8d8d8;
    cursor: pointer;
  }

  .vf-input__value-slider[type='range']::-webkit-slider-thumb:hover {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24px' height='18px' viewBox='0 0 24 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter x='-42.9%25' y='-42.9%25' width='185.7%25' height='185.7%25' filterUnits='objectBoundingBox' id='filter-ivb_mmjyjw-1'%3E%3CfeOffset dx='0' dy='1' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='2.5' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0' type='matrix' in='shadowBlurOuter1' result='shadowMatrixOuter1'%3E%3C/feColorMatrix%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'%3E%3C/feMergeNode%3E%3CfeMergeNode in='SourceGraphic'%3E%3C/feMergeNode%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg id='Guideline-&amp;-UI-Kit' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='VF-•-Guideline-•-Forms' transform='translate(-459.000000, -5187.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Input-value-range' transform='translate(155.000000, 4816.000000)'%3E%3Cg id='Range' transform='translate(0.000000, 202.000000)'%3E%3Cg id='Input-/-Value-/-Range-/-Hover' transform='translate(289.000000, 126.000000)'%3E%3Cg id='Colorss-/-Primary-/-White' filter='url(%23filter-ivb_mmjyjw-1)' transform='translate(13.000000, 37.000000)'%3E%3Cpath d='M20.6966991,14.7387961 L17.767767,17.6939806 C17.3633658,18.1020065 16.707702,18.1020065 16.3033009,17.6939806 C15.8988997,17.2859548 15.8988997,16.6244142 16.3033009,16.2163884 L18.5,14 L16.3033009,11.7836116 C15.8988997,11.3755858 15.8988997,10.7140452 16.3033009,10.3060194 C16.707702,9.89799354 17.3633658,9.89799354 17.767767,10.3060194 L20.6966991,13.2612039 C21.1011003,13.6692297 21.1011003,14.3307703 20.6966991,14.7387961 Z M7.30330086,14.7387961 L10.232233,17.6939806 C10.6366342,18.1020065 11.292298,18.1020065 11.6966991,17.6939806 C12.1011003,17.2859548 12.1011003,16.6244142 11.6966991,16.2163884 L9.5,14 L11.6966991,11.7836116 C12.1011003,11.3755858 12.1011003,10.7140452 11.6966991,10.3060194 C11.292298,9.89799354 10.6366342,9.89799354 10.232233,10.3060194 L7.30330086,13.2612039 C6.89889971,13.6692297 6.89889971,14.3307703 7.30330086,14.7387961 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    box-shadow: 0 0 0 1px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 0px #387bbe;
    @apply bg-link;
  }
}
