.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.vf-bg--primary {
  background-color: #ffda00 !important;
}

a.vf-bg--primary:hover, a.vf-bg--primary:focus,
button.vf-bg--primary:hover,
button.vf-bg--primary:focus {
  background-color: #ccae00 !important;
}

.vf-bg--secondary {
  background-color: #2071b5 !important;
}

a.vf-bg--secondary:hover, a.vf-bg--secondary:focus,
button.vf-bg--secondary:hover,
button.vf-bg--secondary:focus {
  background-color: #18568a !important;
}

.vf-bg--success {
  background-color: #28a745 !important;
}

a.vf-bg--success:hover, a.vf-bg--success:focus,
button.vf-bg--success:hover,
button.vf-bg--success:focus {
  background-color: #1e7e34 !important;
}

.vf-bg--warning {
  background-color: #ffc107 !important;
}

a.vf-bg--warning:hover, a.vf-bg--warning:focus,
button.vf-bg--warning:hover,
button.vf-bg--warning:focus {
  background-color: #d39e00 !important;
}

.vf-bg--danger {
  background-color: #f93b18 !important;
}

a.vf-bg--danger:hover, a.vf-bg--danger:focus,
button.vf-bg--danger:hover,
button.vf-bg--danger:focus {
  background-color: #d82606 !important;
}

.vf-bg--light {
  background-color: #f8f9fa !important;
}

a.vf-bg--light:hover, a.vf-bg--light:focus,
button.vf-bg--light:hover,
button.vf-bg--light:focus {
  background-color: #dae0e5 !important;
}

.vf-bg--dark {
  background-color: #222222 !important;
}

a.vf-bg--dark:hover, a.vf-bg--dark:focus,
button.vf-bg--dark:hover,
button.vf-bg--dark:focus {
  background-color: #090909 !important;
}

.vf-bg--blue-grey {
  background-color: #69788c !important;
}

a.vf-bg--blue-grey:hover, a.vf-bg--blue-grey:focus,
button.vf-bg--blue-grey:hover,
button.vf-bg--blue-grey:focus {
  background-color: #535f6f !important;
}

.vf-bg--dark-moss {
  background-color: #005c63 !important;
}

a.vf-bg--dark-moss:hover, a.vf-bg--dark-moss:focus,
button.vf-bg--dark-moss:hover,
button.vf-bg--dark-moss:focus {
  background-color: #002d30 !important;
}

.vf-bg--dark-blue {
  background-color: #1e324f !important;
}

a.vf-bg--dark-blue:hover, a.vf-bg--dark-blue:focus,
button.vf-bg--dark-blue:hover,
button.vf-bg--dark-blue:focus {
  background-color: #101b2a !important;
}

.vf-bg--dark-pink {
  background-color: #d1266b !important;
}

a.vf-bg--dark-pink:hover, a.vf-bg--dark-pink:focus,
button.vf-bg--dark-pink:hover,
button.vf-bg--dark-pink:focus {
  background-color: #a61e55 !important;
}

.vf-bg--dark-green {
  background-color: #3dc07c !important;
}

a.vf-bg--dark-green:hover, a.vf-bg--dark-green:focus,
button.vf-bg--dark-green:hover,
button.vf-bg--dark-green:focus {
  background-color: #319963 !important;
}

.vf-bg--dark-red {
  background-color: #f93b18 !important;
}

a.vf-bg--dark-red:hover, a.vf-bg--dark-red:focus,
button.vf-bg--dark-red:hover,
button.vf-bg--dark-red:focus {
  background-color: #d82606 !important;
}

.vf-bg--dark-purple {
  background-color: #9b62c3 !important;
}

a.vf-bg--dark-purple:hover, a.vf-bg--dark-purple:focus,
button.vf-bg--dark-purple:hover,
button.vf-bg--dark-purple:focus {
  background-color: #8243af !important;
}

.vf-bg--light-yellow {
  background-color: #fffee5 !important;
}

a.vf-bg--light-yellow:hover, a.vf-bg--light-yellow:focus,
button.vf-bg--light-yellow:hover,
button.vf-bg--light-yellow:focus {
  background-color: #fffcb2 !important;
}

.vf-bg--light-green {
  background-color: #edf9f3 !important;
}

a.vf-bg--light-green:hover, a.vf-bg--light-green:focus,
button.vf-bg--light-green:hover,
button.vf-bg--light-green:focus {
  background-color: #c7ecda !important;
}

.vf-bg--light-turquoise {
  background-color: #ebf2f3 !important;
}

a.vf-bg--light-turquoise:hover, a.vf-bg--light-turquoise:focus,
button.vf-bg--light-turquoise:hover,
button.vf-bg--light-turquoise:focus {
  background-color: #cbdde0 !important;
}

.vf-bg--light-blue {
  background-color: #edf1f6 !important;
}

a.vf-bg--light-blue:hover, a.vf-bg--light-blue:focus,
button.vf-bg--light-blue:hover,
button.vf-bg--light-blue:focus {
  background-color: #cbd7e5 !important;
}

.vf-bg--light-red {
  background-color: #fef0ea !important;
}

a.vf-bg--light-red:hover, a.vf-bg--light-red:focus,
button.vf-bg--light-red:hover,
button.vf-bg--light-red:focus {
  background-color: #fccdb9 !important;
}

.vf-bg--light-grey {
  background-color: #f2f2f2 !important;
}

a.vf-bg--light-grey:hover, a.vf-bg--light-grey:focus,
button.vf-bg--light-grey:hover,
button.vf-bg--light-grey:focus {
  background-color: #d9d9d9 !important;
}

.vf-bg--white {
  background-color: #fff !important;
}

.vf-bg--transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #ffda00 !important;
}

.border-secondary {
  border-color: #2071b5 !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #f93b18 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #222222 !important;
}

.border-blue-grey {
  border-color: #69788c !important;
}

.border-dark-moss {
  border-color: #005c63 !important;
}

.border-dark-blue {
  border-color: #1e324f !important;
}

.border-dark-pink {
  border-color: #d1266b !important;
}

.border-dark-green {
  border-color: #3dc07c !important;
}

.border-dark-red {
  border-color: #f93b18 !important;
}

.border-dark-purple {
  border-color: #9b62c3 !important;
}

.border-light-yellow {
  border-color: #fffee5 !important;
}

.border-light-green {
  border-color: #edf9f3 !important;
}

.border-light-turquoise {
  border-color: #ebf2f3 !important;
}

.border-light-blue {
  border-color: #edf1f6 !important;
}

.border-light-red {
  border-color: #fef0ea !important;
}

.border-light-grey {
  border-color: #f2f2f2 !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  border-radius: 1.5rem !important;
}

.rounded-top {
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
}

.rounded-right {
  border-top-right-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

.rounded-left {
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: inline-flex !important;
  }
}
@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

@media screen and (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important;
  }

  .flex-sm-column {
    flex-direction: column !important;
  }

  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }

  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-sm-fill {
    flex: 1 1 auto !important;
  }

  .flex-sm-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-sm-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-sm-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-sm-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-sm-start {
    justify-content: flex-start !important;
  }

  .justify-content-sm-end {
    justify-content: flex-end !important;
  }

  .justify-content-sm-center {
    justify-content: center !important;
  }

  .justify-content-sm-between {
    justify-content: space-between !important;
  }

  .justify-content-sm-around {
    justify-content: space-around !important;
  }

  .align-items-sm-start {
    align-items: flex-start !important;
  }

  .align-items-sm-end {
    align-items: flex-end !important;
  }

  .align-items-sm-center {
    align-items: center !important;
  }

  .align-items-sm-baseline {
    align-items: baseline !important;
  }

  .align-items-sm-stretch {
    align-items: stretch !important;
  }

  .align-content-sm-start {
    align-content: flex-start !important;
  }

  .align-content-sm-end {
    align-content: flex-end !important;
  }

  .align-content-sm-center {
    align-content: center !important;
  }

  .align-content-sm-between {
    align-content: space-between !important;
  }

  .align-content-sm-around {
    align-content: space-around !important;
  }

  .align-content-sm-stretch {
    align-content: stretch !important;
  }

  .align-self-sm-auto {
    align-self: auto !important;
  }

  .align-self-sm-start {
    align-self: flex-start !important;
  }

  .align-self-sm-end {
    align-self: flex-end !important;
  }

  .align-self-sm-center {
    align-self: center !important;
  }

  .align-self-sm-baseline {
    align-self: baseline !important;
  }

  .align-self-sm-stretch {
    align-self: stretch !important;
  }
}
@media screen and (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }

  .flex-md-column {
    flex-direction: column !important;
  }

  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-md-wrap {
    flex-wrap: wrap !important;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-md-fill {
    flex: 1 1 auto !important;
  }

  .flex-md-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-md-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-md-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-md-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-md-start {
    justify-content: flex-start !important;
  }

  .justify-content-md-end {
    justify-content: flex-end !important;
  }

  .justify-content-md-center {
    justify-content: center !important;
  }

  .justify-content-md-between {
    justify-content: space-between !important;
  }

  .justify-content-md-around {
    justify-content: space-around !important;
  }

  .align-items-md-start {
    align-items: flex-start !important;
  }

  .align-items-md-end {
    align-items: flex-end !important;
  }

  .align-items-md-center {
    align-items: center !important;
  }

  .align-items-md-baseline {
    align-items: baseline !important;
  }

  .align-items-md-stretch {
    align-items: stretch !important;
  }

  .align-content-md-start {
    align-content: flex-start !important;
  }

  .align-content-md-end {
    align-content: flex-end !important;
  }

  .align-content-md-center {
    align-content: center !important;
  }

  .align-content-md-between {
    align-content: space-between !important;
  }

  .align-content-md-around {
    align-content: space-around !important;
  }

  .align-content-md-stretch {
    align-content: stretch !important;
  }

  .align-self-md-auto {
    align-self: auto !important;
  }

  .align-self-md-start {
    align-self: flex-start !important;
  }

  .align-self-md-end {
    align-self: flex-end !important;
  }

  .align-self-md-center {
    align-self: center !important;
  }

  .align-self-md-baseline {
    align-self: baseline !important;
  }

  .align-self-md-stretch {
    align-self: stretch !important;
  }
}
@media screen and (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }

  .flex-lg-column {
    flex-direction: column !important;
  }

  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }

  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-lg-fill {
    flex: 1 1 auto !important;
  }

  .flex-lg-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-lg-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-lg-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-lg-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-lg-start {
    justify-content: flex-start !important;
  }

  .justify-content-lg-end {
    justify-content: flex-end !important;
  }

  .justify-content-lg-center {
    justify-content: center !important;
  }

  .justify-content-lg-between {
    justify-content: space-between !important;
  }

  .justify-content-lg-around {
    justify-content: space-around !important;
  }

  .align-items-lg-start {
    align-items: flex-start !important;
  }

  .align-items-lg-end {
    align-items: flex-end !important;
  }

  .align-items-lg-center {
    align-items: center !important;
  }

  .align-items-lg-baseline {
    align-items: baseline !important;
  }

  .align-items-lg-stretch {
    align-items: stretch !important;
  }

  .align-content-lg-start {
    align-content: flex-start !important;
  }

  .align-content-lg-end {
    align-content: flex-end !important;
  }

  .align-content-lg-center {
    align-content: center !important;
  }

  .align-content-lg-between {
    align-content: space-between !important;
  }

  .align-content-lg-around {
    align-content: space-around !important;
  }

  .align-content-lg-stretch {
    align-content: stretch !important;
  }

  .align-self-lg-auto {
    align-self: auto !important;
  }

  .align-self-lg-start {
    align-self: flex-start !important;
  }

  .align-self-lg-end {
    align-self: flex-end !important;
  }

  .align-self-lg-center {
    align-self: center !important;
  }

  .align-self-lg-baseline {
    align-self: baseline !important;
  }

  .align-self-lg-stretch {
    align-self: stretch !important;
  }
}
@media screen and (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important;
  }

  .flex-xl-column {
    flex-direction: column !important;
  }

  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }

  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-xl-fill {
    flex: 1 1 auto !important;
  }

  .flex-xl-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-xl-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-xl-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-xl-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-xl-start {
    justify-content: flex-start !important;
  }

  .justify-content-xl-end {
    justify-content: flex-end !important;
  }

  .justify-content-xl-center {
    justify-content: center !important;
  }

  .justify-content-xl-between {
    justify-content: space-between !important;
  }

  .justify-content-xl-around {
    justify-content: space-around !important;
  }

  .align-items-xl-start {
    align-items: flex-start !important;
  }

  .align-items-xl-end {
    align-items: flex-end !important;
  }

  .align-items-xl-center {
    align-items: center !important;
  }

  .align-items-xl-baseline {
    align-items: baseline !important;
  }

  .align-items-xl-stretch {
    align-items: stretch !important;
  }

  .align-content-xl-start {
    align-content: flex-start !important;
  }

  .align-content-xl-end {
    align-content: flex-end !important;
  }

  .align-content-xl-center {
    align-content: center !important;
  }

  .align-content-xl-between {
    align-content: space-between !important;
  }

  .align-content-xl-around {
    align-content: space-around !important;
  }

  .align-content-xl-stretch {
    align-content: stretch !important;
  }

  .align-self-xl-auto {
    align-self: auto !important;
  }

  .align-self-xl-start {
    align-self: flex-start !important;
  }

  .align-self-xl-end {
    align-self: flex-end !important;
  }

  .align-self-xl-center {
    align-self: center !important;
  }

  .align-self-xl-baseline {
    align-self: baseline !important;
  }

  .align-self-xl-stretch {
    align-self: stretch !important;
  }
}
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

@media screen and (min-width: 576px) {
  .float-sm-left {
    float: left !important;
  }

  .float-sm-right {
    float: right !important;
  }

  .float-sm-none {
    float: none !important;
  }
}
@media screen and (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }

  .float-md-right {
    float: right !important;
  }

  .float-md-none {
    float: none !important;
  }
}
@media screen and (min-width: 992px) {
  .float-lg-left {
    float: left !important;
  }

  .float-lg-right {
    float: right !important;
  }

  .float-lg-none {
    float: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .float-xl-left {
    float: left !important;
  }

  .float-xl-right {
    float: right !important;
  }

  .float-xl-none {
    float: none !important;
  }
}
.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

@media screen and (max-width: 575.98px) {
  .vf-u--hidden {
    display: none !important;
  }
}
@media screen and (max-width: 767.98px) {
  .vf-u--sm-hidden {
    display: none !important;
  }
}
@media screen and (max-width: 991.98px) {
  .vf-u--md-hidden {
    display: none !important;
  }
}
@media screen and (max-width: 1199.98px) {
  .vf-u--lg-hidden {
    display: none !important;
  }
}
.vf-u--xl-hidden {
  display: none !important;
}

.vf-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.vf-sr-only-focusable:active, .vf-sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.vf-vh-100 {
  height: 100vh;
}

.vf-vh-90 {
  height: 90vh;
}

.vf-vh-80 {
  height: 80vh;
}

.vf-vh-70 {
  height: 70vh;
}

.vf-vh-60 {
  height: 60vh;
}

.vf-vh-50 {
  height: 50vh;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.5rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.5rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.5rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.5rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.5rem !important;
}

.m-2 {
  margin: 1rem !important;
}

.mt-2,
.my-2 {
  margin-top: 1rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 1rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 1rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 1rem !important;
}

.m-3 {
  margin: 2rem !important;
}

.mt-3,
.my-3 {
  margin-top: 2rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 2rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 2rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 2rem !important;
}

.m-4 {
  margin: 3rem !important;
}

.mt-4,
.my-4 {
  margin-top: 3rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 3rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 3rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 3rem !important;
}

.m-5 {
  margin: 6rem !important;
}

.mt-5,
.my-5 {
  margin-top: 6rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 6rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 6rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 6rem !important;
}

.m-6 {
  margin: 8rem !important;
}

.mt-6,
.my-6 {
  margin-top: 8rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 8rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 8rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 8rem !important;
}

.m-7 {
  margin: 10rem !important;
}

.mt-7,
.my-7 {
  margin-top: 10rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 10rem !important;
}

.mb-7,
.my-7 {
  margin-bottom: 10rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 10rem !important;
}

.m-8 {
  margin: 12rem !important;
}

.mt-8,
.my-8 {
  margin-top: 12rem !important;
}

.mr-8,
.mx-8 {
  margin-right: 12rem !important;
}

.mb-8,
.my-8 {
  margin-bottom: 12rem !important;
}

.ml-8,
.mx-8 {
  margin-left: 12rem !important;
}

.m-9 {
  margin: 14rem !important;
}

.mt-9,
.my-9 {
  margin-top: 14rem !important;
}

.mr-9,
.mx-9 {
  margin-right: 14rem !important;
}

.mb-9,
.my-9 {
  margin-bottom: 14rem !important;
}

.ml-9,
.mx-9 {
  margin-left: 14rem !important;
}

.m-10 {
  margin: 16rem !important;
}

.mt-10,
.my-10 {
  margin-top: 16rem !important;
}

.mr-10,
.mx-10 {
  margin-right: 16rem !important;
}

.mb-10,
.my-10 {
  margin-bottom: 16rem !important;
}

.ml-10,
.mx-10 {
  margin-left: 16rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.5rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.5rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.5rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.5rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.5rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.pt-2,
.py-2 {
  padding-top: 1rem !important;
}

.pr-2,
.px-2 {
  padding-right: 1rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 1rem !important;
}

.pl-2,
.px-2 {
  padding-left: 1rem !important;
}

.p-3 {
  padding: 2rem !important;
}

.pt-3,
.py-3 {
  padding-top: 2rem !important;
}

.pr-3,
.px-3 {
  padding-right: 2rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 2rem !important;
}

.pl-3,
.px-3 {
  padding-left: 2rem !important;
}

.p-4 {
  padding: 3rem !important;
}

.pt-4,
.py-4 {
  padding-top: 3rem !important;
}

.pr-4,
.px-4 {
  padding-right: 3rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 3rem !important;
}

.pl-4,
.px-4 {
  padding-left: 3rem !important;
}

.p-5 {
  padding: 6rem !important;
}

.pt-5,
.py-5 {
  padding-top: 6rem !important;
}

.pr-5,
.px-5 {
  padding-right: 6rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 6rem !important;
}

.pl-5,
.px-5 {
  padding-left: 6rem !important;
}

.p-6 {
  padding: 8rem !important;
}

.pt-6,
.py-6 {
  padding-top: 8rem !important;
}

.pr-6,
.px-6 {
  padding-right: 8rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 8rem !important;
}

.pl-6,
.px-6 {
  padding-left: 8rem !important;
}

.p-7 {
  padding: 10rem !important;
}

.pt-7,
.py-7 {
  padding-top: 10rem !important;
}

.pr-7,
.px-7 {
  padding-right: 10rem !important;
}

.pb-7,
.py-7 {
  padding-bottom: 10rem !important;
}

.pl-7,
.px-7 {
  padding-left: 10rem !important;
}

.p-8 {
  padding: 12rem !important;
}

.pt-8,
.py-8 {
  padding-top: 12rem !important;
}

.pr-8,
.px-8 {
  padding-right: 12rem !important;
}

.pb-8,
.py-8 {
  padding-bottom: 12rem !important;
}

.pl-8,
.px-8 {
  padding-left: 12rem !important;
}

.p-9 {
  padding: 14rem !important;
}

.pt-9,
.py-9 {
  padding-top: 14rem !important;
}

.pr-9,
.px-9 {
  padding-right: 14rem !important;
}

.pb-9,
.py-9 {
  padding-bottom: 14rem !important;
}

.pl-9,
.px-9 {
  padding-left: 14rem !important;
}

.p-10 {
  padding: 16rem !important;
}

.pt-10,
.py-10 {
  padding-top: 16rem !important;
}

.pr-10,
.px-10 {
  padding-right: 16rem !important;
}

.pb-10,
.py-10 {
  padding-bottom: 16rem !important;
}

.pl-10,
.px-10 {
  padding-left: 16rem !important;
}

.m-n1 {
  margin: -0.5rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.5rem !important;
}

.mr-n1,
.mx-n1 {
  margin-right: -0.5rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.5rem !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -0.5rem !important;
}

.m-n2 {
  margin: -1rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -1rem !important;
}

.mr-n2,
.mx-n2 {
  margin-right: -1rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -1rem !important;
}

.ml-n2,
.mx-n2 {
  margin-left: -1rem !important;
}

.m-n3 {
  margin: -2rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -2rem !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -2rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -2rem !important;
}

.ml-n3,
.mx-n3 {
  margin-left: -2rem !important;
}

.m-n4 {
  margin: -3rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -3rem !important;
}

.mr-n4,
.mx-n4 {
  margin-right: -3rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -3rem !important;
}

.ml-n4,
.mx-n4 {
  margin-left: -3rem !important;
}

.m-n5 {
  margin: -6rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -6rem !important;
}

.mr-n5,
.mx-n5 {
  margin-right: -6rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -6rem !important;
}

.ml-n5,
.mx-n5 {
  margin-left: -6rem !important;
}

.m-n6 {
  margin: -8rem !important;
}

.mt-n6,
.my-n6 {
  margin-top: -8rem !important;
}

.mr-n6,
.mx-n6 {
  margin-right: -8rem !important;
}

.mb-n6,
.my-n6 {
  margin-bottom: -8rem !important;
}

.ml-n6,
.mx-n6 {
  margin-left: -8rem !important;
}

.m-n7 {
  margin: -10rem !important;
}

.mt-n7,
.my-n7 {
  margin-top: -10rem !important;
}

.mr-n7,
.mx-n7 {
  margin-right: -10rem !important;
}

.mb-n7,
.my-n7 {
  margin-bottom: -10rem !important;
}

.ml-n7,
.mx-n7 {
  margin-left: -10rem !important;
}

.m-n8 {
  margin: -12rem !important;
}

.mt-n8,
.my-n8 {
  margin-top: -12rem !important;
}

.mr-n8,
.mx-n8 {
  margin-right: -12rem !important;
}

.mb-n8,
.my-n8 {
  margin-bottom: -12rem !important;
}

.ml-n8,
.mx-n8 {
  margin-left: -12rem !important;
}

.m-n9 {
  margin: -14rem !important;
}

.mt-n9,
.my-n9 {
  margin-top: -14rem !important;
}

.mr-n9,
.mx-n9 {
  margin-right: -14rem !important;
}

.mb-n9,
.my-n9 {
  margin-bottom: -14rem !important;
}

.ml-n9,
.mx-n9 {
  margin-left: -14rem !important;
}

.m-n10 {
  margin: -16rem !important;
}

.mt-n10,
.my-n10 {
  margin-top: -16rem !important;
}

.mr-n10,
.mx-n10 {
  margin-right: -16rem !important;
}

.mb-n10,
.my-n10 {
  margin-bottom: -16rem !important;
}

.ml-n10,
.mx-n10 {
  margin-left: -16rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media screen and (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }

  .mt-sm-0,
.my-sm-0 {
    margin-top: 0 !important;
  }

  .mr-sm-0,
.mx-sm-0 {
    margin-right: 0 !important;
  }

  .mb-sm-0,
.my-sm-0 {
    margin-bottom: 0 !important;
  }

  .ml-sm-0,
.mx-sm-0 {
    margin-left: 0 !important;
  }

  .m-sm-1 {
    margin: 0.5rem !important;
  }

  .mt-sm-1,
.my-sm-1 {
    margin-top: 0.5rem !important;
  }

  .mr-sm-1,
.mx-sm-1 {
    margin-right: 0.5rem !important;
  }

  .mb-sm-1,
.my-sm-1 {
    margin-bottom: 0.5rem !important;
  }

  .ml-sm-1,
.mx-sm-1 {
    margin-left: 0.5rem !important;
  }

  .m-sm-2 {
    margin: 1rem !important;
  }

  .mt-sm-2,
.my-sm-2 {
    margin-top: 1rem !important;
  }

  .mr-sm-2,
.mx-sm-2 {
    margin-right: 1rem !important;
  }

  .mb-sm-2,
.my-sm-2 {
    margin-bottom: 1rem !important;
  }

  .ml-sm-2,
.mx-sm-2 {
    margin-left: 1rem !important;
  }

  .m-sm-3 {
    margin: 2rem !important;
  }

  .mt-sm-3,
.my-sm-3 {
    margin-top: 2rem !important;
  }

  .mr-sm-3,
.mx-sm-3 {
    margin-right: 2rem !important;
  }

  .mb-sm-3,
.my-sm-3 {
    margin-bottom: 2rem !important;
  }

  .ml-sm-3,
.mx-sm-3 {
    margin-left: 2rem !important;
  }

  .m-sm-4 {
    margin: 3rem !important;
  }

  .mt-sm-4,
.my-sm-4 {
    margin-top: 3rem !important;
  }

  .mr-sm-4,
.mx-sm-4 {
    margin-right: 3rem !important;
  }

  .mb-sm-4,
.my-sm-4 {
    margin-bottom: 3rem !important;
  }

  .ml-sm-4,
.mx-sm-4 {
    margin-left: 3rem !important;
  }

  .m-sm-5 {
    margin: 6rem !important;
  }

  .mt-sm-5,
.my-sm-5 {
    margin-top: 6rem !important;
  }

  .mr-sm-5,
.mx-sm-5 {
    margin-right: 6rem !important;
  }

  .mb-sm-5,
.my-sm-5 {
    margin-bottom: 6rem !important;
  }

  .ml-sm-5,
.mx-sm-5 {
    margin-left: 6rem !important;
  }

  .m-sm-6 {
    margin: 8rem !important;
  }

  .mt-sm-6,
.my-sm-6 {
    margin-top: 8rem !important;
  }

  .mr-sm-6,
.mx-sm-6 {
    margin-right: 8rem !important;
  }

  .mb-sm-6,
.my-sm-6 {
    margin-bottom: 8rem !important;
  }

  .ml-sm-6,
.mx-sm-6 {
    margin-left: 8rem !important;
  }

  .m-sm-7 {
    margin: 10rem !important;
  }

  .mt-sm-7,
.my-sm-7 {
    margin-top: 10rem !important;
  }

  .mr-sm-7,
.mx-sm-7 {
    margin-right: 10rem !important;
  }

  .mb-sm-7,
.my-sm-7 {
    margin-bottom: 10rem !important;
  }

  .ml-sm-7,
.mx-sm-7 {
    margin-left: 10rem !important;
  }

  .m-sm-8 {
    margin: 12rem !important;
  }

  .mt-sm-8,
.my-sm-8 {
    margin-top: 12rem !important;
  }

  .mr-sm-8,
.mx-sm-8 {
    margin-right: 12rem !important;
  }

  .mb-sm-8,
.my-sm-8 {
    margin-bottom: 12rem !important;
  }

  .ml-sm-8,
.mx-sm-8 {
    margin-left: 12rem !important;
  }

  .m-sm-9 {
    margin: 14rem !important;
  }

  .mt-sm-9,
.my-sm-9 {
    margin-top: 14rem !important;
  }

  .mr-sm-9,
.mx-sm-9 {
    margin-right: 14rem !important;
  }

  .mb-sm-9,
.my-sm-9 {
    margin-bottom: 14rem !important;
  }

  .ml-sm-9,
.mx-sm-9 {
    margin-left: 14rem !important;
  }

  .m-sm-10 {
    margin: 16rem !important;
  }

  .mt-sm-10,
.my-sm-10 {
    margin-top: 16rem !important;
  }

  .mr-sm-10,
.mx-sm-10 {
    margin-right: 16rem !important;
  }

  .mb-sm-10,
.my-sm-10 {
    margin-bottom: 16rem !important;
  }

  .ml-sm-10,
.mx-sm-10 {
    margin-left: 16rem !important;
  }

  .p-sm-0 {
    padding: 0 !important;
  }

  .pt-sm-0,
.py-sm-0 {
    padding-top: 0 !important;
  }

  .pr-sm-0,
.px-sm-0 {
    padding-right: 0 !important;
  }

  .pb-sm-0,
.py-sm-0 {
    padding-bottom: 0 !important;
  }

  .pl-sm-0,
.px-sm-0 {
    padding-left: 0 !important;
  }

  .p-sm-1 {
    padding: 0.5rem !important;
  }

  .pt-sm-1,
.py-sm-1 {
    padding-top: 0.5rem !important;
  }

  .pr-sm-1,
.px-sm-1 {
    padding-right: 0.5rem !important;
  }

  .pb-sm-1,
.py-sm-1 {
    padding-bottom: 0.5rem !important;
  }

  .pl-sm-1,
.px-sm-1 {
    padding-left: 0.5rem !important;
  }

  .p-sm-2 {
    padding: 1rem !important;
  }

  .pt-sm-2,
.py-sm-2 {
    padding-top: 1rem !important;
  }

  .pr-sm-2,
.px-sm-2 {
    padding-right: 1rem !important;
  }

  .pb-sm-2,
.py-sm-2 {
    padding-bottom: 1rem !important;
  }

  .pl-sm-2,
.px-sm-2 {
    padding-left: 1rem !important;
  }

  .p-sm-3 {
    padding: 2rem !important;
  }

  .pt-sm-3,
.py-sm-3 {
    padding-top: 2rem !important;
  }

  .pr-sm-3,
.px-sm-3 {
    padding-right: 2rem !important;
  }

  .pb-sm-3,
.py-sm-3 {
    padding-bottom: 2rem !important;
  }

  .pl-sm-3,
.px-sm-3 {
    padding-left: 2rem !important;
  }

  .p-sm-4 {
    padding: 3rem !important;
  }

  .pt-sm-4,
.py-sm-4 {
    padding-top: 3rem !important;
  }

  .pr-sm-4,
.px-sm-4 {
    padding-right: 3rem !important;
  }

  .pb-sm-4,
.py-sm-4 {
    padding-bottom: 3rem !important;
  }

  .pl-sm-4,
.px-sm-4 {
    padding-left: 3rem !important;
  }

  .p-sm-5 {
    padding: 6rem !important;
  }

  .pt-sm-5,
.py-sm-5 {
    padding-top: 6rem !important;
  }

  .pr-sm-5,
.px-sm-5 {
    padding-right: 6rem !important;
  }

  .pb-sm-5,
.py-sm-5 {
    padding-bottom: 6rem !important;
  }

  .pl-sm-5,
.px-sm-5 {
    padding-left: 6rem !important;
  }

  .p-sm-6 {
    padding: 8rem !important;
  }

  .pt-sm-6,
.py-sm-6 {
    padding-top: 8rem !important;
  }

  .pr-sm-6,
.px-sm-6 {
    padding-right: 8rem !important;
  }

  .pb-sm-6,
.py-sm-6 {
    padding-bottom: 8rem !important;
  }

  .pl-sm-6,
.px-sm-6 {
    padding-left: 8rem !important;
  }

  .p-sm-7 {
    padding: 10rem !important;
  }

  .pt-sm-7,
.py-sm-7 {
    padding-top: 10rem !important;
  }

  .pr-sm-7,
.px-sm-7 {
    padding-right: 10rem !important;
  }

  .pb-sm-7,
.py-sm-7 {
    padding-bottom: 10rem !important;
  }

  .pl-sm-7,
.px-sm-7 {
    padding-left: 10rem !important;
  }

  .p-sm-8 {
    padding: 12rem !important;
  }

  .pt-sm-8,
.py-sm-8 {
    padding-top: 12rem !important;
  }

  .pr-sm-8,
.px-sm-8 {
    padding-right: 12rem !important;
  }

  .pb-sm-8,
.py-sm-8 {
    padding-bottom: 12rem !important;
  }

  .pl-sm-8,
.px-sm-8 {
    padding-left: 12rem !important;
  }

  .p-sm-9 {
    padding: 14rem !important;
  }

  .pt-sm-9,
.py-sm-9 {
    padding-top: 14rem !important;
  }

  .pr-sm-9,
.px-sm-9 {
    padding-right: 14rem !important;
  }

  .pb-sm-9,
.py-sm-9 {
    padding-bottom: 14rem !important;
  }

  .pl-sm-9,
.px-sm-9 {
    padding-left: 14rem !important;
  }

  .p-sm-10 {
    padding: 16rem !important;
  }

  .pt-sm-10,
.py-sm-10 {
    padding-top: 16rem !important;
  }

  .pr-sm-10,
.px-sm-10 {
    padding-right: 16rem !important;
  }

  .pb-sm-10,
.py-sm-10 {
    padding-bottom: 16rem !important;
  }

  .pl-sm-10,
.px-sm-10 {
    padding-left: 16rem !important;
  }

  .m-sm-n1 {
    margin: -0.5rem !important;
  }

  .mt-sm-n1,
.my-sm-n1 {
    margin-top: -0.5rem !important;
  }

  .mr-sm-n1,
.mx-sm-n1 {
    margin-right: -0.5rem !important;
  }

  .mb-sm-n1,
.my-sm-n1 {
    margin-bottom: -0.5rem !important;
  }

  .ml-sm-n1,
.mx-sm-n1 {
    margin-left: -0.5rem !important;
  }

  .m-sm-n2 {
    margin: -1rem !important;
  }

  .mt-sm-n2,
.my-sm-n2 {
    margin-top: -1rem !important;
  }

  .mr-sm-n2,
.mx-sm-n2 {
    margin-right: -1rem !important;
  }

  .mb-sm-n2,
.my-sm-n2 {
    margin-bottom: -1rem !important;
  }

  .ml-sm-n2,
.mx-sm-n2 {
    margin-left: -1rem !important;
  }

  .m-sm-n3 {
    margin: -2rem !important;
  }

  .mt-sm-n3,
.my-sm-n3 {
    margin-top: -2rem !important;
  }

  .mr-sm-n3,
.mx-sm-n3 {
    margin-right: -2rem !important;
  }

  .mb-sm-n3,
.my-sm-n3 {
    margin-bottom: -2rem !important;
  }

  .ml-sm-n3,
.mx-sm-n3 {
    margin-left: -2rem !important;
  }

  .m-sm-n4 {
    margin: -3rem !important;
  }

  .mt-sm-n4,
.my-sm-n4 {
    margin-top: -3rem !important;
  }

  .mr-sm-n4,
.mx-sm-n4 {
    margin-right: -3rem !important;
  }

  .mb-sm-n4,
.my-sm-n4 {
    margin-bottom: -3rem !important;
  }

  .ml-sm-n4,
.mx-sm-n4 {
    margin-left: -3rem !important;
  }

  .m-sm-n5 {
    margin: -6rem !important;
  }

  .mt-sm-n5,
.my-sm-n5 {
    margin-top: -6rem !important;
  }

  .mr-sm-n5,
.mx-sm-n5 {
    margin-right: -6rem !important;
  }

  .mb-sm-n5,
.my-sm-n5 {
    margin-bottom: -6rem !important;
  }

  .ml-sm-n5,
.mx-sm-n5 {
    margin-left: -6rem !important;
  }

  .m-sm-n6 {
    margin: -8rem !important;
  }

  .mt-sm-n6,
.my-sm-n6 {
    margin-top: -8rem !important;
  }

  .mr-sm-n6,
.mx-sm-n6 {
    margin-right: -8rem !important;
  }

  .mb-sm-n6,
.my-sm-n6 {
    margin-bottom: -8rem !important;
  }

  .ml-sm-n6,
.mx-sm-n6 {
    margin-left: -8rem !important;
  }

  .m-sm-n7 {
    margin: -10rem !important;
  }

  .mt-sm-n7,
.my-sm-n7 {
    margin-top: -10rem !important;
  }

  .mr-sm-n7,
.mx-sm-n7 {
    margin-right: -10rem !important;
  }

  .mb-sm-n7,
.my-sm-n7 {
    margin-bottom: -10rem !important;
  }

  .ml-sm-n7,
.mx-sm-n7 {
    margin-left: -10rem !important;
  }

  .m-sm-n8 {
    margin: -12rem !important;
  }

  .mt-sm-n8,
.my-sm-n8 {
    margin-top: -12rem !important;
  }

  .mr-sm-n8,
.mx-sm-n8 {
    margin-right: -12rem !important;
  }

  .mb-sm-n8,
.my-sm-n8 {
    margin-bottom: -12rem !important;
  }

  .ml-sm-n8,
.mx-sm-n8 {
    margin-left: -12rem !important;
  }

  .m-sm-n9 {
    margin: -14rem !important;
  }

  .mt-sm-n9,
.my-sm-n9 {
    margin-top: -14rem !important;
  }

  .mr-sm-n9,
.mx-sm-n9 {
    margin-right: -14rem !important;
  }

  .mb-sm-n9,
.my-sm-n9 {
    margin-bottom: -14rem !important;
  }

  .ml-sm-n9,
.mx-sm-n9 {
    margin-left: -14rem !important;
  }

  .m-sm-n10 {
    margin: -16rem !important;
  }

  .mt-sm-n10,
.my-sm-n10 {
    margin-top: -16rem !important;
  }

  .mr-sm-n10,
.mx-sm-n10 {
    margin-right: -16rem !important;
  }

  .mb-sm-n10,
.my-sm-n10 {
    margin-bottom: -16rem !important;
  }

  .ml-sm-n10,
.mx-sm-n10 {
    margin-left: -16rem !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .mt-sm-auto,
.my-sm-auto {
    margin-top: auto !important;
  }

  .mr-sm-auto,
.mx-sm-auto {
    margin-right: auto !important;
  }

  .mb-sm-auto,
.my-sm-auto {
    margin-bottom: auto !important;
  }

  .ml-sm-auto,
.mx-sm-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }

  .mt-md-0,
.my-md-0 {
    margin-top: 0 !important;
  }

  .mr-md-0,
.mx-md-0 {
    margin-right: 0 !important;
  }

  .mb-md-0,
.my-md-0 {
    margin-bottom: 0 !important;
  }

  .ml-md-0,
.mx-md-0 {
    margin-left: 0 !important;
  }

  .m-md-1 {
    margin: 0.5rem !important;
  }

  .mt-md-1,
.my-md-1 {
    margin-top: 0.5rem !important;
  }

  .mr-md-1,
.mx-md-1 {
    margin-right: 0.5rem !important;
  }

  .mb-md-1,
.my-md-1 {
    margin-bottom: 0.5rem !important;
  }

  .ml-md-1,
.mx-md-1 {
    margin-left: 0.5rem !important;
  }

  .m-md-2 {
    margin: 1rem !important;
  }

  .mt-md-2,
.my-md-2 {
    margin-top: 1rem !important;
  }

  .mr-md-2,
.mx-md-2 {
    margin-right: 1rem !important;
  }

  .mb-md-2,
.my-md-2 {
    margin-bottom: 1rem !important;
  }

  .ml-md-2,
.mx-md-2 {
    margin-left: 1rem !important;
  }

  .m-md-3 {
    margin: 2rem !important;
  }

  .mt-md-3,
.my-md-3 {
    margin-top: 2rem !important;
  }

  .mr-md-3,
.mx-md-3 {
    margin-right: 2rem !important;
  }

  .mb-md-3,
.my-md-3 {
    margin-bottom: 2rem !important;
  }

  .ml-md-3,
.mx-md-3 {
    margin-left: 2rem !important;
  }

  .m-md-4 {
    margin: 3rem !important;
  }

  .mt-md-4,
.my-md-4 {
    margin-top: 3rem !important;
  }

  .mr-md-4,
.mx-md-4 {
    margin-right: 3rem !important;
  }

  .mb-md-4,
.my-md-4 {
    margin-bottom: 3rem !important;
  }

  .ml-md-4,
.mx-md-4 {
    margin-left: 3rem !important;
  }

  .m-md-5 {
    margin: 6rem !important;
  }

  .mt-md-5,
.my-md-5 {
    margin-top: 6rem !important;
  }

  .mr-md-5,
.mx-md-5 {
    margin-right: 6rem !important;
  }

  .mb-md-5,
.my-md-5 {
    margin-bottom: 6rem !important;
  }

  .ml-md-5,
.mx-md-5 {
    margin-left: 6rem !important;
  }

  .m-md-6 {
    margin: 8rem !important;
  }

  .mt-md-6,
.my-md-6 {
    margin-top: 8rem !important;
  }

  .mr-md-6,
.mx-md-6 {
    margin-right: 8rem !important;
  }

  .mb-md-6,
.my-md-6 {
    margin-bottom: 8rem !important;
  }

  .ml-md-6,
.mx-md-6 {
    margin-left: 8rem !important;
  }

  .m-md-7 {
    margin: 10rem !important;
  }

  .mt-md-7,
.my-md-7 {
    margin-top: 10rem !important;
  }

  .mr-md-7,
.mx-md-7 {
    margin-right: 10rem !important;
  }

  .mb-md-7,
.my-md-7 {
    margin-bottom: 10rem !important;
  }

  .ml-md-7,
.mx-md-7 {
    margin-left: 10rem !important;
  }

  .m-md-8 {
    margin: 12rem !important;
  }

  .mt-md-8,
.my-md-8 {
    margin-top: 12rem !important;
  }

  .mr-md-8,
.mx-md-8 {
    margin-right: 12rem !important;
  }

  .mb-md-8,
.my-md-8 {
    margin-bottom: 12rem !important;
  }

  .ml-md-8,
.mx-md-8 {
    margin-left: 12rem !important;
  }

  .m-md-9 {
    margin: 14rem !important;
  }

  .mt-md-9,
.my-md-9 {
    margin-top: 14rem !important;
  }

  .mr-md-9,
.mx-md-9 {
    margin-right: 14rem !important;
  }

  .mb-md-9,
.my-md-9 {
    margin-bottom: 14rem !important;
  }

  .ml-md-9,
.mx-md-9 {
    margin-left: 14rem !important;
  }

  .m-md-10 {
    margin: 16rem !important;
  }

  .mt-md-10,
.my-md-10 {
    margin-top: 16rem !important;
  }

  .mr-md-10,
.mx-md-10 {
    margin-right: 16rem !important;
  }

  .mb-md-10,
.my-md-10 {
    margin-bottom: 16rem !important;
  }

  .ml-md-10,
.mx-md-10 {
    margin-left: 16rem !important;
  }

  .p-md-0 {
    padding: 0 !important;
  }

  .pt-md-0,
.py-md-0 {
    padding-top: 0 !important;
  }

  .pr-md-0,
.px-md-0 {
    padding-right: 0 !important;
  }

  .pb-md-0,
.py-md-0 {
    padding-bottom: 0 !important;
  }

  .pl-md-0,
.px-md-0 {
    padding-left: 0 !important;
  }

  .p-md-1 {
    padding: 0.5rem !important;
  }

  .pt-md-1,
.py-md-1 {
    padding-top: 0.5rem !important;
  }

  .pr-md-1,
.px-md-1 {
    padding-right: 0.5rem !important;
  }

  .pb-md-1,
.py-md-1 {
    padding-bottom: 0.5rem !important;
  }

  .pl-md-1,
.px-md-1 {
    padding-left: 0.5rem !important;
  }

  .p-md-2 {
    padding: 1rem !important;
  }

  .pt-md-2,
.py-md-2 {
    padding-top: 1rem !important;
  }

  .pr-md-2,
.px-md-2 {
    padding-right: 1rem !important;
  }

  .pb-md-2,
.py-md-2 {
    padding-bottom: 1rem !important;
  }

  .pl-md-2,
.px-md-2 {
    padding-left: 1rem !important;
  }

  .p-md-3 {
    padding: 2rem !important;
  }

  .pt-md-3,
.py-md-3 {
    padding-top: 2rem !important;
  }

  .pr-md-3,
.px-md-3 {
    padding-right: 2rem !important;
  }

  .pb-md-3,
.py-md-3 {
    padding-bottom: 2rem !important;
  }

  .pl-md-3,
.px-md-3 {
    padding-left: 2rem !important;
  }

  .p-md-4 {
    padding: 3rem !important;
  }

  .pt-md-4,
.py-md-4 {
    padding-top: 3rem !important;
  }

  .pr-md-4,
.px-md-4 {
    padding-right: 3rem !important;
  }

  .pb-md-4,
.py-md-4 {
    padding-bottom: 3rem !important;
  }

  .pl-md-4,
.px-md-4 {
    padding-left: 3rem !important;
  }

  .p-md-5 {
    padding: 6rem !important;
  }

  .pt-md-5,
.py-md-5 {
    padding-top: 6rem !important;
  }

  .pr-md-5,
.px-md-5 {
    padding-right: 6rem !important;
  }

  .pb-md-5,
.py-md-5 {
    padding-bottom: 6rem !important;
  }

  .pl-md-5,
.px-md-5 {
    padding-left: 6rem !important;
  }

  .p-md-6 {
    padding: 8rem !important;
  }

  .pt-md-6,
.py-md-6 {
    padding-top: 8rem !important;
  }

  .pr-md-6,
.px-md-6 {
    padding-right: 8rem !important;
  }

  .pb-md-6,
.py-md-6 {
    padding-bottom: 8rem !important;
  }

  .pl-md-6,
.px-md-6 {
    padding-left: 8rem !important;
  }

  .p-md-7 {
    padding: 10rem !important;
  }

  .pt-md-7,
.py-md-7 {
    padding-top: 10rem !important;
  }

  .pr-md-7,
.px-md-7 {
    padding-right: 10rem !important;
  }

  .pb-md-7,
.py-md-7 {
    padding-bottom: 10rem !important;
  }

  .pl-md-7,
.px-md-7 {
    padding-left: 10rem !important;
  }

  .p-md-8 {
    padding: 12rem !important;
  }

  .pt-md-8,
.py-md-8 {
    padding-top: 12rem !important;
  }

  .pr-md-8,
.px-md-8 {
    padding-right: 12rem !important;
  }

  .pb-md-8,
.py-md-8 {
    padding-bottom: 12rem !important;
  }

  .pl-md-8,
.px-md-8 {
    padding-left: 12rem !important;
  }

  .p-md-9 {
    padding: 14rem !important;
  }

  .pt-md-9,
.py-md-9 {
    padding-top: 14rem !important;
  }

  .pr-md-9,
.px-md-9 {
    padding-right: 14rem !important;
  }

  .pb-md-9,
.py-md-9 {
    padding-bottom: 14rem !important;
  }

  .pl-md-9,
.px-md-9 {
    padding-left: 14rem !important;
  }

  .p-md-10 {
    padding: 16rem !important;
  }

  .pt-md-10,
.py-md-10 {
    padding-top: 16rem !important;
  }

  .pr-md-10,
.px-md-10 {
    padding-right: 16rem !important;
  }

  .pb-md-10,
.py-md-10 {
    padding-bottom: 16rem !important;
  }

  .pl-md-10,
.px-md-10 {
    padding-left: 16rem !important;
  }

  .m-md-n1 {
    margin: -0.5rem !important;
  }

  .mt-md-n1,
.my-md-n1 {
    margin-top: -0.5rem !important;
  }

  .mr-md-n1,
.mx-md-n1 {
    margin-right: -0.5rem !important;
  }

  .mb-md-n1,
.my-md-n1 {
    margin-bottom: -0.5rem !important;
  }

  .ml-md-n1,
.mx-md-n1 {
    margin-left: -0.5rem !important;
  }

  .m-md-n2 {
    margin: -1rem !important;
  }

  .mt-md-n2,
.my-md-n2 {
    margin-top: -1rem !important;
  }

  .mr-md-n2,
.mx-md-n2 {
    margin-right: -1rem !important;
  }

  .mb-md-n2,
.my-md-n2 {
    margin-bottom: -1rem !important;
  }

  .ml-md-n2,
.mx-md-n2 {
    margin-left: -1rem !important;
  }

  .m-md-n3 {
    margin: -2rem !important;
  }

  .mt-md-n3,
.my-md-n3 {
    margin-top: -2rem !important;
  }

  .mr-md-n3,
.mx-md-n3 {
    margin-right: -2rem !important;
  }

  .mb-md-n3,
.my-md-n3 {
    margin-bottom: -2rem !important;
  }

  .ml-md-n3,
.mx-md-n3 {
    margin-left: -2rem !important;
  }

  .m-md-n4 {
    margin: -3rem !important;
  }

  .mt-md-n4,
.my-md-n4 {
    margin-top: -3rem !important;
  }

  .mr-md-n4,
.mx-md-n4 {
    margin-right: -3rem !important;
  }

  .mb-md-n4,
.my-md-n4 {
    margin-bottom: -3rem !important;
  }

  .ml-md-n4,
.mx-md-n4 {
    margin-left: -3rem !important;
  }

  .m-md-n5 {
    margin: -6rem !important;
  }

  .mt-md-n5,
.my-md-n5 {
    margin-top: -6rem !important;
  }

  .mr-md-n5,
.mx-md-n5 {
    margin-right: -6rem !important;
  }

  .mb-md-n5,
.my-md-n5 {
    margin-bottom: -6rem !important;
  }

  .ml-md-n5,
.mx-md-n5 {
    margin-left: -6rem !important;
  }

  .m-md-n6 {
    margin: -8rem !important;
  }

  .mt-md-n6,
.my-md-n6 {
    margin-top: -8rem !important;
  }

  .mr-md-n6,
.mx-md-n6 {
    margin-right: -8rem !important;
  }

  .mb-md-n6,
.my-md-n6 {
    margin-bottom: -8rem !important;
  }

  .ml-md-n6,
.mx-md-n6 {
    margin-left: -8rem !important;
  }

  .m-md-n7 {
    margin: -10rem !important;
  }

  .mt-md-n7,
.my-md-n7 {
    margin-top: -10rem !important;
  }

  .mr-md-n7,
.mx-md-n7 {
    margin-right: -10rem !important;
  }

  .mb-md-n7,
.my-md-n7 {
    margin-bottom: -10rem !important;
  }

  .ml-md-n7,
.mx-md-n7 {
    margin-left: -10rem !important;
  }

  .m-md-n8 {
    margin: -12rem !important;
  }

  .mt-md-n8,
.my-md-n8 {
    margin-top: -12rem !important;
  }

  .mr-md-n8,
.mx-md-n8 {
    margin-right: -12rem !important;
  }

  .mb-md-n8,
.my-md-n8 {
    margin-bottom: -12rem !important;
  }

  .ml-md-n8,
.mx-md-n8 {
    margin-left: -12rem !important;
  }

  .m-md-n9 {
    margin: -14rem !important;
  }

  .mt-md-n9,
.my-md-n9 {
    margin-top: -14rem !important;
  }

  .mr-md-n9,
.mx-md-n9 {
    margin-right: -14rem !important;
  }

  .mb-md-n9,
.my-md-n9 {
    margin-bottom: -14rem !important;
  }

  .ml-md-n9,
.mx-md-n9 {
    margin-left: -14rem !important;
  }

  .m-md-n10 {
    margin: -16rem !important;
  }

  .mt-md-n10,
.my-md-n10 {
    margin-top: -16rem !important;
  }

  .mr-md-n10,
.mx-md-n10 {
    margin-right: -16rem !important;
  }

  .mb-md-n10,
.my-md-n10 {
    margin-bottom: -16rem !important;
  }

  .ml-md-n10,
.mx-md-n10 {
    margin-left: -16rem !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .mt-md-auto,
.my-md-auto {
    margin-top: auto !important;
  }

  .mr-md-auto,
.mx-md-auto {
    margin-right: auto !important;
  }

  .mb-md-auto,
.my-md-auto {
    margin-bottom: auto !important;
  }

  .ml-md-auto,
.mx-md-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }

  .mt-lg-0,
.my-lg-0 {
    margin-top: 0 !important;
  }

  .mr-lg-0,
.mx-lg-0 {
    margin-right: 0 !important;
  }

  .mb-lg-0,
.my-lg-0 {
    margin-bottom: 0 !important;
  }

  .ml-lg-0,
.mx-lg-0 {
    margin-left: 0 !important;
  }

  .m-lg-1 {
    margin: 0.5rem !important;
  }

  .mt-lg-1,
.my-lg-1 {
    margin-top: 0.5rem !important;
  }

  .mr-lg-1,
.mx-lg-1 {
    margin-right: 0.5rem !important;
  }

  .mb-lg-1,
.my-lg-1 {
    margin-bottom: 0.5rem !important;
  }

  .ml-lg-1,
.mx-lg-1 {
    margin-left: 0.5rem !important;
  }

  .m-lg-2 {
    margin: 1rem !important;
  }

  .mt-lg-2,
.my-lg-2 {
    margin-top: 1rem !important;
  }

  .mr-lg-2,
.mx-lg-2 {
    margin-right: 1rem !important;
  }

  .mb-lg-2,
.my-lg-2 {
    margin-bottom: 1rem !important;
  }

  .ml-lg-2,
.mx-lg-2 {
    margin-left: 1rem !important;
  }

  .m-lg-3 {
    margin: 2rem !important;
  }

  .mt-lg-3,
.my-lg-3 {
    margin-top: 2rem !important;
  }

  .mr-lg-3,
.mx-lg-3 {
    margin-right: 2rem !important;
  }

  .mb-lg-3,
.my-lg-3 {
    margin-bottom: 2rem !important;
  }

  .ml-lg-3,
.mx-lg-3 {
    margin-left: 2rem !important;
  }

  .m-lg-4 {
    margin: 3rem !important;
  }

  .mt-lg-4,
.my-lg-4 {
    margin-top: 3rem !important;
  }

  .mr-lg-4,
.mx-lg-4 {
    margin-right: 3rem !important;
  }

  .mb-lg-4,
.my-lg-4 {
    margin-bottom: 3rem !important;
  }

  .ml-lg-4,
.mx-lg-4 {
    margin-left: 3rem !important;
  }

  .m-lg-5 {
    margin: 6rem !important;
  }

  .mt-lg-5,
.my-lg-5 {
    margin-top: 6rem !important;
  }

  .mr-lg-5,
.mx-lg-5 {
    margin-right: 6rem !important;
  }

  .mb-lg-5,
.my-lg-5 {
    margin-bottom: 6rem !important;
  }

  .ml-lg-5,
.mx-lg-5 {
    margin-left: 6rem !important;
  }

  .m-lg-6 {
    margin: 8rem !important;
  }

  .mt-lg-6,
.my-lg-6 {
    margin-top: 8rem !important;
  }

  .mr-lg-6,
.mx-lg-6 {
    margin-right: 8rem !important;
  }

  .mb-lg-6,
.my-lg-6 {
    margin-bottom: 8rem !important;
  }

  .ml-lg-6,
.mx-lg-6 {
    margin-left: 8rem !important;
  }

  .m-lg-7 {
    margin: 10rem !important;
  }

  .mt-lg-7,
.my-lg-7 {
    margin-top: 10rem !important;
  }

  .mr-lg-7,
.mx-lg-7 {
    margin-right: 10rem !important;
  }

  .mb-lg-7,
.my-lg-7 {
    margin-bottom: 10rem !important;
  }

  .ml-lg-7,
.mx-lg-7 {
    margin-left: 10rem !important;
  }

  .m-lg-8 {
    margin: 12rem !important;
  }

  .mt-lg-8,
.my-lg-8 {
    margin-top: 12rem !important;
  }

  .mr-lg-8,
.mx-lg-8 {
    margin-right: 12rem !important;
  }

  .mb-lg-8,
.my-lg-8 {
    margin-bottom: 12rem !important;
  }

  .ml-lg-8,
.mx-lg-8 {
    margin-left: 12rem !important;
  }

  .m-lg-9 {
    margin: 14rem !important;
  }

  .mt-lg-9,
.my-lg-9 {
    margin-top: 14rem !important;
  }

  .mr-lg-9,
.mx-lg-9 {
    margin-right: 14rem !important;
  }

  .mb-lg-9,
.my-lg-9 {
    margin-bottom: 14rem !important;
  }

  .ml-lg-9,
.mx-lg-9 {
    margin-left: 14rem !important;
  }

  .m-lg-10 {
    margin: 16rem !important;
  }

  .mt-lg-10,
.my-lg-10 {
    margin-top: 16rem !important;
  }

  .mr-lg-10,
.mx-lg-10 {
    margin-right: 16rem !important;
  }

  .mb-lg-10,
.my-lg-10 {
    margin-bottom: 16rem !important;
  }

  .ml-lg-10,
.mx-lg-10 {
    margin-left: 16rem !important;
  }

  .p-lg-0 {
    padding: 0 !important;
  }

  .pt-lg-0,
.py-lg-0 {
    padding-top: 0 !important;
  }

  .pr-lg-0,
.px-lg-0 {
    padding-right: 0 !important;
  }

  .pb-lg-0,
.py-lg-0 {
    padding-bottom: 0 !important;
  }

  .pl-lg-0,
.px-lg-0 {
    padding-left: 0 !important;
  }

  .p-lg-1 {
    padding: 0.5rem !important;
  }

  .pt-lg-1,
.py-lg-1 {
    padding-top: 0.5rem !important;
  }

  .pr-lg-1,
.px-lg-1 {
    padding-right: 0.5rem !important;
  }

  .pb-lg-1,
.py-lg-1 {
    padding-bottom: 0.5rem !important;
  }

  .pl-lg-1,
.px-lg-1 {
    padding-left: 0.5rem !important;
  }

  .p-lg-2 {
    padding: 1rem !important;
  }

  .pt-lg-2,
.py-lg-2 {
    padding-top: 1rem !important;
  }

  .pr-lg-2,
.px-lg-2 {
    padding-right: 1rem !important;
  }

  .pb-lg-2,
.py-lg-2 {
    padding-bottom: 1rem !important;
  }

  .pl-lg-2,
.px-lg-2 {
    padding-left: 1rem !important;
  }

  .p-lg-3 {
    padding: 2rem !important;
  }

  .pt-lg-3,
.py-lg-3 {
    padding-top: 2rem !important;
  }

  .pr-lg-3,
.px-lg-3 {
    padding-right: 2rem !important;
  }

  .pb-lg-3,
.py-lg-3 {
    padding-bottom: 2rem !important;
  }

  .pl-lg-3,
.px-lg-3 {
    padding-left: 2rem !important;
  }

  .p-lg-4 {
    padding: 3rem !important;
  }

  .pt-lg-4,
.py-lg-4 {
    padding-top: 3rem !important;
  }

  .pr-lg-4,
.px-lg-4 {
    padding-right: 3rem !important;
  }

  .pb-lg-4,
.py-lg-4 {
    padding-bottom: 3rem !important;
  }

  .pl-lg-4,
.px-lg-4 {
    padding-left: 3rem !important;
  }

  .p-lg-5 {
    padding: 6rem !important;
  }

  .pt-lg-5,
.py-lg-5 {
    padding-top: 6rem !important;
  }

  .pr-lg-5,
.px-lg-5 {
    padding-right: 6rem !important;
  }

  .pb-lg-5,
.py-lg-5 {
    padding-bottom: 6rem !important;
  }

  .pl-lg-5,
.px-lg-5 {
    padding-left: 6rem !important;
  }

  .p-lg-6 {
    padding: 8rem !important;
  }

  .pt-lg-6,
.py-lg-6 {
    padding-top: 8rem !important;
  }

  .pr-lg-6,
.px-lg-6 {
    padding-right: 8rem !important;
  }

  .pb-lg-6,
.py-lg-6 {
    padding-bottom: 8rem !important;
  }

  .pl-lg-6,
.px-lg-6 {
    padding-left: 8rem !important;
  }

  .p-lg-7 {
    padding: 10rem !important;
  }

  .pt-lg-7,
.py-lg-7 {
    padding-top: 10rem !important;
  }

  .pr-lg-7,
.px-lg-7 {
    padding-right: 10rem !important;
  }

  .pb-lg-7,
.py-lg-7 {
    padding-bottom: 10rem !important;
  }

  .pl-lg-7,
.px-lg-7 {
    padding-left: 10rem !important;
  }

  .p-lg-8 {
    padding: 12rem !important;
  }

  .pt-lg-8,
.py-lg-8 {
    padding-top: 12rem !important;
  }

  .pr-lg-8,
.px-lg-8 {
    padding-right: 12rem !important;
  }

  .pb-lg-8,
.py-lg-8 {
    padding-bottom: 12rem !important;
  }

  .pl-lg-8,
.px-lg-8 {
    padding-left: 12rem !important;
  }

  .p-lg-9 {
    padding: 14rem !important;
  }

  .pt-lg-9,
.py-lg-9 {
    padding-top: 14rem !important;
  }

  .pr-lg-9,
.px-lg-9 {
    padding-right: 14rem !important;
  }

  .pb-lg-9,
.py-lg-9 {
    padding-bottom: 14rem !important;
  }

  .pl-lg-9,
.px-lg-9 {
    padding-left: 14rem !important;
  }

  .p-lg-10 {
    padding: 16rem !important;
  }

  .pt-lg-10,
.py-lg-10 {
    padding-top: 16rem !important;
  }

  .pr-lg-10,
.px-lg-10 {
    padding-right: 16rem !important;
  }

  .pb-lg-10,
.py-lg-10 {
    padding-bottom: 16rem !important;
  }

  .pl-lg-10,
.px-lg-10 {
    padding-left: 16rem !important;
  }

  .m-lg-n1 {
    margin: -0.5rem !important;
  }

  .mt-lg-n1,
.my-lg-n1 {
    margin-top: -0.5rem !important;
  }

  .mr-lg-n1,
.mx-lg-n1 {
    margin-right: -0.5rem !important;
  }

  .mb-lg-n1,
.my-lg-n1 {
    margin-bottom: -0.5rem !important;
  }

  .ml-lg-n1,
.mx-lg-n1 {
    margin-left: -0.5rem !important;
  }

  .m-lg-n2 {
    margin: -1rem !important;
  }

  .mt-lg-n2,
.my-lg-n2 {
    margin-top: -1rem !important;
  }

  .mr-lg-n2,
.mx-lg-n2 {
    margin-right: -1rem !important;
  }

  .mb-lg-n2,
.my-lg-n2 {
    margin-bottom: -1rem !important;
  }

  .ml-lg-n2,
.mx-lg-n2 {
    margin-left: -1rem !important;
  }

  .m-lg-n3 {
    margin: -2rem !important;
  }

  .mt-lg-n3,
.my-lg-n3 {
    margin-top: -2rem !important;
  }

  .mr-lg-n3,
.mx-lg-n3 {
    margin-right: -2rem !important;
  }

  .mb-lg-n3,
.my-lg-n3 {
    margin-bottom: -2rem !important;
  }

  .ml-lg-n3,
.mx-lg-n3 {
    margin-left: -2rem !important;
  }

  .m-lg-n4 {
    margin: -3rem !important;
  }

  .mt-lg-n4,
.my-lg-n4 {
    margin-top: -3rem !important;
  }

  .mr-lg-n4,
.mx-lg-n4 {
    margin-right: -3rem !important;
  }

  .mb-lg-n4,
.my-lg-n4 {
    margin-bottom: -3rem !important;
  }

  .ml-lg-n4,
.mx-lg-n4 {
    margin-left: -3rem !important;
  }

  .m-lg-n5 {
    margin: -6rem !important;
  }

  .mt-lg-n5,
.my-lg-n5 {
    margin-top: -6rem !important;
  }

  .mr-lg-n5,
.mx-lg-n5 {
    margin-right: -6rem !important;
  }

  .mb-lg-n5,
.my-lg-n5 {
    margin-bottom: -6rem !important;
  }

  .ml-lg-n5,
.mx-lg-n5 {
    margin-left: -6rem !important;
  }

  .m-lg-n6 {
    margin: -8rem !important;
  }

  .mt-lg-n6,
.my-lg-n6 {
    margin-top: -8rem !important;
  }

  .mr-lg-n6,
.mx-lg-n6 {
    margin-right: -8rem !important;
  }

  .mb-lg-n6,
.my-lg-n6 {
    margin-bottom: -8rem !important;
  }

  .ml-lg-n6,
.mx-lg-n6 {
    margin-left: -8rem !important;
  }

  .m-lg-n7 {
    margin: -10rem !important;
  }

  .mt-lg-n7,
.my-lg-n7 {
    margin-top: -10rem !important;
  }

  .mr-lg-n7,
.mx-lg-n7 {
    margin-right: -10rem !important;
  }

  .mb-lg-n7,
.my-lg-n7 {
    margin-bottom: -10rem !important;
  }

  .ml-lg-n7,
.mx-lg-n7 {
    margin-left: -10rem !important;
  }

  .m-lg-n8 {
    margin: -12rem !important;
  }

  .mt-lg-n8,
.my-lg-n8 {
    margin-top: -12rem !important;
  }

  .mr-lg-n8,
.mx-lg-n8 {
    margin-right: -12rem !important;
  }

  .mb-lg-n8,
.my-lg-n8 {
    margin-bottom: -12rem !important;
  }

  .ml-lg-n8,
.mx-lg-n8 {
    margin-left: -12rem !important;
  }

  .m-lg-n9 {
    margin: -14rem !important;
  }

  .mt-lg-n9,
.my-lg-n9 {
    margin-top: -14rem !important;
  }

  .mr-lg-n9,
.mx-lg-n9 {
    margin-right: -14rem !important;
  }

  .mb-lg-n9,
.my-lg-n9 {
    margin-bottom: -14rem !important;
  }

  .ml-lg-n9,
.mx-lg-n9 {
    margin-left: -14rem !important;
  }

  .m-lg-n10 {
    margin: -16rem !important;
  }

  .mt-lg-n10,
.my-lg-n10 {
    margin-top: -16rem !important;
  }

  .mr-lg-n10,
.mx-lg-n10 {
    margin-right: -16rem !important;
  }

  .mb-lg-n10,
.my-lg-n10 {
    margin-bottom: -16rem !important;
  }

  .ml-lg-n10,
.mx-lg-n10 {
    margin-left: -16rem !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .mt-lg-auto,
.my-lg-auto {
    margin-top: auto !important;
  }

  .mr-lg-auto,
.mx-lg-auto {
    margin-right: auto !important;
  }

  .mb-lg-auto,
.my-lg-auto {
    margin-bottom: auto !important;
  }

  .ml-lg-auto,
.mx-lg-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }

  .mt-xl-0,
.my-xl-0 {
    margin-top: 0 !important;
  }

  .mr-xl-0,
.mx-xl-0 {
    margin-right: 0 !important;
  }

  .mb-xl-0,
.my-xl-0 {
    margin-bottom: 0 !important;
  }

  .ml-xl-0,
.mx-xl-0 {
    margin-left: 0 !important;
  }

  .m-xl-1 {
    margin: 0.5rem !important;
  }

  .mt-xl-1,
.my-xl-1 {
    margin-top: 0.5rem !important;
  }

  .mr-xl-1,
.mx-xl-1 {
    margin-right: 0.5rem !important;
  }

  .mb-xl-1,
.my-xl-1 {
    margin-bottom: 0.5rem !important;
  }

  .ml-xl-1,
.mx-xl-1 {
    margin-left: 0.5rem !important;
  }

  .m-xl-2 {
    margin: 1rem !important;
  }

  .mt-xl-2,
.my-xl-2 {
    margin-top: 1rem !important;
  }

  .mr-xl-2,
.mx-xl-2 {
    margin-right: 1rem !important;
  }

  .mb-xl-2,
.my-xl-2 {
    margin-bottom: 1rem !important;
  }

  .ml-xl-2,
.mx-xl-2 {
    margin-left: 1rem !important;
  }

  .m-xl-3 {
    margin: 2rem !important;
  }

  .mt-xl-3,
.my-xl-3 {
    margin-top: 2rem !important;
  }

  .mr-xl-3,
.mx-xl-3 {
    margin-right: 2rem !important;
  }

  .mb-xl-3,
.my-xl-3 {
    margin-bottom: 2rem !important;
  }

  .ml-xl-3,
.mx-xl-3 {
    margin-left: 2rem !important;
  }

  .m-xl-4 {
    margin: 3rem !important;
  }

  .mt-xl-4,
.my-xl-4 {
    margin-top: 3rem !important;
  }

  .mr-xl-4,
.mx-xl-4 {
    margin-right: 3rem !important;
  }

  .mb-xl-4,
.my-xl-4 {
    margin-bottom: 3rem !important;
  }

  .ml-xl-4,
.mx-xl-4 {
    margin-left: 3rem !important;
  }

  .m-xl-5 {
    margin: 6rem !important;
  }

  .mt-xl-5,
.my-xl-5 {
    margin-top: 6rem !important;
  }

  .mr-xl-5,
.mx-xl-5 {
    margin-right: 6rem !important;
  }

  .mb-xl-5,
.my-xl-5 {
    margin-bottom: 6rem !important;
  }

  .ml-xl-5,
.mx-xl-5 {
    margin-left: 6rem !important;
  }

  .m-xl-6 {
    margin: 8rem !important;
  }

  .mt-xl-6,
.my-xl-6 {
    margin-top: 8rem !important;
  }

  .mr-xl-6,
.mx-xl-6 {
    margin-right: 8rem !important;
  }

  .mb-xl-6,
.my-xl-6 {
    margin-bottom: 8rem !important;
  }

  .ml-xl-6,
.mx-xl-6 {
    margin-left: 8rem !important;
  }

  .m-xl-7 {
    margin: 10rem !important;
  }

  .mt-xl-7,
.my-xl-7 {
    margin-top: 10rem !important;
  }

  .mr-xl-7,
.mx-xl-7 {
    margin-right: 10rem !important;
  }

  .mb-xl-7,
.my-xl-7 {
    margin-bottom: 10rem !important;
  }

  .ml-xl-7,
.mx-xl-7 {
    margin-left: 10rem !important;
  }

  .m-xl-8 {
    margin: 12rem !important;
  }

  .mt-xl-8,
.my-xl-8 {
    margin-top: 12rem !important;
  }

  .mr-xl-8,
.mx-xl-8 {
    margin-right: 12rem !important;
  }

  .mb-xl-8,
.my-xl-8 {
    margin-bottom: 12rem !important;
  }

  .ml-xl-8,
.mx-xl-8 {
    margin-left: 12rem !important;
  }

  .m-xl-9 {
    margin: 14rem !important;
  }

  .mt-xl-9,
.my-xl-9 {
    margin-top: 14rem !important;
  }

  .mr-xl-9,
.mx-xl-9 {
    margin-right: 14rem !important;
  }

  .mb-xl-9,
.my-xl-9 {
    margin-bottom: 14rem !important;
  }

  .ml-xl-9,
.mx-xl-9 {
    margin-left: 14rem !important;
  }

  .m-xl-10 {
    margin: 16rem !important;
  }

  .mt-xl-10,
.my-xl-10 {
    margin-top: 16rem !important;
  }

  .mr-xl-10,
.mx-xl-10 {
    margin-right: 16rem !important;
  }

  .mb-xl-10,
.my-xl-10 {
    margin-bottom: 16rem !important;
  }

  .ml-xl-10,
.mx-xl-10 {
    margin-left: 16rem !important;
  }

  .p-xl-0 {
    padding: 0 !important;
  }

  .pt-xl-0,
.py-xl-0 {
    padding-top: 0 !important;
  }

  .pr-xl-0,
.px-xl-0 {
    padding-right: 0 !important;
  }

  .pb-xl-0,
.py-xl-0 {
    padding-bottom: 0 !important;
  }

  .pl-xl-0,
.px-xl-0 {
    padding-left: 0 !important;
  }

  .p-xl-1 {
    padding: 0.5rem !important;
  }

  .pt-xl-1,
.py-xl-1 {
    padding-top: 0.5rem !important;
  }

  .pr-xl-1,
.px-xl-1 {
    padding-right: 0.5rem !important;
  }

  .pb-xl-1,
.py-xl-1 {
    padding-bottom: 0.5rem !important;
  }

  .pl-xl-1,
.px-xl-1 {
    padding-left: 0.5rem !important;
  }

  .p-xl-2 {
    padding: 1rem !important;
  }

  .pt-xl-2,
.py-xl-2 {
    padding-top: 1rem !important;
  }

  .pr-xl-2,
.px-xl-2 {
    padding-right: 1rem !important;
  }

  .pb-xl-2,
.py-xl-2 {
    padding-bottom: 1rem !important;
  }

  .pl-xl-2,
.px-xl-2 {
    padding-left: 1rem !important;
  }

  .p-xl-3 {
    padding: 2rem !important;
  }

  .pt-xl-3,
.py-xl-3 {
    padding-top: 2rem !important;
  }

  .pr-xl-3,
.px-xl-3 {
    padding-right: 2rem !important;
  }

  .pb-xl-3,
.py-xl-3 {
    padding-bottom: 2rem !important;
  }

  .pl-xl-3,
.px-xl-3 {
    padding-left: 2rem !important;
  }

  .p-xl-4 {
    padding: 3rem !important;
  }

  .pt-xl-4,
.py-xl-4 {
    padding-top: 3rem !important;
  }

  .pr-xl-4,
.px-xl-4 {
    padding-right: 3rem !important;
  }

  .pb-xl-4,
.py-xl-4 {
    padding-bottom: 3rem !important;
  }

  .pl-xl-4,
.px-xl-4 {
    padding-left: 3rem !important;
  }

  .p-xl-5 {
    padding: 6rem !important;
  }

  .pt-xl-5,
.py-xl-5 {
    padding-top: 6rem !important;
  }

  .pr-xl-5,
.px-xl-5 {
    padding-right: 6rem !important;
  }

  .pb-xl-5,
.py-xl-5 {
    padding-bottom: 6rem !important;
  }

  .pl-xl-5,
.px-xl-5 {
    padding-left: 6rem !important;
  }

  .p-xl-6 {
    padding: 8rem !important;
  }

  .pt-xl-6,
.py-xl-6 {
    padding-top: 8rem !important;
  }

  .pr-xl-6,
.px-xl-6 {
    padding-right: 8rem !important;
  }

  .pb-xl-6,
.py-xl-6 {
    padding-bottom: 8rem !important;
  }

  .pl-xl-6,
.px-xl-6 {
    padding-left: 8rem !important;
  }

  .p-xl-7 {
    padding: 10rem !important;
  }

  .pt-xl-7,
.py-xl-7 {
    padding-top: 10rem !important;
  }

  .pr-xl-7,
.px-xl-7 {
    padding-right: 10rem !important;
  }

  .pb-xl-7,
.py-xl-7 {
    padding-bottom: 10rem !important;
  }

  .pl-xl-7,
.px-xl-7 {
    padding-left: 10rem !important;
  }

  .p-xl-8 {
    padding: 12rem !important;
  }

  .pt-xl-8,
.py-xl-8 {
    padding-top: 12rem !important;
  }

  .pr-xl-8,
.px-xl-8 {
    padding-right: 12rem !important;
  }

  .pb-xl-8,
.py-xl-8 {
    padding-bottom: 12rem !important;
  }

  .pl-xl-8,
.px-xl-8 {
    padding-left: 12rem !important;
  }

  .p-xl-9 {
    padding: 14rem !important;
  }

  .pt-xl-9,
.py-xl-9 {
    padding-top: 14rem !important;
  }

  .pr-xl-9,
.px-xl-9 {
    padding-right: 14rem !important;
  }

  .pb-xl-9,
.py-xl-9 {
    padding-bottom: 14rem !important;
  }

  .pl-xl-9,
.px-xl-9 {
    padding-left: 14rem !important;
  }

  .p-xl-10 {
    padding: 16rem !important;
  }

  .pt-xl-10,
.py-xl-10 {
    padding-top: 16rem !important;
  }

  .pr-xl-10,
.px-xl-10 {
    padding-right: 16rem !important;
  }

  .pb-xl-10,
.py-xl-10 {
    padding-bottom: 16rem !important;
  }

  .pl-xl-10,
.px-xl-10 {
    padding-left: 16rem !important;
  }

  .m-xl-n1 {
    margin: -0.5rem !important;
  }

  .mt-xl-n1,
.my-xl-n1 {
    margin-top: -0.5rem !important;
  }

  .mr-xl-n1,
.mx-xl-n1 {
    margin-right: -0.5rem !important;
  }

  .mb-xl-n1,
.my-xl-n1 {
    margin-bottom: -0.5rem !important;
  }

  .ml-xl-n1,
.mx-xl-n1 {
    margin-left: -0.5rem !important;
  }

  .m-xl-n2 {
    margin: -1rem !important;
  }

  .mt-xl-n2,
.my-xl-n2 {
    margin-top: -1rem !important;
  }

  .mr-xl-n2,
.mx-xl-n2 {
    margin-right: -1rem !important;
  }

  .mb-xl-n2,
.my-xl-n2 {
    margin-bottom: -1rem !important;
  }

  .ml-xl-n2,
.mx-xl-n2 {
    margin-left: -1rem !important;
  }

  .m-xl-n3 {
    margin: -2rem !important;
  }

  .mt-xl-n3,
.my-xl-n3 {
    margin-top: -2rem !important;
  }

  .mr-xl-n3,
.mx-xl-n3 {
    margin-right: -2rem !important;
  }

  .mb-xl-n3,
.my-xl-n3 {
    margin-bottom: -2rem !important;
  }

  .ml-xl-n3,
.mx-xl-n3 {
    margin-left: -2rem !important;
  }

  .m-xl-n4 {
    margin: -3rem !important;
  }

  .mt-xl-n4,
.my-xl-n4 {
    margin-top: -3rem !important;
  }

  .mr-xl-n4,
.mx-xl-n4 {
    margin-right: -3rem !important;
  }

  .mb-xl-n4,
.my-xl-n4 {
    margin-bottom: -3rem !important;
  }

  .ml-xl-n4,
.mx-xl-n4 {
    margin-left: -3rem !important;
  }

  .m-xl-n5 {
    margin: -6rem !important;
  }

  .mt-xl-n5,
.my-xl-n5 {
    margin-top: -6rem !important;
  }

  .mr-xl-n5,
.mx-xl-n5 {
    margin-right: -6rem !important;
  }

  .mb-xl-n5,
.my-xl-n5 {
    margin-bottom: -6rem !important;
  }

  .ml-xl-n5,
.mx-xl-n5 {
    margin-left: -6rem !important;
  }

  .m-xl-n6 {
    margin: -8rem !important;
  }

  .mt-xl-n6,
.my-xl-n6 {
    margin-top: -8rem !important;
  }

  .mr-xl-n6,
.mx-xl-n6 {
    margin-right: -8rem !important;
  }

  .mb-xl-n6,
.my-xl-n6 {
    margin-bottom: -8rem !important;
  }

  .ml-xl-n6,
.mx-xl-n6 {
    margin-left: -8rem !important;
  }

  .m-xl-n7 {
    margin: -10rem !important;
  }

  .mt-xl-n7,
.my-xl-n7 {
    margin-top: -10rem !important;
  }

  .mr-xl-n7,
.mx-xl-n7 {
    margin-right: -10rem !important;
  }

  .mb-xl-n7,
.my-xl-n7 {
    margin-bottom: -10rem !important;
  }

  .ml-xl-n7,
.mx-xl-n7 {
    margin-left: -10rem !important;
  }

  .m-xl-n8 {
    margin: -12rem !important;
  }

  .mt-xl-n8,
.my-xl-n8 {
    margin-top: -12rem !important;
  }

  .mr-xl-n8,
.mx-xl-n8 {
    margin-right: -12rem !important;
  }

  .mb-xl-n8,
.my-xl-n8 {
    margin-bottom: -12rem !important;
  }

  .ml-xl-n8,
.mx-xl-n8 {
    margin-left: -12rem !important;
  }

  .m-xl-n9 {
    margin: -14rem !important;
  }

  .mt-xl-n9,
.my-xl-n9 {
    margin-top: -14rem !important;
  }

  .mr-xl-n9,
.mx-xl-n9 {
    margin-right: -14rem !important;
  }

  .mb-xl-n9,
.my-xl-n9 {
    margin-bottom: -14rem !important;
  }

  .ml-xl-n9,
.mx-xl-n9 {
    margin-left: -14rem !important;
  }

  .m-xl-n10 {
    margin: -16rem !important;
  }

  .mt-xl-n10,
.my-xl-n10 {
    margin-top: -16rem !important;
  }

  .mr-xl-n10,
.mx-xl-n10 {
    margin-right: -16rem !important;
  }

  .mb-xl-n10,
.my-xl-n10 {
    margin-bottom: -16rem !important;
  }

  .ml-xl-n10,
.mx-xl-n10 {
    margin-left: -16rem !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }

  .mt-xl-auto,
.my-xl-auto {
    margin-top: auto !important;
  }

  .mr-xl-auto,
.mx-xl-auto {
    margin-right: auto !important;
  }

  .mb-xl-auto,
.my-xl-auto {
    margin-bottom: auto !important;
  }

  .ml-xl-auto,
.mx-xl-auto {
    margin-left: auto !important;
  }
}
.mt-grid-gutter {
  margin-top: 24px !important;
}

.mb-grid-gutter {
  margin-bottom: 24px !important;
}

.ml-grid-gutter {
  margin-left: 24px !important;
}

.mr-grid-gutter {
  margin-right: 24px !important;
}

.mx-grid-gutter {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.my-grid-gutter {
  margin-top: 24px !important;
  margin-left: 24px !important;
}

.vf-m-0 {
  margin: 0 !important;
}

.vf-mt-0,
.vf-my-0 {
  margin-top: 0 !important;
}

.vf-mr-0,
.vf-mx-0 {
  margin-right: 0 !important;
}

.vf-mb-0,
.vf-my-0 {
  margin-bottom: 0 !important;
}

.vf-ml-0,
.vf-mx-0 {
  margin-left: 0 !important;
}

.vf-m-sm {
  margin: 28px !important;
}

.vf-mt-sm,
.vf-my-sm {
  margin-top: 28px !important;
}

.vf-mr-sm,
.vf-mx-sm {
  margin-right: 28px !important;
}

.vf-mb-sm,
.vf-my-sm {
  margin-bottom: 28px !important;
}

.vf-ml-sm,
.vf-mx-sm {
  margin-left: 28px !important;
}

.vf-m-md {
  margin: 44px !important;
}

.vf-mt-md,
.vf-my-md {
  margin-top: 44px !important;
}

.vf-mr-md,
.vf-mx-md {
  margin-right: 44px !important;
}

.vf-mb-md,
.vf-my-md {
  margin-bottom: 44px !important;
}

.vf-ml-md,
.vf-mx-md {
  margin-left: 44px !important;
}

.vf-m-lg {
  margin: 56px !important;
}

.vf-mt-lg,
.vf-my-lg {
  margin-top: 56px !important;
}

.vf-mr-lg,
.vf-mx-lg {
  margin-right: 56px !important;
}

.vf-mb-lg,
.vf-my-lg {
  margin-bottom: 56px !important;
}

.vf-ml-lg,
.vf-mx-lg {
  margin-left: 56px !important;
}

.vf-m-xl {
  margin: 88px !important;
}

.vf-mt-xl,
.vf-my-xl {
  margin-top: 88px !important;
}

.vf-mr-xl,
.vf-mx-xl {
  margin-right: 88px !important;
}

.vf-mb-xl,
.vf-my-xl {
  margin-bottom: 88px !important;
}

.vf-ml-xl,
.vf-mx-xl {
  margin-left: 88px !important;
}

.vf-p-0 {
  padding: 0 !important;
}

.vf-pt-0,
.vf-py-0 {
  padding-top: 0 !important;
}

.vf-pr-0,
.vf-px-0 {
  padding-right: 0 !important;
}

.vf-pb-0,
.vf-py-0 {
  padding-bottom: 0 !important;
}

.vf-pl-0,
.vf-px-0 {
  padding-left: 0 !important;
}

.vf-p-sm {
  padding: 28px !important;
}

.vf-pt-sm,
.vf-py-sm {
  padding-top: 28px !important;
}

.vf-pr-sm,
.vf-px-sm {
  padding-right: 28px !important;
}

.vf-pb-sm,
.vf-py-sm {
  padding-bottom: 28px !important;
}

.vf-pl-sm,
.vf-px-sm {
  padding-left: 28px !important;
}

.vf-p-md {
  padding: 44px !important;
}

.vf-pt-md,
.vf-py-md {
  padding-top: 44px !important;
}

.vf-pr-md,
.vf-px-md {
  padding-right: 44px !important;
}

.vf-pb-md,
.vf-py-md {
  padding-bottom: 44px !important;
}

.vf-pl-md,
.vf-px-md {
  padding-left: 44px !important;
}

.vf-p-lg {
  padding: 56px !important;
}

.vf-pt-lg,
.vf-py-lg {
  padding-top: 56px !important;
}

.vf-pr-lg,
.vf-px-lg {
  padding-right: 56px !important;
}

.vf-pb-lg,
.vf-py-lg {
  padding-bottom: 56px !important;
}

.vf-pl-lg,
.vf-px-lg {
  padding-left: 56px !important;
}

.vf-p-xl {
  padding: 88px !important;
}

.vf-pt-xl,
.vf-py-xl {
  padding-top: 88px !important;
}

.vf-pr-xl,
.vf-px-xl {
  padding-right: 88px !important;
}

.vf-pb-xl,
.vf-py-xl {
  padding-bottom: 88px !important;
}

.vf-pl-xl,
.vf-px-xl {
  padding-left: 88px !important;
}

@media screen and (min-width: 576px) {
  .vf-m-sm-0 {
    margin: 0 !important;
  }

  .vf-mt-sm-0,
.vf-my-sm-0 {
    margin-top: 0 !important;
  }

  .vf-mr-sm-0,
.vf-mx-sm-0 {
    margin-right: 0 !important;
  }

  .vf-mb-sm-0,
.vf-my-sm-0 {
    margin-bottom: 0 !important;
  }

  .vf-ml-sm-0,
.vf-mx-sm-0 {
    margin-left: 0 !important;
  }

  .vf-m-sm-sm {
    margin: 28px !important;
  }

  .vf-mt-sm-sm,
.vf-my-sm-sm {
    margin-top: 28px !important;
  }

  .vf-mr-sm-sm,
.vf-mx-sm-sm {
    margin-right: 28px !important;
  }

  .vf-mb-sm-sm,
.vf-my-sm-sm {
    margin-bottom: 28px !important;
  }

  .vf-ml-sm-sm,
.vf-mx-sm-sm {
    margin-left: 28px !important;
  }

  .vf-m-sm-md {
    margin: 44px !important;
  }

  .vf-mt-sm-md,
.vf-my-sm-md {
    margin-top: 44px !important;
  }

  .vf-mr-sm-md,
.vf-mx-sm-md {
    margin-right: 44px !important;
  }

  .vf-mb-sm-md,
.vf-my-sm-md {
    margin-bottom: 44px !important;
  }

  .vf-ml-sm-md,
.vf-mx-sm-md {
    margin-left: 44px !important;
  }

  .vf-m-sm-lg {
    margin: 56px !important;
  }

  .vf-mt-sm-lg,
.vf-my-sm-lg {
    margin-top: 56px !important;
  }

  .vf-mr-sm-lg,
.vf-mx-sm-lg {
    margin-right: 56px !important;
  }

  .vf-mb-sm-lg,
.vf-my-sm-lg {
    margin-bottom: 56px !important;
  }

  .vf-ml-sm-lg,
.vf-mx-sm-lg {
    margin-left: 56px !important;
  }

  .vf-m-sm-xl {
    margin: 88px !important;
  }

  .vf-mt-sm-xl,
.vf-my-sm-xl {
    margin-top: 88px !important;
  }

  .vf-mr-sm-xl,
.vf-mx-sm-xl {
    margin-right: 88px !important;
  }

  .vf-mb-sm-xl,
.vf-my-sm-xl {
    margin-bottom: 88px !important;
  }

  .vf-ml-sm-xl,
.vf-mx-sm-xl {
    margin-left: 88px !important;
  }

  .vf-p-sm-0 {
    padding: 0 !important;
  }

  .vf-pt-sm-0,
.vf-py-sm-0 {
    padding-top: 0 !important;
  }

  .vf-pr-sm-0,
.vf-px-sm-0 {
    padding-right: 0 !important;
  }

  .vf-pb-sm-0,
.vf-py-sm-0 {
    padding-bottom: 0 !important;
  }

  .vf-pl-sm-0,
.vf-px-sm-0 {
    padding-left: 0 !important;
  }

  .vf-p-sm-sm {
    padding: 28px !important;
  }

  .vf-pt-sm-sm,
.vf-py-sm-sm {
    padding-top: 28px !important;
  }

  .vf-pr-sm-sm,
.vf-px-sm-sm {
    padding-right: 28px !important;
  }

  .vf-pb-sm-sm,
.vf-py-sm-sm {
    padding-bottom: 28px !important;
  }

  .vf-pl-sm-sm,
.vf-px-sm-sm {
    padding-left: 28px !important;
  }

  .vf-p-sm-md {
    padding: 44px !important;
  }

  .vf-pt-sm-md,
.vf-py-sm-md {
    padding-top: 44px !important;
  }

  .vf-pr-sm-md,
.vf-px-sm-md {
    padding-right: 44px !important;
  }

  .vf-pb-sm-md,
.vf-py-sm-md {
    padding-bottom: 44px !important;
  }

  .vf-pl-sm-md,
.vf-px-sm-md {
    padding-left: 44px !important;
  }

  .vf-p-sm-lg {
    padding: 56px !important;
  }

  .vf-pt-sm-lg,
.vf-py-sm-lg {
    padding-top: 56px !important;
  }

  .vf-pr-sm-lg,
.vf-px-sm-lg {
    padding-right: 56px !important;
  }

  .vf-pb-sm-lg,
.vf-py-sm-lg {
    padding-bottom: 56px !important;
  }

  .vf-pl-sm-lg,
.vf-px-sm-lg {
    padding-left: 56px !important;
  }

  .vf-p-sm-xl {
    padding: 88px !important;
  }

  .vf-pt-sm-xl,
.vf-py-sm-xl {
    padding-top: 88px !important;
  }

  .vf-pr-sm-xl,
.vf-px-sm-xl {
    padding-right: 88px !important;
  }

  .vf-pb-sm-xl,
.vf-py-sm-xl {
    padding-bottom: 88px !important;
  }

  .vf-pl-sm-xl,
.vf-px-sm-xl {
    padding-left: 88px !important;
  }
}
@media screen and (min-width: 768px) {
  .vf-m-md-0 {
    margin: 0 !important;
  }

  .vf-mt-md-0,
.vf-my-md-0 {
    margin-top: 0 !important;
  }

  .vf-mr-md-0,
.vf-mx-md-0 {
    margin-right: 0 !important;
  }

  .vf-mb-md-0,
.vf-my-md-0 {
    margin-bottom: 0 !important;
  }

  .vf-ml-md-0,
.vf-mx-md-0 {
    margin-left: 0 !important;
  }

  .vf-m-md-sm {
    margin: 28px !important;
  }

  .vf-mt-md-sm,
.vf-my-md-sm {
    margin-top: 28px !important;
  }

  .vf-mr-md-sm,
.vf-mx-md-sm {
    margin-right: 28px !important;
  }

  .vf-mb-md-sm,
.vf-my-md-sm {
    margin-bottom: 28px !important;
  }

  .vf-ml-md-sm,
.vf-mx-md-sm {
    margin-left: 28px !important;
  }

  .vf-m-md-md {
    margin: 44px !important;
  }

  .vf-mt-md-md,
.vf-my-md-md {
    margin-top: 44px !important;
  }

  .vf-mr-md-md,
.vf-mx-md-md {
    margin-right: 44px !important;
  }

  .vf-mb-md-md,
.vf-my-md-md {
    margin-bottom: 44px !important;
  }

  .vf-ml-md-md,
.vf-mx-md-md {
    margin-left: 44px !important;
  }

  .vf-m-md-lg {
    margin: 56px !important;
  }

  .vf-mt-md-lg,
.vf-my-md-lg {
    margin-top: 56px !important;
  }

  .vf-mr-md-lg,
.vf-mx-md-lg {
    margin-right: 56px !important;
  }

  .vf-mb-md-lg,
.vf-my-md-lg {
    margin-bottom: 56px !important;
  }

  .vf-ml-md-lg,
.vf-mx-md-lg {
    margin-left: 56px !important;
  }

  .vf-m-md-xl {
    margin: 88px !important;
  }

  .vf-mt-md-xl,
.vf-my-md-xl {
    margin-top: 88px !important;
  }

  .vf-mr-md-xl,
.vf-mx-md-xl {
    margin-right: 88px !important;
  }

  .vf-mb-md-xl,
.vf-my-md-xl {
    margin-bottom: 88px !important;
  }

  .vf-ml-md-xl,
.vf-mx-md-xl {
    margin-left: 88px !important;
  }

  .vf-p-md-0 {
    padding: 0 !important;
  }

  .vf-pt-md-0,
.vf-py-md-0 {
    padding-top: 0 !important;
  }

  .vf-pr-md-0,
.vf-px-md-0 {
    padding-right: 0 !important;
  }

  .vf-pb-md-0,
.vf-py-md-0 {
    padding-bottom: 0 !important;
  }

  .vf-pl-md-0,
.vf-px-md-0 {
    padding-left: 0 !important;
  }

  .vf-p-md-sm {
    padding: 28px !important;
  }

  .vf-pt-md-sm,
.vf-py-md-sm {
    padding-top: 28px !important;
  }

  .vf-pr-md-sm,
.vf-px-md-sm {
    padding-right: 28px !important;
  }

  .vf-pb-md-sm,
.vf-py-md-sm {
    padding-bottom: 28px !important;
  }

  .vf-pl-md-sm,
.vf-px-md-sm {
    padding-left: 28px !important;
  }

  .vf-p-md-md {
    padding: 44px !important;
  }

  .vf-pt-md-md,
.vf-py-md-md {
    padding-top: 44px !important;
  }

  .vf-pr-md-md,
.vf-px-md-md {
    padding-right: 44px !important;
  }

  .vf-pb-md-md,
.vf-py-md-md {
    padding-bottom: 44px !important;
  }

  .vf-pl-md-md,
.vf-px-md-md {
    padding-left: 44px !important;
  }

  .vf-p-md-lg {
    padding: 56px !important;
  }

  .vf-pt-md-lg,
.vf-py-md-lg {
    padding-top: 56px !important;
  }

  .vf-pr-md-lg,
.vf-px-md-lg {
    padding-right: 56px !important;
  }

  .vf-pb-md-lg,
.vf-py-md-lg {
    padding-bottom: 56px !important;
  }

  .vf-pl-md-lg,
.vf-px-md-lg {
    padding-left: 56px !important;
  }

  .vf-p-md-xl {
    padding: 88px !important;
  }

  .vf-pt-md-xl,
.vf-py-md-xl {
    padding-top: 88px !important;
  }

  .vf-pr-md-xl,
.vf-px-md-xl {
    padding-right: 88px !important;
  }

  .vf-pb-md-xl,
.vf-py-md-xl {
    padding-bottom: 88px !important;
  }

  .vf-pl-md-xl,
.vf-px-md-xl {
    padding-left: 88px !important;
  }
}
@media screen and (min-width: 992px) {
  .vf-m-lg-0 {
    margin: 0 !important;
  }

  .vf-mt-lg-0,
.vf-my-lg-0 {
    margin-top: 0 !important;
  }

  .vf-mr-lg-0,
.vf-mx-lg-0 {
    margin-right: 0 !important;
  }

  .vf-mb-lg-0,
.vf-my-lg-0 {
    margin-bottom: 0 !important;
  }

  .vf-ml-lg-0,
.vf-mx-lg-0 {
    margin-left: 0 !important;
  }

  .vf-m-lg-sm {
    margin: 28px !important;
  }

  .vf-mt-lg-sm,
.vf-my-lg-sm {
    margin-top: 28px !important;
  }

  .vf-mr-lg-sm,
.vf-mx-lg-sm {
    margin-right: 28px !important;
  }

  .vf-mb-lg-sm,
.vf-my-lg-sm {
    margin-bottom: 28px !important;
  }

  .vf-ml-lg-sm,
.vf-mx-lg-sm {
    margin-left: 28px !important;
  }

  .vf-m-lg-md {
    margin: 44px !important;
  }

  .vf-mt-lg-md,
.vf-my-lg-md {
    margin-top: 44px !important;
  }

  .vf-mr-lg-md,
.vf-mx-lg-md {
    margin-right: 44px !important;
  }

  .vf-mb-lg-md,
.vf-my-lg-md {
    margin-bottom: 44px !important;
  }

  .vf-ml-lg-md,
.vf-mx-lg-md {
    margin-left: 44px !important;
  }

  .vf-m-lg-lg {
    margin: 56px !important;
  }

  .vf-mt-lg-lg,
.vf-my-lg-lg {
    margin-top: 56px !important;
  }

  .vf-mr-lg-lg,
.vf-mx-lg-lg {
    margin-right: 56px !important;
  }

  .vf-mb-lg-lg,
.vf-my-lg-lg {
    margin-bottom: 56px !important;
  }

  .vf-ml-lg-lg,
.vf-mx-lg-lg {
    margin-left: 56px !important;
  }

  .vf-m-lg-xl {
    margin: 88px !important;
  }

  .vf-mt-lg-xl,
.vf-my-lg-xl {
    margin-top: 88px !important;
  }

  .vf-mr-lg-xl,
.vf-mx-lg-xl {
    margin-right: 88px !important;
  }

  .vf-mb-lg-xl,
.vf-my-lg-xl {
    margin-bottom: 88px !important;
  }

  .vf-ml-lg-xl,
.vf-mx-lg-xl {
    margin-left: 88px !important;
  }

  .vf-p-lg-0 {
    padding: 0 !important;
  }

  .vf-pt-lg-0,
.vf-py-lg-0 {
    padding-top: 0 !important;
  }

  .vf-pr-lg-0,
.vf-px-lg-0 {
    padding-right: 0 !important;
  }

  .vf-pb-lg-0,
.vf-py-lg-0 {
    padding-bottom: 0 !important;
  }

  .vf-pl-lg-0,
.vf-px-lg-0 {
    padding-left: 0 !important;
  }

  .vf-p-lg-sm {
    padding: 28px !important;
  }

  .vf-pt-lg-sm,
.vf-py-lg-sm {
    padding-top: 28px !important;
  }

  .vf-pr-lg-sm,
.vf-px-lg-sm {
    padding-right: 28px !important;
  }

  .vf-pb-lg-sm,
.vf-py-lg-sm {
    padding-bottom: 28px !important;
  }

  .vf-pl-lg-sm,
.vf-px-lg-sm {
    padding-left: 28px !important;
  }

  .vf-p-lg-md {
    padding: 44px !important;
  }

  .vf-pt-lg-md,
.vf-py-lg-md {
    padding-top: 44px !important;
  }

  .vf-pr-lg-md,
.vf-px-lg-md {
    padding-right: 44px !important;
  }

  .vf-pb-lg-md,
.vf-py-lg-md {
    padding-bottom: 44px !important;
  }

  .vf-pl-lg-md,
.vf-px-lg-md {
    padding-left: 44px !important;
  }

  .vf-p-lg-lg {
    padding: 56px !important;
  }

  .vf-pt-lg-lg,
.vf-py-lg-lg {
    padding-top: 56px !important;
  }

  .vf-pr-lg-lg,
.vf-px-lg-lg {
    padding-right: 56px !important;
  }

  .vf-pb-lg-lg,
.vf-py-lg-lg {
    padding-bottom: 56px !important;
  }

  .vf-pl-lg-lg,
.vf-px-lg-lg {
    padding-left: 56px !important;
  }

  .vf-p-lg-xl {
    padding: 88px !important;
  }

  .vf-pt-lg-xl,
.vf-py-lg-xl {
    padding-top: 88px !important;
  }

  .vf-pr-lg-xl,
.vf-px-lg-xl {
    padding-right: 88px !important;
  }

  .vf-pb-lg-xl,
.vf-py-lg-xl {
    padding-bottom: 88px !important;
  }

  .vf-pl-lg-xl,
.vf-px-lg-xl {
    padding-left: 88px !important;
  }
}
@media screen and (min-width: 1200px) {
  .vf-m-xl-0 {
    margin: 0 !important;
  }

  .vf-mt-xl-0,
.vf-my-xl-0 {
    margin-top: 0 !important;
  }

  .vf-mr-xl-0,
.vf-mx-xl-0 {
    margin-right: 0 !important;
  }

  .vf-mb-xl-0,
.vf-my-xl-0 {
    margin-bottom: 0 !important;
  }

  .vf-ml-xl-0,
.vf-mx-xl-0 {
    margin-left: 0 !important;
  }

  .vf-m-xl-sm {
    margin: 28px !important;
  }

  .vf-mt-xl-sm,
.vf-my-xl-sm {
    margin-top: 28px !important;
  }

  .vf-mr-xl-sm,
.vf-mx-xl-sm {
    margin-right: 28px !important;
  }

  .vf-mb-xl-sm,
.vf-my-xl-sm {
    margin-bottom: 28px !important;
  }

  .vf-ml-xl-sm,
.vf-mx-xl-sm {
    margin-left: 28px !important;
  }

  .vf-m-xl-md {
    margin: 44px !important;
  }

  .vf-mt-xl-md,
.vf-my-xl-md {
    margin-top: 44px !important;
  }

  .vf-mr-xl-md,
.vf-mx-xl-md {
    margin-right: 44px !important;
  }

  .vf-mb-xl-md,
.vf-my-xl-md {
    margin-bottom: 44px !important;
  }

  .vf-ml-xl-md,
.vf-mx-xl-md {
    margin-left: 44px !important;
  }

  .vf-m-xl-lg {
    margin: 56px !important;
  }

  .vf-mt-xl-lg,
.vf-my-xl-lg {
    margin-top: 56px !important;
  }

  .vf-mr-xl-lg,
.vf-mx-xl-lg {
    margin-right: 56px !important;
  }

  .vf-mb-xl-lg,
.vf-my-xl-lg {
    margin-bottom: 56px !important;
  }

  .vf-ml-xl-lg,
.vf-mx-xl-lg {
    margin-left: 56px !important;
  }

  .vf-m-xl-xl {
    margin: 88px !important;
  }

  .vf-mt-xl-xl,
.vf-my-xl-xl {
    margin-top: 88px !important;
  }

  .vf-mr-xl-xl,
.vf-mx-xl-xl {
    margin-right: 88px !important;
  }

  .vf-mb-xl-xl,
.vf-my-xl-xl {
    margin-bottom: 88px !important;
  }

  .vf-ml-xl-xl,
.vf-mx-xl-xl {
    margin-left: 88px !important;
  }

  .vf-p-xl-0 {
    padding: 0 !important;
  }

  .vf-pt-xl-0,
.vf-py-xl-0 {
    padding-top: 0 !important;
  }

  .vf-pr-xl-0,
.vf-px-xl-0 {
    padding-right: 0 !important;
  }

  .vf-pb-xl-0,
.vf-py-xl-0 {
    padding-bottom: 0 !important;
  }

  .vf-pl-xl-0,
.vf-px-xl-0 {
    padding-left: 0 !important;
  }

  .vf-p-xl-sm {
    padding: 28px !important;
  }

  .vf-pt-xl-sm,
.vf-py-xl-sm {
    padding-top: 28px !important;
  }

  .vf-pr-xl-sm,
.vf-px-xl-sm {
    padding-right: 28px !important;
  }

  .vf-pb-xl-sm,
.vf-py-xl-sm {
    padding-bottom: 28px !important;
  }

  .vf-pl-xl-sm,
.vf-px-xl-sm {
    padding-left: 28px !important;
  }

  .vf-p-xl-md {
    padding: 44px !important;
  }

  .vf-pt-xl-md,
.vf-py-xl-md {
    padding-top: 44px !important;
  }

  .vf-pr-xl-md,
.vf-px-xl-md {
    padding-right: 44px !important;
  }

  .vf-pb-xl-md,
.vf-py-xl-md {
    padding-bottom: 44px !important;
  }

  .vf-pl-xl-md,
.vf-px-xl-md {
    padding-left: 44px !important;
  }

  .vf-p-xl-lg {
    padding: 56px !important;
  }

  .vf-pt-xl-lg,
.vf-py-xl-lg {
    padding-top: 56px !important;
  }

  .vf-pr-xl-lg,
.vf-px-xl-lg {
    padding-right: 56px !important;
  }

  .vf-pb-xl-lg,
.vf-py-xl-lg {
    padding-bottom: 56px !important;
  }

  .vf-pl-xl-lg,
.vf-px-xl-lg {
    padding-left: 56px !important;
  }

  .vf-p-xl-xl {
    padding: 88px !important;
  }

  .vf-pt-xl-xl,
.vf-py-xl-xl {
    padding-top: 88px !important;
  }

  .vf-pr-xl-xl,
.vf-px-xl-xl {
    padding-right: 88px !important;
  }

  .vf-pb-xl-xl,
.vf-py-xl-xl {
    padding-bottom: 88px !important;
  }

  .vf-pl-xl-xl,
.vf-px-xl-xl {
    padding-left: 88px !important;
  }
}
.vf-text--monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.vf-text--justify {
  text-align: justify !important;
}

.vf-text--nowrap {
  white-space: nowrap !important;
}

.vf-text--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vf-text--left {
  text-align: left !important;
}

.vf-text--right {
  text-align: right !important;
}

.vf-text--center {
  text-align: center !important;
}

@media screen and (min-width: 576px) {
  .vf-text-sm--left {
    text-align: left !important;
  }

  .vf-text-sm--right {
    text-align: right !important;
  }

  .vf-text-sm--center {
    text-align: center !important;
  }
}
@media screen and (min-width: 768px) {
  .vf-text-md--left {
    text-align: left !important;
  }

  .vf-text-md--right {
    text-align: right !important;
  }

  .vf-text-md--center {
    text-align: center !important;
  }
}
@media screen and (min-width: 992px) {
  .vf-text-lg--left {
    text-align: left !important;
  }

  .vf-text-lg--right {
    text-align: right !important;
  }

  .vf-text-lg--center {
    text-align: center !important;
  }
}
@media screen and (min-width: 1200px) {
  .vf-text-xl--left {
    text-align: left !important;
  }

  .vf-text-xl--right {
    text-align: right !important;
  }

  .vf-text-xl--center {
    text-align: center !important;
  }
}
.vf-text--lowercase {
  text-transform: lowercase !important;
}

.vf-text--uppercase {
  text-transform: uppercase !important;
}

.vf-text--capitalize {
  text-transform: capitalize !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.font-italic {
  font-style: italic !important;
}

.vf-text--white {
  color: #fff !important;
}

.vf-text--primary {
  color: #ffda00 !important;
}

a.vf-text--primary:hover, a.vf-text--primary:focus {
  color: #ccae00 !important;
}

.vf-text--secondary {
  color: #2071b5 !important;
}

a.vf-text--secondary:hover, a.vf-text--secondary:focus {
  color: #18568a !important;
}

.vf-text--success {
  color: #28a745 !important;
}

a.vf-text--success:hover, a.vf-text--success:focus {
  color: #1e7e34 !important;
}

.vf-text--warning {
  color: #ffc107 !important;
}

a.vf-text--warning:hover, a.vf-text--warning:focus {
  color: #d39e00 !important;
}

.vf-text--danger {
  color: #f93b18 !important;
}

a.vf-text--danger:hover, a.vf-text--danger:focus {
  color: #d82606 !important;
}

.vf-text--light {
  color: #f8f9fa !important;
}

a.vf-text--light:hover, a.vf-text--light:focus {
  color: #dae0e5 !important;
}

.vf-text--dark {
  color: #222222 !important;
}

a.vf-text--dark:hover, a.vf-text--dark:focus {
  color: #090909 !important;
}

.vf-text--blue-grey {
  color: #69788c !important;
}

a.vf-text--blue-grey:hover, a.vf-text--blue-grey:focus {
  color: #535f6f !important;
}

.vf-text--dark-moss {
  color: #005c63 !important;
}

a.vf-text--dark-moss:hover, a.vf-text--dark-moss:focus {
  color: #002d30 !important;
}

.vf-text--dark-blue {
  color: #1e324f !important;
}

a.vf-text--dark-blue:hover, a.vf-text--dark-blue:focus {
  color: #101b2a !important;
}

.vf-text--dark-pink {
  color: #d1266b !important;
}

a.vf-text--dark-pink:hover, a.vf-text--dark-pink:focus {
  color: #a61e55 !important;
}

.vf-text--dark-green {
  color: #3dc07c !important;
}

a.vf-text--dark-green:hover, a.vf-text--dark-green:focus {
  color: #319963 !important;
}

.vf-text--dark-red {
  color: #f93b18 !important;
}

a.vf-text--dark-red:hover, a.vf-text--dark-red:focus {
  color: #d82606 !important;
}

.vf-text--dark-purple {
  color: #9b62c3 !important;
}

a.vf-text--dark-purple:hover, a.vf-text--dark-purple:focus {
  color: #8243af !important;
}

.vf-text--light-yellow {
  color: #fffee5 !important;
}

a.vf-text--light-yellow:hover, a.vf-text--light-yellow:focus {
  color: #fffcb2 !important;
}

.vf-text--light-green {
  color: #edf9f3 !important;
}

a.vf-text--light-green:hover, a.vf-text--light-green:focus {
  color: #c7ecda !important;
}

.vf-text--light-turquoise {
  color: #ebf2f3 !important;
}

a.vf-text--light-turquoise:hover, a.vf-text--light-turquoise:focus {
  color: #cbdde0 !important;
}

.vf-text--light-blue {
  color: #edf1f6 !important;
}

a.vf-text--light-blue:hover, a.vf-text--light-blue:focus {
  color: #cbd7e5 !important;
}

.vf-text--light-red {
  color: #fef0ea !important;
}

a.vf-text--light-red:hover, a.vf-text--light-red:focus {
  color: #fccdb9 !important;
}

.vf-text--light-grey {
  color: #f2f2f2 !important;
}

a.vf-text--light-grey:hover, a.vf-text--light-grey:focus {
  color: #d9d9d9 !important;
}

.vf-text--body {
  color: #222222 !important;
}

.vf-text--muted {
  color: #6c757d !important;
}

.vf-text--black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.vf-text--white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.vf-text--incharge-nordic-green {
  color: #46ee76 !important;
}

.vf-text--incharge-nordic-blue {
  color: #2071b5 !important;
}

.vf-text--incharge-nordic-grey {
  color: #4e4b4b !important;
}

.vf-text--incharge-vattenfall-green {
  color: #46ee76 !important;
}

.vf-text--incharge-map-app-yellow {
  color: #ffda00 !important;
}

.vf-text--incharge-map-app-white {
  color: #ffffff !important;
}

.vf-text--incharge-map-app-solar {
  color: #81e0a8 !important;
}

.vf-text--incharge-map-app-blue {
  color: #2071b5 !important;
}

.vf-text--hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.vf-text--decoration-none {
  text-decoration: none !important;
}

.text-reset {
  color: inherit !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}
