<section class="vf-hero vf-hero__twoline">
  <div
    class="vf-hero__image-container"
    style="background-image: url('example.jpeg')"
  >
    <div class="vf-hero__image-text">
      <h1 class="vf-hero__heading">
        Headline goes in<br class="vf-hero__heading vf-hero__heading--hidden" />
        two lines here
      </h1>
    </div>
  </div>
</section>
