@use '../../../style/variables' as *;

.vf-button__container {
  display: grid;
  grid-template-columns: 240px;
  grid-gap: 15px;

  @media screen and (min-width: 576px) {
    grid-template-columns: repeat(2, 240px);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 240px);
  }

  &--medium {
    grid-template-columns: 180px;

    @media screen and (min-width: 576px) {
      grid-template-columns: repeat(2, 180px);
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(4, 180px);
    }
  }
}

.vf-btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  color: $text__dark-color;
  display: inline-block;
  font-family: $font__default;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18px;
  min-width: 180px;
  padding: 9px 48px;
  position: relative;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &::before {
    content: '\2192';
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0;
    position: absolute;
    transform: translate(-220%, 0);
    transform-origin: top left;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }

  &:hover::before {
    opacity: 1;
    transition-delay: 150ms;
    transform: translate(-150%, 0);
  }

  &--block {
    display: block;
    width: 100%;

    + .vf-btn--block {
      margin-top: 15px;
    }
  }
}

.vf-btn--lg {
  border-radius: 26px;
  font-size: 1.125rem;
  line-height: 24px;
  min-width: 240px;
  padding: 12px 48px;
}

.vf-btn__primary {
  color: #111111;
  background: $primary__solar-yellow;

  &:hover {
    background: #ffe85b;
  }

  &:focus {
    background: #f1c50b;
  }
}

.vf-btn__secondary {
  color: $primary__aura-white;
  background: $link__color;

  &:hover {
    background: $primary__ocean-blue;
  }

  &:focus {
    background: $secondary__dark-blue;
  }
}

.vf-btn__tertiary {
  color: $text__dark-color;
  background: transparent;
  border: 2px #cdd1d4 solid;

  &:hover {
    background: $link__color;
    border-color: $link__color;
    color: $primary__aura-white;
  }

  &:focus {
    background: $secondary__dark-blue;
    border-color: $secondary__dark-blue;
    color: $primary__aura-white;
  }
}

.vf-btn__dark--outline {
  color: $text__dark-color;
  background: transparent;
  border: 2px $text__dark-color solid;

  &:hover {
    color: $primary__aura-white;
    background: $text__dark-color;
    border-color: $text__dark-color;
  }

  &:focus {
    color: $primary__aura-white;
    background: $primary__magnetic-grey;
    border-color: $primary__magnetic-grey;
  }
}

.vf-btn__secondary--outline {
  color: $primary__ocean-blue;
  background: transparent;
  border: 2px $link__color solid;

  &:hover {
    color: $primary__aura-white;
    background: $link__color;
    border-color: $link__color;
  }

  &:active {
    color: $primary__aura-white;
    background: $secondary__dark-blue;
    border-color: $secondary__dark-blue;
  }
}

.vf-btn:disabled {
  background-color: #eeeeee;
  color: $tertiary__medium-dark-grey;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.vf-btn__group {
  border-radius: 34px;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.vf-btn__group-btn {
  background: $primary__aura-white;
  border: none;
  border-radius: 34px;
  color: $link__color;
  display: inline-block;
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 28px;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  &:focus,
  &:hover {
    color: $primary__aura-white;
  }

  &:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  &:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.vf-btn__group--mobile {
  display: flex;
  flex-direction: column;

  .vf-btn__group-btn {
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
    border-radius: 34px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 28px;
    padding: 6px;
    text-align: center;
  }

  .vf-btn__group-btn:not(:first-child) {
    margin-top: 16px;
  }
}

.vf-btn--incharge-nordic {
  background: rgb(70, 238, 118);
  color: #000;

  &:hover {
    background: rgb(136, 244, 166);
  }

  &:focus,
  &.focus {
    background: rgb(70, 238, 118);
  }

  &.disabled,
  &:disabled {
    background-color: #eee;
    color: $tertiary__medium-dark-grey;
  }

  + .vf-btn--incharge-nordic {
    margin-top: 15px;

    @media screen and (min-width: 576px) {
      margin-top: 0;
      margin-left: 15px;
    }
  }
}
