@use '../../../style/variables' as *;
@use '../input/input.scss';

//import default styles for daterangepicker
@import 'daterangepicker/daterangepicker.css';

div[class*='vf-calendar'] {
  * {
    box-sizing: border-box;
  }

  position: relative;

  .vf-input {
    cursor: pointer;
    min-width: 360px;
    padding: 16px 40px 16px 20px; //allow for icon
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $font__default;
  }

  .vf-input-tooltip-icon {
    height: 24px;
    width: 24px;
    &.vf-icon-calendar {
      position: relative;
      &:before {
        position: absolute;
        top: calc(50% - 13px);
        right: 15px;
        color: #222;
        pointer-events: none;
      }
    }
  }

  .daterangepicker {
    cursor: initial;
    font-family: $font__default, 'Vattenfall Hall', sans-serif;
    color: $text__dark-color !important;
    border-radius: 4px;
    border: 1px solid rgb(188, 188, 188);
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);

    &.opensright:before {
      left: 15px;
    }

    &.opensright:after {
      left: 16px;
    }

    td {
      &.off,
      &.off.in-range,
      &.off.start-date,
      &.off.end-date {
        color: #888888;
      }
    }

    .drp-calendar {
      width: 50%;
      max-width: none;

      &.left {
        padding: 37px 0 37px 37px;
        @media screen and (max-width: 991.98px) {
          padding: 37px 0px;
          text-align: center;
          display: flex;
          float: none;
          width: auto;
        }

        .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          @media screen and (max-width: 991.98px) {
            margin: 0 auto;
          }
        }

        &.single {
          padding: 37px 0;

          .calendar-table {
            padding-right: 0;
          }
        }
      }

      &.right {
        padding: 37px;
        @media screen and (max-width: 991.98px) {
          padding: 0 8px 37px 8px;
          display: flex;
          float: none;
          width: auto;
        }

        .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          @media screen and (max-width: 991.98px) {
            margin: 0 auto;
          }
        }
      }
    }

    .drp-buttons .btn {
      //font-family: "Vattenfall Hall Bold"!important;

      font-weight: 500;
      font-size: 0.875rem;
    }

    .drp-buttons {
      //padding: 37px 0 37px 37px;
      padding: 37px;
      @media screen and (max-width: 991.98px) {
        padding: 37px 8px;
        text-align: center;
      }

      .drp-selected {
        font-size: 1.25rem;
        padding-right: 18px;
        vertical-align: middle;
        @media screen and (max-width: 991.98px) {
          padding-right: 0;
          display: block;
        }
      }

      button {
        cursor: pointer;

        &.btn {
          margin-left: 18px;
          @media screen and (max-width: 991.98px) {
            margin: 27px 8px 0;
          }
          //padding: 4px 8px;
        }
      }
    }

    .calendar-table {
      border-radius: 18px;

      th,
      td {
        @media screen and (min-width: 576px) {
          min-width: 42px;
          width: 42px;
          height: 25px;
          font-size: 1rem;
          border-radius: 18px;
          border: 1px solid transparent;
          letter-spacing: -0.05px;
          padding: 5px 0;
        }

        border: 1px solid transparent;
        letter-spacing: -0.05px;
      }

      th {
        font-family: $font__default, 'Vattenfall Hall', sans-serif;
      }

      td {
        &.in-range {
          border-radius: 0;
        }

        &.start-date {
          border-radius: 18px 0 0 18px;

          &.end-date {
            border-radius: 18px;
          }
        }

        &.end-date {
          border-radius: 0 18px 18px 0;
        }

        &.active,
        &.active:hover,
        &.in-range {
          background-color: $link__color;
          color: $primary__aura-white;
        }
      }

      .next span,
      .prev span {
        border: none !important;
        padding: 0;
        color: $text__dark-color;
        transform: none;

        &:before {
          font-family: 'vf-icons' !important;
          font-size: 1.125rem;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: middle;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      .prev {
        padding-right: 18px;

        &:hover {
          background: none;
        }

        span:before {
          content: '\e983';
        }
      }

      .next {
        padding-left: 18px;

        &:hover {
          background: none;
        }

        span:before {
          content: '\e989';
        }
      }

      .month {
        font-size: 1.125rem;
        font-family: $font__default, 'Vattenfall Hall', sans-serif;
        letter-spacing: 0px;
        line-height: 24px;
        padding: 18px 0;
      }
    }
  }
}

.vf-icon-calendar-31 {
  left: 321px;
  top: 14px;
  position: absolute;
  pointer-events: none;
}
