@use '../../../style/variables' as *;

.vf-checkbox__input {
  appearance: none;
  -webkit-appearance: none;
  background: $primary__aura-white;
  border: 1px solid #a4a9ac;
  border-radius: 4px;
  cursor: pointer;
  height: 28px;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  width: 28px;

  &:checked {
    border-color: #a4a9ac;
  }

  &::before {
    color: #d8d8d8;
    content: '\e97f';
    font-family: 'vf-icons';
    font-size: 1.125rem;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1);
  }

  &:disabled {
    background-color: #eee;
    border: 1px solid $tertiary__light-grey;
    cursor: auto;
    color: $tertiary__light-grey;
  }
}

.vf-checkbox__input:checked.vf-checkbox__input:disabled::before {
  color: $primary__magnetic-grey;
}

.vf-checkbox__input:checked.vf-checkbox__input::before {
  color: $primary__magnetic-grey;
  content: '\e97f';
  font-family: 'vf-icons';
  font-size: 1.125rem;
  left: 4px;
  opacity: 1;
  position: absolute;
  top: 4px;
  transform: scale(1);
}
