@use '../../../style/variables' as *;

.vf-visual-pickers-sm,
.vf-visual-pickers-md,
.vf-visual-pickers-md-two-line,
.vf-visual-pickers-md-two-line-icon,
.vf-visual-pickers-lg {
  position: relative;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid $tertiary__light-grey;
  width: 264px;

  &:hover {
    border: 1px solid $tertiary__medium-grey;
  }

  input {
    display: none;
  }

  label {
    all: initial;
    color: rgb(34, 34, 34);
    font-family: Vattenfall Hall NORDx;
    font-size: 1.25rem;
    font-weight: 500;
    height: 28px;
    letter-spacing: 0px;
    line-height: 28px;
    width: 100%;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 57px;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.vf-visual-pickers__icon::before {
  position: absolute;
  font-size: 1.25rem;
}

.vf-visual-pickers__outline {
  border: 1px solid $link__color !important;
  background: #edf1f6;
}

.vf-visual-pickers-sm {
  height: 52px;

  .vf-visual-pickers__icon::before {
    right: 17px;
    bottom: 14px;
    opacity: 1;
  }
}

.vf-visual-pickers-md {
  height: 90px;

  label {
    padding-right: 24px;
    padding-top: 31px;
    padding-bottom: 31px;
    text-align: center;
  }
  .vf-visual-pickers__icon::before {
    right: 16px;
    top: 16px;
    opacity: 1;
  }
}

.vf-visual-pickers-md-two-line {
  height: 90px;
  label {
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 42px;
    text-align: center;

    .vf-visual-pickers__second-line {
      position: absolute;
      line-height: 28px;
      font-size: 0.875rem;
      font-family: VattenfallHall-Regular;
      font-weight: 500;
      letter-spacing: -0.04px;
      margin-bottom: 0;
      left: 0;
      right: 0;
      bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .vf-visual-pickers__icon::before {
    right: 16px;
    top: 16px;
    opacity: 1;
  }
}

.vf-visual-pickers-md-two-line-icon {
  height: 100px;

  label {
    padding-right: 24px;
    padding-top: 45px;
    padding-bottom: 15px;
    text-align: center;
  }

  .vf-visual-pickers__icon::before {
    right: 17px;
    top: 17px;
    opacity: 1;
  }
  .vf-visual-pickers__two-line-icon::before {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    font-size: 1.875rem;
  }
}

.vf-visual-pickers-lg {
  height: 250px;
  label {
    padding-top: 211px;
    padding-bottom: 11px;
    padding-right: 24px;
    text-align: center;

    img {
      position: absolute;
      width: 224px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 50px;
    }
  }
  .vf-visual-pickers__icon::before {
    opacity: 1;
    right: 26px;
    top: 26px;
    border-radius: 50%;
    border: 2px solid $link__color;
    background: #fff;
    padding: 7px;
  }
}
