@use '../../../style/variables' as *;

.vf-radio-button__input {
  -webkit-appearance: none;
  appearance: none;
  background: $primary__aura-white;
  border: 1px solid #a4a9ac;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  margin: 0;
  width: 28px;
  position: relative;

  &::before {
    background-color: $primary__magnetic-grey;
    border-radius: 50%;
    content: '';
    height: 12px;
    left: 7px;
    position: absolute;
    transform: scale(0);
    top: 7px;
    width: 12px;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:disabled {
    background-color: #eee;
    border: 1px solid $tertiary__light-grey;
    color: $tertiary__light-grey;
    cursor: auto;

    &::before {
      background-color: $tertiary__light-grey;
    }
  }
}

.vf-input__radio-label {
  align-items: center;
  display: flex;
  font-size: 1.25rem;

  .vf-radio-button__input {
    margin-right: 1em;
  }
}
