<div class="vf-tab-bar-container--mobile vf-js-tab-bar">
  <ul class="vf-tab-bar--mobile-scroll">
    <li class="vf-tab-bar-item--mobile--scroll vf-tab-bar-item--mobile--active">
      Lorem Ipsum
    </li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
    <li class="vf-tab-bar-item--mobile--scroll">Lorem Ipsum</li>
  </ul>
  <div class="vf-tab-bar-content--mobile--scroll">1</div>
  <div class="vf-tab-bar-content--mobile--scroll">2</div>
  <div class="vf-tab-bar-content--mobile--scroll">3</div>
  <div class="vf-tab-bar-content--mobile--scroll">4</div>
  <div class="vf-tab-bar-content--mobile--scroll">5</div>
  <div class="vf-tab-bar-content--mobile--scroll">6</div>
  <div class="vf-tab-bar-content--mobile--scroll">7</div>
  <div class="vf-tab-bar-content--mobile--scroll">8</div>
  <div class="vf-tab-bar-content--mobile--scroll">9</div>
  <div class="vf-tab-bar-content--mobile--scroll">10</div>
</div>
