<div class="container">
  <div class="vf-js-multi-select">
    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-md-two-line"
      style="margin-bottom: 20px"
    >
      <input
        type="checkbox"
        id="multi-select-md-two-line-1"
        name="vf-visual-pickers"
      />
      <label class="vf-visual-pickers__label" for="multi-select-md-two-line-1">
        Option 1
        <span class="vf-visual-pickers__second-line">Second line</span>
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-md-two-line"
      style="margin-bottom: 20px"
    >
      <input
        type="checkbox"
        id="multi-select-md-two-line-2"
        name="vf-visual-pickers"
      />
      <label class="vf-visual-pickers__label" for="multi-select-md-two-line-2">
        Option 2
        <span class="vf-visual-pickers__second-line">Second line</span></label
      >
      <span class="vf-visual-pickers__icon"></span>
    </div>

    <div
      class="vf-visual-pickers__multi-select vf-visual-pickers-md-two-line"
      style="margin-bottom: 20px"
    >
      <input
        type="checkbox"
        id="multi-select-md-two-line-3"
        name="vf-visual-pickers"
      />
      <label class="vf-visual-pickers__label" for="multi-select-md-two-line-3">
        Option 3
        <span class="vf-visual-pickers__second-line">Second line</span>
      </label>
      <span class="vf-visual-pickers__icon"></span>
    </div>
  </div>
</div>
