@use '../../../style/variables' as *;

.vf-intro-in-caps {
  font-family: $font__default;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
    font-weight: bold;
    line-height: 36px;
  }
}
