@use '../../../style/variables' as *;

.vf-preamble {
  font-family: $font__default;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 36px;
  }
}
