@use '../../../style/variables' as *;
@use '../dialogues/tooltip.scss';

.vf-input {
  background-color: $primary__aura-white;
  box-sizing: border-box;
  color: $text__dark-color;
  border-radius: 4px;
  border: 1px solid $tertiary__light-grey;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 24px;
  height: 52px;
  outline: none;
  padding: 16px 20px;
  position: relative;
  width: 264px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] + &__label {
    color: $primary__coal-black;
  }

  &:focus ~ &__label {
    color: $link__color;
    font-weight: 500;
    left: 16.5px;
    letter-spacing: 0px;
    transform: scale(0.7);
    transform-origin: top left;
    top: -9px;
    padding: 0 7px;
  }

  &__container {
    cursor: pointer;
    line-height: 1;
    position: relative;
    width: 264px;
  }

  &__label {
    color: $tertiary__medium-dark-grey;
    cursor: default;
    font-family: $font__default;
    font-size: 1.25rem;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 0;
    top: 13px;
    left: 20px;
    position: absolute;
    pointer-events: none;
    transition: top 0.2s ease-in-out;

    &::after {
      background: $primary__aura-white;
      content: '';
      display: block;
      height: 2.6px;
      top: -12.43666px;
      position: relative;
      width: 100%;
      transform: scaleX(1.05) scaleY(1.1);
      z-index: -1;
    }
  }

  &__number--increment {
    position: absolute;
    right: 1px;
    height: 48%;
    width: 40px;
    border-left: 1px solid $border__grey;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    top: 1px;
    border-bottom: 1px solid $border__grey;
  }

  &__number--decrement {
    position: absolute;
    right: 1px;
    height: 48%;
    width: 40px;
    border-left: 1px solid $border__grey;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    bottom: 1px;
    border-top: 1px solid $border__grey;
  }

  &.vf-input--warning {
    border-color: #ffb2a4;
    box-shadow: 0 0 #f5a623;
    outline: none;

    &:hover {
      border-color: #f5a623;
    }

    &:focus {
      border-color: #f5a623;
      box-shadow: 0 1px #f5a623;
      transition: box-shadow 0.2s ease-in-out;
    }

    & ~ label {
      color: #f5a623 !important;
    }
  }

  &.vf-input--error {
    border-color: #ffb2a4;
    box-shadow: 0 0 $secondary__red;
    outline: none;

    &:hover {
      border-color: $secondary__red;
    }

    &:focus {
      border-color: $secondary__red;
      box-shadow: 0 1px $secondary__red;
      transition: box-shadow 0.2s ease-in-out;
    }

    & ~ label {
      color: $secondary__red !important;
    }
  }

  &--underline {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $tertiary__light-grey;
    padding-left: 0;
    border-radius: 0;
    outline: none;

    &:hover {
      border-bottom: 1px solid #999;
    }

    & ~ .vf-input__label {
      &:after {
        background: transparent;
      }

      background-color: transparent;
      left: 0;
      padding: 0;
    }

    &:focus ~ .vf-input__label {
      left: 0;
      padding: 0;
    }
  }
}

textarea.vf-input {
  font-family: $font__default;
  height: auto;
}

.vf-icon-up::before {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vf-icon-down::before {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vf-input__container {
  .vf-tooltip-message {
    bottom: calc(100% - 8px);
    opacity: 0;
    position: absolute;
    right: 23px;
  }

  // This is generated by JS
  .vf-input-tooltip-icon {
    cursor: pointer;
    display: inline;

    &.vf-icon-help {
      &::before {
        color: $text__dark-color;
        font-size: 1.25rem;
        position: absolute;
        top: calc(50% - 12px);
        right: 15px;
      }
    }

    &:hover {
      ~ .vf-tooltip-message {
        box-sizing: border-box;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}

.vf-input--error-text {
  display: none;
  color: $secondary__red;
  font-size: 1rem;
  line-height: 28px;
  font-weight: 500;
  line-height: 28px;
}

.vf-input:not(:placeholder-shown) ~ .vf-input__label {
  color: #1964a3;
  font-weight: 500;
  left: 16.5px;
  letter-spacing: 0px;
  transform: scale(0.7);
  transform-origin: top left;
  top: -9px;
  padding: 0 7px;
}

.vf-input:not(:placeholder-shown) ~ #vf_underline_label {
  left: 0;
  padding: 0;
}

.vf-input::placeholder {
  color: transparent;
}

.vf-alt-input-container {
  position: relative;
  font-family: $font__default;
  font-size: 1.25rem;
  height: 107px;
  width: 264px;

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  #vf__alt_textarea_input {
    height: 110px;
    color: $text__dark-color;
    &::placeholder {
      color: $tertiary__medium-dark-grey;
      font-family: $font__default;
      font-size: 1.25rem;
      font-weight: normal;
      height: 24px;
      letter-spacing: 0px;
      width: 100%;
    }
  }
}

.vf-alt-input {
  box-sizing: border-box;
  font-family: $font__default;
  position: relative;
  top: 34px;
  width: 264px;
  height: 52px;
  background-color: $primary__aura-white;
  color: $text__dark-color;
  padding: 16px 20px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid $tertiary__light-grey;
  font-size: 1.25rem;
  letter-spacing: 0px;
  line-height: 24px;
  font-weight: normal;

  &:hover {
    border: 1px solid $text__dark-color;
  }

  &:focus {
    outline: none;
    border: 1px solid $link__color;
  }

  &::placeholder {
    width: 100%;
    height: 25px;
    color: $tertiary__medium-dark-grey;
    font-size: 1.25rem;
    font-family: $font__default;
    font-weight: normal;
    letter-spacing: 0px;
  }

  &.vf-alt-input--error {
    border-color: #ffb2a4;

    &:hover {
      border-color: $secondary__red;
    }

    &:focus {
      border-color: $secondary__red;
    }

    &::placeholder {
      color: $secondary__red;
    }
  }
}

.vf-alt-input-label {
  position: absolute;
  top: 0;
  left: 0;
  color: $primary__coal-black;
  font-family: $font__default;
  font-size: 1.25rem;
  font-weight: normal;
  height: 26px;
  letter-spacing: 0px;
  line-height: 26px;
  width: 256px;
}

.vf-alt-input--error-text {
  bottom: -7px;
  color: $secondary__red;
  font-family: $font__default;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  left: 0;
  position: absolute;
  opacity: 0;
  width: 264px;
}

.vf-alt-input--detailed-text {
  position: absolute;
  left: 0;
  bottom: -7px;
  font-size: 1rem;
  font-family: $font__default;
  font-size: 1rem;
  font-weight: 500;
  color: $tertiary__medium-dark-grey;
  height: 26.6px;
  letter-spacing: 0px;
  line-height: 28px;
  width: 264px;
  margin-bottom: 0;
}

.vf-alt-input--textarea-detailed-text {
  position: absolute;
  left: 0;
  bottom: -66px;
  color: $tertiary__medium-dark-grey;
  font-family: $font__default;
  font-size: 1rem;
  font-weight: normal;
  height: 33px;
  letter-spacing: 0px;
  line-height: 18px;
  width: 264px;
  margin-bottom: 0;
}

#vf_alt_tooltip_input {
  padding-right: 54px;
}

.vf-alt-input-container-textarea {
  height: auto;
  margin-bottom: 66px;
}

.vf-alt-input-container {
  .vf-tooltip-message {
    bottom: calc(100% - 35px);
    opacity: 0;
    position: absolute;
    right: 24px;
  }

  // This is generated by JS
  .vf-input-tooltip-icon {
    cursor: pointer;
    display: inline;

    &.vf-icon-help {
      &::before {
        color: $text__dark-color;
        font-size: 1.25rem;
        position: absolute;
        top: calc(50% - 6px);
        right: 15px;
      }
    }

    &:hover {
      ~ .vf-tooltip-message {
        box-sizing: border-box;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
