<section class="vf-hero vf-hero__oneline">
  <div
    class="vf-hero__image-container"
    style="background-image: url('example.jpeg')"
  >
    <div class="vf-hero__image-text">
      <h1 class="vf-hero__heading">Hero headline here</h1>
    </div>
  </div>
</section>
