@use '../../../style/variables' as *;
@use '../selection/buttons' as *;

.vf-gdpr-consent {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100vw;
  z-index: 99;

  &__container {
    display: block;
    height: 100vh;
    overflow-y: auto;
    width: 100vw;
  }

  &__content {
    background-color: $primary__aura-white;
    display: block;
    margin: 50px auto 0 auto;
    padding: 32px 16px;
    position: relative;

    @media screen and (min-width: 768px) {
      max-width: 720px;
      padding: 48px 32px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 900px;
      padding: 55px 65px;
    }
  }

  .vf-icon-close {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 20px;
    right: 20px;

    &::before {
      font-size: 1.25rem;
    }
  }

  &__heading {
    font-size: 1.125rem;
    line-height: 24px;

    @media screen and (min-width: 768px) {
      font-size: 1.375rem;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 24px;
  }

  &__link {
    color: $link__color;
    text-decoration: none;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 24px 0;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin: 48px 0 32px 0;
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      margin-top: 0;
      order: 1;

      & > *:not(:last-child) {
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
          margin-bottom: 0;
          margin-right: 8px;
        }
      }

      @media screen and (min-width: 768px) {
        flex-direction: row;
        margin-bottom: 0;
        order: 2;
      }
    }
  }

  &__form-group {
    align-items: center;
    display: flex;
    flex-direction: row;

    @media screen and (min-width: 768px) {
      margin: 0 28px 16px 0;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__form-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 16px;
    }
  }

  &__label {
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__expand-button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: 'Vattenfall Hall NORDx';
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    order: 2;
    outline: none;
    position: relative;

    &::after {
      content: '\e981';
      font-size: 1rem;
      font-family: 'vf-icons';
      margin-left: 12px;
      padding-top: 5px;
    }

    @media screen and (min-width: 768px) {
      order: 1;
    }
  }

  &__details-content {
    display: block;
    padding-top: 24px;
  }

  &__hidden {
    display: none;
  }

  .vf-checkbox__input {
    margin: 0 12px 6.4px 0;
  }
}
