@use '../../../style/variables' as *;

.vf-cookie-banner {
  background: $secondary__dark-blue;
  color: white;
  font-family: $font__default, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.875rem;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: normal;
  position: relative;
  text-align: left;
  padding: 10px 20px 10px 30px;

  @media screen and (min-width: 576px) {
    font-size: 1rem;

    padding: 10px 0;
    text-align: center;
  }

  &__close-btn {
    background: transparent;
    border: none;
    color: white;
    right: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .vf-icon-close {
      &::before {
        font-size: 1.25rem;
      }
    }

    @media screen and (min-width: 576px) {
      right: 15px;
    }
  }
}

.vf-cookie-banner--error {
  background: $secondary__red;
}

.vf-cookie-banner--info {
  background: $link__color;
}

.vf-cookie-banner--success {
  background: $secondary__green;
}
