@use '../../../style/variables' as *;

@mixin tooltip-color($background-color, $border-color, $color) {
  ~ .vf-tooltip-message,
  .vf-tooltip-message {
    background: $background-color;
    border-color: $border-color;
    color: $color;

    &:before {
      border-color: $border-color;
    }

    &:after {
      border-color: $background-color;
    }
  }
}

@mixin tooltip-alignment($position) {
  ~ .vf-tooltip-message {
    @if $position == left {
      right: 52px !important;
    } @else if $position == right {
      left: 100% !important;
    } @else if $position == bottom {
    }
  }

  .vf-tooltip-message {
    @if $position == left {
      right: calc(100% + 10px);
    } @else if $position == right {
      left: calc(100% + 10px);
    } @else if $position == bottom {
      bottom: -100%;
    }
  }

  ~ .vf-tooltip-message,
  .vf-tooltip-message {
    @if $position == left {
      transform: translate(0, 50%) !important;
    } @else if $position == right {
      transform: translate(0, 50%) !important;
      right: auto !important;
    } @else if $position == bottom {
      bottom: -3px;
      transform: translate(50%, 100%);
    }

    &:before,
    &:after {
      @if $position == left {
        top: calc(50% - 15px);
        left: auto;
        bottom: 0;
        transform: translate(0, 100%) rotate(-45deg);
        border-left: none;
        border-bottom: 1px solid $tooltip__green;
        border-right: 1px solid $tooltip__green;
        border-top: none;
      } @else if $position == right {
        top: calc(50% - 15px);
        right: auto;
        bottom: 0;
        transform: translate(0, 100%) rotate(-45deg);
        border-left: 1px solid $tooltip__green;
        border-bottom: none;
        border-right: none;
        border-top: 1px solid $tooltip__green;
      } @else if $position == bottom {
        border-left: none;
        border-bottom: none;
        border-right: 1px solid $tooltip__green;
        border-top: 1px solid $tooltip__green;
      }
    }

    &:before {
      @if $position == left {
        right: -6px;
      } @else if $position == right {
        left: -6px;
      } @else if $position == bottom {
        top: -6px;
      }
    }

    &:after {
      @if $position == left {
        right: -5px;
        border-width: 10px;
        border-color: transparent $bg__light-green $bg__light-green transparent;
        top: -6px;
      } @else if $position == right {
        left: -5px;
        border-width: 10px;
        border-color: $bg__light-green transparent transparent $bg__light-green;
        top: -6px;
      } @else if $position == bottom {
        top: -5px;
        border-width: 10px;
        border-color: $bg__light-green $bg__light-green transparent transparent;
      }
    }
  }
}

.vf-tooltip {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: $link__color;

  &:hover {
    color: $link__hover-color;
    text-decoration: underline;

    .vf-tooltip-message {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &[class*='vf-icon-'] {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    .vf-tooltip-message {
      margin-bottom: 10px;
    }
    &[class*='vf-tooltip--right'] {
      .vf-tooltip-message {
        margin-bottom: -10px !important;
      }
    }

    &[class*='vf-tooltip--left'] {
      .vf-tooltip-message {
        margin-bottom: -10px !important;
      }
    }
  }
}

.vf-tooltip--left {
  @include tooltip-alignment(left);
}

.vf-tooltip--right {
  @include tooltip-alignment(right);
}

.vf-tooltip--bottom {
  @include tooltip-alignment(bottom);

  &[class*='vf-icon-'] {
    ~ .vf-tooltip-message,
    .vf-tooltip-message {
      bottom: -100%;
      transform: translate(50%, 100%);
    }
  }
}

.vf-tooltip--blue {
  @include tooltip-color(
    $tooltip__blue-bg,
    $tooltip__blue-border,
    $primary__ocean-blue
  );
}

.vf-tooltip--red {
  @include tooltip-color(
    $tooltip__red-bg,
    $tooltip__red-border,
    $secondary__red
  );
}

.vf-tooltip--blue-solid {
  @include tooltip-color(
    $primary__ocean-blue,
    $primary__ocean-blue,
    $primary__aura-white
  );
}

.vf-tooltip--green-solid {
  @include tooltip-color(
    $secondary__green,
    $secondary__green,
    $primary__aura-white
  );
}

.vf-tooltip--red-solid {
  @include tooltip-color(
    $secondary__red,
    $secondary__red,
    $primary__aura-white
  );
}

.vf-tooltip--yellow-solid {
  @include tooltip-color(
    $primary__solar-yellow,
    $primary__solar-yellow,
    $text__dark-color
  );
}

//Also exists independently of .vf-tooltip - See input.md
.vf-tooltip-message {
  width: 180px;
  width: max-content;
  max-width: 180px;
  bottom: calc(100% - 10px);
  min-height: 31px;
  opacity: 0;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  padding: 4px 10px;
  z-index: 999;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 20px;
  pointer-events: none;
  background: $bg__light-green;
  border: 1px solid $tooltip__green;
  border-radius: 4px 4px 4px 4px;
  color: $secondary__green;
  text-align: center;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-left: 1px solid $tooltip__green;
    border-bottom: 1px solid $tooltip__green;
    border-radius: 3px;
    transform: rotate(-45deg);
    z-index: -1;
  }

  &:before {
    bottom: -5px;
  }

  &:after {
    content: '';
    bottom: -4px;
    border-color: transparent transparent $bg__light-green $bg__light-green;
    border-width: 10px;
  }
}
