<section class="vf-media-block vf-media-block--reversed">
  <div class="vf-media-block__body">
    <div class="vf-media-block__image-container">
      <img src="./example.png" class="vf-media-block__image" />
      <div class="vf-media__play-button-wrapper">
        <button class="vf-icon-play"></button>
      </div>
    </div>
    <div class="vf-media-block__content">
      <h3 class="vf-media-block__title">Q2 Report 2018 is published</h3>
      <p class="vf-media-block__paragraph">
        President and CEO Magnus Hall and CFO Anna Borg comment on Vattenfall's
        half-year results 2018. The web audiocast for analysts.
      </p>
      <div class="vf-media-block__links">
        <a class="vf-link-with-arrow" href="#">Download report as PDF</a>
        <a class="vf-link-with-arrow" href="#">Watch on Youtube</a>
        <a class="vf-link-with-arrow" href="#">Listen as audiocast</a>
      </div>
    </div>
  </div>
</section>
