@use '../../../style/variables' as *;
@use '../mixins/grid' as mixins;
@use '../mixins/grid-framework' as gridFramework;
@use '../mixins/breakpoints' as breakpoints;

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

$container-tight-max-widths: (
  sm: 540px,
  md: 600px,
  lg: 774px,
  xl: 960px,
) !default;

@if $enable-grid-classes {
  .vf-container {
    @include mixins.make-container();
    @include mixins.make-container-max-widths();

    clear: left;
  }

  .vf-container--tight {
    @include mixins.make-container-max-widths($container-tight-max-widths);
  }
}

@mixin make-container-bleed {
  margin-right: auto;
  margin-left: auto;
  max-width: $bleed-container-max-width;
}

.vf-container-bleed {
  @include make-container-bleed();
  @include breakpoints.media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.

@if $enable-grid-classes {
  .vf-container-fluid {
    @include mixins.make-container();
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
  .vf-row {
    @include mixins.make-row();
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .vf-no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .vf-col,
    > [class*='vf-col-'] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include gridFramework.make-grid-columns();
}

.vf-row--vertical-center {
  display: flex;
  align-items: center;
}
