@use '../../../style/variables' as *;
@use 'sass:math';

.m-0 {
  margin: 0;
}

.m-1 {
  margin: ($spacer * 0.25);
}
.m-2 {
  margin: ($spacer * 0.5);
}
.m-3 {
  margin: $spacer;
}

.m-4 {
  margin: ($spacer * 1.5);
}

.m-5 {
  margin: ($spacer * 3);
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: ($spacer * 0.25);
}
.ml-2 {
  margin-left: ($spacer * 0.5);
}
.ml-3 {
  margin-left: $spacer;
}

.ml-4 {
  margin-left: ($spacer * 1.5);
}

.ml-5 {
  margin-left: ($spacer * 3);
}

.ml-0 {
  margin-left: 0;
}

.mr-1 {
  margin-right: ($spacer * 0.25);
}
.mr-2 {
  margin-right: ($spacer * 0.5);
}
.mr-3 {
  margin-right: $spacer;
}

.mr-4 {
  margin-right: ($spacer * 1.5);
}

.mr-5 {
  margin-right: ($spacer * 3);
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: ($spacer * 0.25);
}
.mt-2 {
  margin-top: ($spacer * 0.5);
}
.mt-3 {
  margin-top: $spacer;
}

.mt-4 {
  margin-top: ($spacer * 1.5);
}

.mt-5 {
  margin-top: ($spacer * 3);
}

.mb-0 {
  margin-top: 0;
}

.mb-1 {
  margin-bottom: ($spacer * 0.25);
}
.mb-2 {
  margin-bottom: ($spacer * 0.5);
}
.mb-3 {
  margin-bottom: $spacer;
}

.mb-4 {
  margin-bottom: ($spacer * 1.5);
}

.mb-5 {
  margin-bottom: ($spacer * 3);
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: ($spacer * 0.25);
  margin-right: ($spacer * 0.25);
}
.mx-2 {
  margin-left: ($spacer * 0.5);
  margin-right: ($spacer * 0.5);
}
.mx-3 {
  margin-left: $spacer;
  margin-right: $spacer;
}

.mx-4 {
  margin-left: ($spacer * 1.5);
  margin-right: ($spacer * 1.5);
}

.mx-5 {
  margin-left: ($spacer * 3);
  margin-right: ($spacer * 3);
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.my-1 {
  margin-bottom: ($spacer * 0.25);
  margin-top: ($spacer * 0.25);
}
.my-2 {
  margin-bottom: ($spacer * 0.5);
  margin-top: ($spacer * 0.5);
}
.my-3 {
  margin-bottom: $spacer;
  margin-top: $spacer;
}

.my-4 {
  margin-bottom: ($spacer * 1.5);
  margin-top: ($spacer * 1.5);
}

.my-5 {
  margin-bottom: ($spacer * 3);
  margin-top: ($spacer * 3);
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: ($spacer * 0.25);
}

.p-2 {
  padding: ($spacer * 0.5);
}

.p-3 {
  padding: $spacer;
}

.p-4 {
  padding: ($spacer * 1.5);
}

.p-5 {
  padding: ($spacer * 3);
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: ($spacer * 0.25);
}

.pl-2 {
  padding-left: ($spacer * 0.5);
}

.pl-3 {
  padding-left: $spacer;
}

.pl-4 {
  padding-left: ($spacer * 1.5);
}

.pl-5 {
  padding-left: ($spacer * 3);
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: ($spacer * 0.25);
}
.pr-2 {
  padding-right: ($spacer * 0.5);
}
.pr-3 {
  padding-right: $spacer;
}

.pr-4 {
  padding-right: ($spacer * 1.5);
}

.pr-5 {
  padding-right: ($spacer * 3);
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: ($spacer * 0.25);
}
.pt-2 {
  padding-top: ($spacer * 0.5);
}
.pt-3 {
  padding-top: $spacer;
}

.pt-4 {
  padding-top: ($spacer * 1.5);
}

.pt-5 {
  padding-top: ($spacer * 3);
}

.pb-0 {
  padding-top: 0;
}

.pb-1 {
  padding-bottom: ($spacer * 0.25);
}
.pb-2 {
  padding-bottom: ($spacer * 0.5);
}
.pb-3 {
  padding-bottom: $spacer;
}

.pb-4 {
  padding-bottom: ($spacer * 1.5);
}

.pb-5 {
  padding-bottom: ($spacer * 3);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: ($spacer * 0.25);
  padding-right: ($spacer * 0.25);
}
.px-2 {
  padding-left: ($spacer * 0.5);
  padding-right: ($spacer * 0.5);
}
.px-3 {
  padding-left: $spacer;
  padding-right: $spacer;
}

.px-4 {
  padding-left: ($spacer * 1.5);
  padding-right: ($spacer * 1.5);
}

.px-5 {
  padding-left: ($spacer * 3);
  padding-right: ($spacer * 3);
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.py-1 {
  padding-bottom: ($spacer * 0.25);
  padding-top: ($spacer * 0.25);
}
.py-2 {
  padding-bottom: ($spacer * 0.5);
  padding-top: ($spacer * 0.5);
}
.py-3 {
  padding-bottom: $spacer;
  padding-top: $spacer;
}

.py-4 {
  padding-bottom: ($spacer * 1.5);
  padding-top: ($spacer * 1.5);
}

.py-5 {
  padding-bottom: ($spacer * 3);
  padding-top: ($spacer * 3);
}

.mx-auto {
  margin: 0 auto;
}
