<section class="vf-image-block">
  <div class="vf-image-block__body">
    <div class="vf-image-block__media">
      <img src="./example_square.png" />
    </div>
    <div class="vf-image-block__content">
      <h3 class="vf-image-block__title">Headline in two lines goes here</h3>
      <div class="vf-image-block__text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis
          non nisl ac lacinia. Sed euismod ante sit amet tellus porta efficitur.
          Aliquam quis felis eros. Praesent id venenatis tortor.
        </p>
        <a class="vf-link-with-arrow" href="#">Button Label</a>
      </div>
    </div>
  </div>
</section>
