<h3>Default inputs</h3>
<p>
  To use rising/top-aligned label, the input <strong>must</strong> have a
  placeholder with a value. This behaviour is required to keep our Inputs free
  from JS. <br />Example:
</p>
Fixed label:
<pre>
&lt;input placeholder="" id="vf_standard_input"
    class="vf-input" /&gt;</pre
>
<div class="vf-input__container">
  <input type="text" id="vf_standard_input" class="vf-input" />
  <label for="vf_standard_input" class="vf-input__label" id="vf_standard_label"
    >Fixed Label
  </label>
</div>
Rising label:
<pre>
&lt;input placeholder="value" id="vf_standard_input"
    class="vf-input" /&gt;</pre
>
<div class="vf-input__container">
  <input placeholder=" " type="text" id="vf_standard_input" class="vf-input" />
  <label for="vf_standard_input" class="vf-input__label" id="vf_standard_label"
    >Rising Label
  </label>
</div>

<h3>Standard input</h3>
<p>This is the look and feel for the default input for Vattenfall.</p>
<div class="vf-input__container">
  <input placeholder=" " type="text" id="vf_standard_input" class="vf-input" />
  <label for="vf_standard_input" class="vf-input__label" id="vf_standard_label"
    >Standard Input
  </label>
</div>

<h3>Warning state</h3>
<p>
  All inputs have a warning state, just use the class
  <code>vf-input--warning</code>.
</p>

<div class="vf-input__container">
  <input
    placeholder=" "
    type="text"
    id="vf_warning_state_input"
    class="vf-input vf-input--warning"
  />
  <label
    for="vf_warning_state_input"
    id="vf_warning_state_label"
    class="vf-input__label"
    >Warning State Label</label
  >
</div>

<h3>Error state</h3>
<p>
  All inputs have an error state, with an error text attached. Use the class
  <code>vf-input--error</code> to display error state. The text is hidden by
  default, but in this example you can write 'Error' to show the text. This
  logic you will have to set yourself.
</p>

<div class="vf-input__container">
  <input
    placeholder=" "
    type="text"
    id="vf_error_state_input"
    class="vf-input vf-input--error"
  />
  <label
    for="vf_error_state_input"
    id="vf_error_state_label"
    class="vf-input__label"
    >Error State Label</label
  >
  <p class="vf-input--error-text">Error text</p>
</div>

<h3>Underlined input</h3>
<p>
  If you want the underlined look for your inputs, use
  <code>vf-input--underline</code>.
</p>

<div class="vf-input__container">
  <input
    placeholder=" "
    type="text"
    id="vf_underline_input"
    class="vf-input vf-input--underline"
  />
  <label
    class="vf-input__label"
    id="vf_underline_label"
    for="vf_underline_input"
    >Underline Label</label
  >
</div>

<h3>Tooltip</h3>
<p>
  If you would like to add a input with a tooltip, use the
  <code>data-tooltip</code> parameter. The default icon used for this, is
  <code>vf-icon-help</code>. If you would like to use another icon from
  Vattenfalls icon library, you can use the parameter
  <code>data-icon</code> i.e. <code>data-icon='vf-icon-chademo'</code>, but you
  will have to apply your own styles.
</p>
<div class="vf-input__container">
  <input
    placeholder=" "
    type="text"
    id="vf_tooltip_input"
    class="vf-input"
    data-tooltip="Tooltip text"
  />
  <label for="vf_standard_input" class="vf-input__label" id="vf_tooltip_label">
    Standard Label
  </label>
</div>
