@use '../../structure/grid' as *;

.vf-grid--three-column {
  @media screen and (max-width: 375px) {
    grid-template-columns: repeat(3, minmax(72px, 1fr));
    padding: 0;
    width: auto;
  }

  @media screen and (min-width: 1440px) {
    grid-gap: 10px;
    grid-template-columns: repeat(12, minmax(85px, 1fr));
    padding: 156px 156px 73px 156px;
  }
}
