<section class="animatedkeynumberblock vf-container vf-js-the-edit">
  <div class="vf-row">
    <div class="akeynum vf-col-12 vf-col-md-12 vf-col-lg-4">
      <div class="type">Celsius</div>
      <div class="number">
        <span
          class="nr"
          data-counter
          data-startingnr="2.0"
          data-originalnr="1.5"
        >
          1.5
        </span>
        °
      </div>
      <div class="heading">
        Tightened climate targets, to reach net zero in our full value chain by
        2040.
      </div>
      <div class="copy"></div>
    </div>
    <div class="akeynum vf-col-12 vf-col-md-12 vf-col-lg-4">
      <div class="type">Billion SEK</div>
      <div class="number">
        <span class="nr" data-counter data-startingnr="0" data-originalnr="24">
          24
        </span>
      </div>
      <div class="heading">
        Investments in 2021 (€2.34 bn), including SEK 11 bn in wind &amp; SEK 6
        bn into electricity grids.
      </div>
      <div class="copy"></div>
    </div>
    <div class="akeynum vf-col-12 vf-col-md-12 vf-col-lg-4">
      <div class="type">Billion SEK</div>
      <div class="number">
        <span class="nr" data-counter data-startingnr="0" data-originalnr="55">
          55
        </span>
      </div>
      <div class="heading">
        Total planned net investments for 2022 and 2023 (€5.37 bn).
      </div>
      <div class="copy"></div>
    </div>
    <div class="akeynum vf-col-12 vf-col-md-12 vf-col-lg-4">
      <div class="type">Multiply by</div>
      <div class="number">
        <span class="nr" data-counter data-startingnr="0" data-originalnr="4">
          4
        </span>
        X
      </div>
      <div class="heading">
        Commissioned solar &amp; wind capacity added by 2030 compared to 2020.
      </div>
      <div class="copy"></div>
    </div>
    <div class="akeynum vf-col-12 vf-col-md-12 vf-col-lg-4">
      <div class="type">Percent</div>
      <div class="number">
        <span class="nr" data-counter data-startingnr="0" data-originalnr="55">
          55
        </span>
      </div>
      <div class="heading">
        Reduction in absolute Scope 1+2 CO2 emissions since 2017-2021.
      </div>
      <div class="copy"></div>
    </div>
    <div class="akeynum vf-col-12 vf-col-md-12 vf-col-lg-4">
      <div class="type">Net</div>
      <div class="number">ZERO</div>
      <div class="heading">Across the full value chain by 2040.</div>
      <div class="copy"></div>
    </div>
  </div>
</section>
