@import '@vf-dds/vf-dds-vanilla/src/style/component-css/hero.css';

.hero {
  padding-top: 60px;
}

.vf-hero__image-container {
  background-image: url('../../../node_modules/@vf-dds/vf-dds-vanilla/src/examples/modules/hero/example.jpeg');
}
