<p>
  All of these are alternate version of the ones above. They use the same
  behaviour.
</p>

<div class="vf-alt-input-container">
  <input
    type="text"
    id="vf_alt_input"
    class="vf-alt-input"
    placeholder="Input Text"
  />
  <label class="vf-alt-input-label" for="vf_alt_input">Label</label>
</div>

<div class="vf-alt-input-container">
  <input
    type="text"
    id="vf_alt_tooltip_input"
    class="vf-alt-input"
    placeholder="Input Text"
    data-tooltip="Tooltip text"
  />
  <label class="vf-alt-input-label" for="vf_alt_tooltip_input"
    >Tooltip Label</label
  >
</div>

<div class="vf-alt-input-container">
  <input
    type="text"
    id="vf_alt_error_state_input"
    placeholder="Input Text"
    class="vf-alt-input vf-alt-input--error"
  />
  <label class="vf-alt-input-label" for="vf_alt_error_state_input">Label</label>
  <p class="vf-alt-input--error-text">Error text</p>
</div>

<div class="vf-alt-input-container">
  <input
    type="text"
    id="vf_alt_input"
    class="vf-alt-input"
    placeholder="Input Text"
  />
  <label class="vf-alt-input-label" for="vf_alt_input">Label</label>
  <span class="vf-alt-input--detailed-text"
    >Detailed information text here</span
  >
</div>
